.InventorySec{
    padding: 100px 0px;
}
.InventoryData{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.InvetHead h2 , .ManageHead h2{
    font-size: 34px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    font-family: var(--grotesk-font);
    margin: 0;
}
.InvetHead h2 span , .ManageHead h2 span{
    color: var(--chilli-red);
}
.InventoryGrph{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.Inventrygrphdiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.invtaprch{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.invtaprch h6{
    color: var(--black-text);
    font-family: var(--grotesk-font);
    margin: 0;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    font-size: 18px;
}


/* ManageInvtDiv */


.ManageHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ManageHead a , .ProcdpkgHead a{
    padding: 14px 24px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 19px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    font-family: var(--grotesk-font);
    color: #fff;
    background: var(--chilli-red);
    border: 1px solid var(--chilli-red);
}
.ManageHead a:hover , .ProcdpkgHead a:hover{
    color: var(--chilli-red);
    background: transparent;
}


.ManageInvtTabs .nav-tabs{
    border: none;
    min-height: 44px;
}
.ManageInvtTabs .nav-tabs .nav-item button {
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    padding: 10px 10px 12px 10px !important;
    color: #747473;
    background: transparent;
    position: relative; /* Required for the pseudo-element */
    transition: color 0.3s ease; /* Smooth transition for the text color */
    min-height: 44px;
    font-family: var(--satoshi-font);
}
.ManageInvtTabs .nav-tabs .nav-item button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #D04122;
    transition: width 0.5s ease;
}
.ManageInvtTabs .nav-tabs .nav-item button.active {
    color: #302F2E;
}
.ManageInvtTabs .nav-tabs .nav-item button.active::after {
    width: 100%;
}
.InvttabsInner .topInner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.InvttabsInner .lftinnr{
    display: flex;
    align-items: center;
    gap: 10px;
}
.lftinnr .srchbr{
    position: relative;
    border: 1px solid #37223CB2;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    width: 190px;
    height: 40px;
}
.lftinnr .srchbr input{
    width: 100%;
    border: none;
    background: transparent;
    color: #312943;
    font-size: 14px;
    font-weight: 400;
    padding: .375rem 0 .375rem .75rem;
}
.lftinnr .srchbr input::placeholder{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #312943;
}
.lftinnr .srchbr svg{
    color: var(--chilli-red);
    position: absolute;
    right: 15px;
    font-size: 20px;
}
.lftinnr select{
    border-radius: 28px;
    padding: 10px 16px;
    background-color: transparent;
    max-width: 137px;
    border: 1px solid #37223CB2 !important;
}
.lftinnr select:focus{
    border: 1px solid #37223CB2 !important;
}
.Rytinnr{
    display: flex;
    align-items: center;
    gap: 5px;
}




/* ProcedurePackage  */

.ProcdpkgHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ProcdpkgHead h4{
    font-family: var(--grotesk-font);
    font-size: 33px;
    font-weight: 500;
    line-height: 39.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}


/* ProcedurePackage  */