
.DevlpHeroSec{
    padding: 100px 0px;
}
.DevlpHeroData{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.LeftDevBanr h2{
    font-family: var(--grotesk-font);
    font-size: 57px;
    font-weight: 500;
    line-height: 68.4px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.LeftDevBanr h2 span{
    color: var(--chilli-red);
}
.LeftDevBanr p{
    width: 100%;
    max-width: 550px;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.RytDevBanr img{
    width: 100%;
}

/* DevlYousmiteSec */

.DevlYousmiteSec{
    padding: 100px 0px;
}
.YousmiteCrew{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.YousmiteCrew p{
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--chilli-red);
    margin: 0;
}
.YousmiteCrew h4{
    font-family: var(--grotesk-font);
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.DevYousmiteBoxed{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0px;
    position: relative;
}
.DevYousmiteBoxed::after{
    position: absolute;
    content: " ";
    background: var(--background-image)no-repeat;
    background-size: 100% 100%;
    height: 223px;
    width: 223px;
    top: 55%;
    left: 50%;
    transform: translate(-50% , -55%);
}
.DevCrewBox{
    background: #FFFFFF;
    padding: 32px 28px;
    border-radius: 28px;
    overflow: hidden;
}
.crewText {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.crewText h3{
    font-family: var(--grotesk-font);
    font-size: 28px;
    font-weight: 500;
    line-height: 28.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.crewText p{
    font-size: 14px;
    font-weight: 400;
    line-height: 18.6px;
    letter-spacing: -0.02em;
    color: #747473;
    margin: 0;
}
.crewbox1{
    width: 305px;
    height: 279px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.crewbox1 img{
    position: absolute;
    right: 50px;
    bottom: 0;
}
.crewbox2{
    width: 522px;
    height: 283px;
    display: flex;
    align-items: center;
    gap: 32px;
}
.crewbox3{
    width: 413px;
    height: 283px;
    display: flex;
    align-items: center;
    position: relative;
}
.crewbox3 .crewText{
    width: 220px;
}
.crewbox3 img{
    position: absolute;
    right: 0;
}
.crewbox4{
    width: 522px;
    height: 287px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.crewbox5{
    width: 413px;
    height: 287px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}
.crewbox6{
    width: 305px;
    height: 286px;
    display: flex;
    position: relative;
}
.crewbox6 .crewText{
    width: 180px;
}
.crewbox6 img{
    position: absolute;
    right: 0;
    bottom: -32px;
}


/* DevlpToolSec */

.DevlpToolSec{
    padding: 200px 0px 0px 0px;
    position: relative;
    background: linear-gradient(0deg, #F2DBBF, #F2DBBF);
}
.DevlpToolSec::after{
    content: " ";
    position: absolute;
    background: var(--background-img)no-repeat;
    background-size: 100% 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 150px;
}
.TopResorchTool{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftResorch p{
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--chilli-red);
}
.leftResorch h4{
    font-family: var(--grotesk-font);
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
    max-width: 524px;
}
.RytResorch p{
    max-width: 478px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}

.BottomResorchTool{
    padding: 50px 0px;
}






/* SimpleStepSec */

.SimpleStepSec{
    padding: 200px 0px 100px 0px;
    position: relative;
}
.SimpleStepSec::before{
   content: " ";
   position: absolute;
   background: var(--background-StepAfter)no-repeat;
   background-size: 100% 100%;
   width: 100%;
   left: 0px;
   top: 0;
   height: 147px;
}
.StepsData{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.leftSimpleStep{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.leftSimpleStep p , .DevPriceHead p{
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--chilli-red);
    margin: 0;
}
.leftSimpleStep h2{
    font-family: var(--grotesk-font);
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
    max-width: 616px;
}

.RytSimpleStep{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.Stepitems{
    display: flex;
    gap: 40px;
}
.Stepitems .Stepstext{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.Stepitems .Stepstext h4{
    font-family: var(--grotesk-font);
    font-size: 30px;
    font-weight: 500;
    line-height: 28.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.Stepitems .Stepstext p{
    font-size: 16px;
    font-weight: 400;
    line-height: 16.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}

/* DevlpPricingSec */

.DevlpPricingSec{
    position: relative;
    padding: 0px 0px 200px 0px;
    z-index: 1;
}
.DevlpPricingSec::after{
    content: " ";
    position: absolute;
    background: var(--background-PricSecafter)no-repeat;
    background-size: 100% 100%;
    width: 744px;
    left: -150px;
    top: -191px;
    height: 744px;
    z-index: -1;
}
.DevPriceHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.DevPriceHead h2{
    font-family: var(--grotesk-font);
    font-size: 40px;
    font-weight: 500;
    line-height: 48.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.DevPriceCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 100px;
}
.DevPricBox{
    width: 350px;
    height: 352px;
    border-radius: 24px;
    padding: 180px 40px 64px 40px;
    background: #8AC1B1;
    box-shadow: 0px 0px 28px 0px #00000014;
    position: relative;
    overflow: hidden;
}
.DevPricBox::after{
    content: " ";
    position: absolute;
    background: var(--background-DevPricBox1)no-repeat;
    background-size: 100% 100%;
    width: 116px;
    left: -8px;
    top: 30px;
    height: 145px;
    filter: drop-shadow(8px 8px 20px  #00000018);
}
.DevPricBox:nth-of-type(2){
    background: #8E88D2;
}
.DevPricBox:nth-of-type(3){
    background: #FDBD74;
}
.DevPricBox .devpboxtext{
    max-width: 270px;
    display: flex;
    flex-direction: column;
    gap: 4px; 
}
.DevPricBox .devpboxtext h4{
    font-family: var(--grotesk-font);
    font-size: 34px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 0;
}
.DevPricBox .devpboxtext p{
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #FFFEFE;
    margin: 0;
}
.DevPricBox:nth-of-type(2)::after{
    background: var(--background-DevPricBox2)no-repeat;
    background-size: 100% 100%;
    width: 145px;
    left: 0px;
    top: 32px;
    height: 125px;
}
.DevPricBox:nth-of-type(3)::after{
    background: var(--background-DevPricBox3)no-repeat;
    background-size: 100% 100%;
    width: 150px;
    left: 0px;
    top: 32px;
    height: 150px;
}

/* DevlpBuildSec */

.DevlpBuildSec{
    padding: 0px 0px 200px 0px;
}
.ReadyBuildData{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #FEF8F4;
    box-shadow: 0px 0px 18px -5px #5541341F;
    border-radius: 38px;
    width: 100%;
    max-width: 1064px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.ReadyBuildData::after{
    content: " ";
    position: absolute;
    background: var(--background-lftbuildafter)no-repeat;
    background-size: 100% 100%;
    width: 386px;
    left: -190px;
    top: 30px;
    height: 386px;
    z-index: -1;
}
.ReadyBuildData::before{
    content: " ";
    position: absolute;
    background: var(--background-rgtbuildafter)no-repeat;
    background-size: 100% 100%;
    width: 386px;
    right: -190px;
    top: 30px;
    height: 386px;
    z-index: -1;
}
.leftBuild{
    border-radius: 38px 0px 0px 38px;
    background: #FEF8F4;
}
.leftBuilinner{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 422px;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    gap: 28px;
}
.leftBuild h4{
    font-size: 36px;
    font-weight: 500;
    line-height: 38.6px;
    letter-spacing: -0.02em;
    font-family: var(--grotesk-font);
    color: var(--chilli-red);
}
.leftBuild p{
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.RytBuild {
    border-radius: 0px 38px 38px 0px;
    overflow: hidden;
}
.RytBuild img{
    width: 100%;
    max-height: 433px;
    transition: all ease-in-out 0.3s;
}
.ReadyBuildData:hover .RytBuild img{
    transform: scale(1.1);
    
}