/* SettingsPage.css */

.SettingPageSec {
  padding: 80px 0;
  min-height: 100vh;
}
.SettingPageSec .SettingData{
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 850px;
}
.SettingPageSec .SettingData h4{
  margin: 0;
  color: var(--black-text);
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
}

/* SettingFormDiv Started  */
.SettingFormDiv .SettingInnerprofile{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SettingFormDiv .SettingInnerprofile .SetProfile{
  border-radius: 50%;
  border: 1.5px solid var(--skytext);
}
.SettingFormDiv .SettingInnerprofile .SetProfile img{
  border-radius: 50%;
  object-fit: cover;
}
.SettingFormDiv .SettingInnerprofile h3{
  max-width: 432px;
  margin: 0;
  color: var(--black-text);
  font-size: 33px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
}
.SettingFormDiv .SettingInnerprofile button{
  min-height: 48px;
  min-width: 100px;
  border-radius: 28px;
  background: var(--black-bg);
  border: 1px solid var(--black-bg) !important;
  padding: 14px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
  color: var(--white-text);
  font-size: 19px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
}
.SettingFormDiv .SettingInnerprofile button:hover{
  background: transparent;
  border: 1px solid var(--black-bg) !important;
  color: var(--black-text);
}
.SettingData .SettingFormDiv{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--lightgrey);
}
.SettingData .SettingFormDiv .SettinginnerItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  min-height: 67px;
  border-bottom: 1px solid var(--lightgrey);
}
.SettingData .SettingFormDiv .SettinginnerItem:last-child{
  border-bottom: none;
}
.SettingData .SettingFormDiv .SettinginnerItem h6{
  margin: 0;
  color: var(--black-text);
  font-size: 19px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
  display: flex;
  align-items: center;
  gap: 20px;
}
.SettingData .SettingFormDiv .SettinginnerItem h6 span{
  margin: 0;
  color: var(--skytext);
  font-size: 13px;
  font-weight: 700;
  line-height: 120%;
  font-family: var(--satoshi-font);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--lightblue);
  padding: 4px 8px;
  border: 0.75px solid var(--skytext);
  border-radius: 8px;
}
.SettingData .SettingFormDiv .SettinginnerItem button{
  color: var(--black-text);
  background: transparent !important;
  padding: 0px !important;
  border: none !important;
}
/* SettingFormDiv Ended  */

















.SettingPageSec .SettingData .SettingAccordian{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.SettingAccordian .accordion-item{
  border: 1px solid var(--lightgrey);
  background: var(--whitebg);
  border-radius: 24px;
  margin: 0;
}
.SettingAccordian .accordion-item.Notificationitem .accordion-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0px 20px 20px 20px !important;
}
.SettingAccordian .accordion-item .accordion-button.collapsed{
  color: var(--black-text);
  font-size: 19px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
  border: none;
  box-shadow: none;
}
.SettingAccordian .accordion-item .accordion-button:not(.collapsed){
  background: transparent;
  color: var(--black-text);
  font-size: 19px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
  border: none;
  box-shadow: none;
}

/* === Practicing Team Started === */

.SettingAccordian .accordion-item .PracticingTeamDiv , .SettingAccordian .accordion-item .SetNotifylTabs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 60px;
}
.SettingAccordian .accordion-item .PracticingTeamDiv .Practicinginner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--lightgrey);
  min-height: 67px;
}
.SettingAccordian .accordion-item .PracticingTeamDiv .Practicinginner .PractInfo{
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.SettingAccordian .accordion-item .PracticingTeamDiv .Practicinginner .PractInfo img{
  border-radius: 50%;
  border: 1.5px solid var(--skytext);
  object-fit: cover;
}
.SettingAccordian .accordion-item .PracticingTeamDiv .Practicinginner .PractInfo h6{
  font-family: var(--satoshi-font);
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: var(--notibg);
  margin: 0;
}
.SettingAccordian .accordion-item .PracticingTeamDiv .Practicinginner .PractInfo p{
  font-family: var(--satoshi-font);
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  color: var(--greyborder);
}
.SettingAccordian .accordion-item .PracticingTeamDiv .Practicinginner button{
  background: transparent !important;
  border: none !important;
  padding: 0;
  color: var(--black-bg);
}
.SettingAccordian .accordion-item .PracticingTeamDiv .Prctadbtn{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.SettingAccordian .accordion-item .PracticingTeamDiv .Prctadbtn button{
  min-height: 48px;
  min-width: 80px;
  border-radius: 28px;
  background: var(--black-bg);
  border: 1px solid var(--black-bg) !important;
  padding: 14px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
  color: var(--white-text);
  font-size: 19px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
}
.SettingAccordian .accordion-item .PracticingTeamDiv .Prctadbtn button:hover{
  background: transparent;
  border: 1px solid var(--black-bg) !important;
  color: var(--black-text);
}
/* === Practicing Team Endded === */




/* === Notification Started === */


/* === Notification Endded === */

.SettingAccordian .accordion-item .SetNotifylTabs .NotifyTogleDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--lightgrey);
  min-height: 67px;
}
.SettingAccordian .accordion-item .SetNotifylTabs .NotifyTogleDiv .notinfo{
  max-width: 283px;
  padding: 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.SettingAccordian .accordion-item .SetNotifylTabs .NotifyTogleDiv .notinfo h6{
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  font-family: var(--satoshi-font);
  margin: 0;
  color: var(--notibg);
}
.SettingAccordian .accordion-item .SetNotifylTabs .NotifyTogleDiv .notinfo p{
  font-size: 13px;
  line-height: 120%;
  font-weight: 400;
  font-family: var(--satoshi-font);
  color: var(--black-grey-Text);
  margin: 0;
}

/* SecuritySetItem Started  */
.SettingAccordian .SecuritySetItem .accordion-body{
  padding-top: 0px !important;
}
.SettingAccordian .SecuritySetItem .SecurtSetTabs{
  border: 1px solid var(--lightgrey);
  background: var(--whitebg);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}
.SettingAccordian .SecuritySetItem .SecurtSetTabs h4{
  color: var(--notibg);
  font-size: 19px;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
  font-family: var(--grotesk-font);
}
.SettingAccordian .SecuritySetItem .SecurtSetTabs span{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--satoshi-font);
  color: var(--notibg);
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}
.SettingAccordian .SecuritySetItem .SecurtSetTabs .TwoStepCode{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  border-radius: 24px;
}
.SettingAccordian .SecuritySetItem .SecurtSetTabs .TwoStepCode p{
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-family: var(--satoshi-font);
  color: var(--black-text);
  margin: 0;
}
.SettingAccordian .SecuritySetItem .SecurtSetTabs .TwoStepCode .veryfycontrol {
  position: relative;
}
.SettingAccordian .SecuritySetItem .SecurtSetTabs .TwoStepCode .veryfycontrol input{
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: var(--satoshi-font);
  color: var(--black-text);
  margin: 0;
  border: 1px solid var(--black-grey);
  min-height: 48px;
  border-radius: 16px;
  padding: 0px 16px;
}
.SettingAccordian .SecuritySetItem .SecurtSetTabs .TwoStepCode .veryfycontrol input::placeholder{
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: var(--satoshi-font);
  color: var(--black-text);
  margin: 0;
}
.SettingAccordian .SecuritySetItem .SecurtSetTabs .TwoStepCode svg{
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
}

/* SecuritySetItem Ended */


/* DeleteInformationItem Started */

.DeleteInfoDiv{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.DeleteInfoDiv .DeleteBtn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.DeleteInfoDiv .DeleteBtn button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  min-width: 80px;
  padding: 10px 16px;
  border-radius: 28px;
  min-height: 39px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  background: transparent;
  color: var(--black-text);
  border: 1px solid var(--black-bg);
}
.DeleteInfoDiv .DeleteBtn button:hover{
  background: var(--black-bg);
  color: var(--white-text);
}
.DeleteInfoDiv .DeleteReports{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 116px;
  border-bottom: 1px solid var(--lightgrey);
}
.DeleteInfoDiv .DeleteReports:last-child{
  border-bottom: none;
}
.DeleteInfoDiv .DeleteReports .Deltecheck{
  display: flex;
  align-items: center;
  gap: 8px;
}
.DeleteInfoDiv .DeleteReports .Deltecheck img{
  object-fit: cover;
  border-radius: 50%;
  border: 0.67px solid var(--blue-text);
}
.DeleteInfoDiv .DeleteReports .Deltecheck .DeletTexed h6{
  margin: 0;
  color: var(--black-text);
  font-size: 19px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
}
.DeleteInfoDiv .DeleteReports .Deltecheck .DeletTexed p{
  margin: 0;
  color: var(--black-grey-Text);
  font-size: 13px;
  font-weight: 700;
  line-height: 120%;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: var(--satoshi-font);
}
.DeleteInfoDiv .DeleteReports .DeletMidTexed{
  max-width: 230px;
}
.DeleteInfoDiv .DeleteReports .DeletMidTexed h6{
  margin: 0;
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
  
}
.DeleteInfoDiv .DeleteReports .DeletMidTexed p{
  margin: 0;
  color: var(--black-grey-Text);
  font-family: var(--satoshi-font);
  font-size: 13px;
  font-weight: 700;
  line-height: 120%;
}
.DeleteInfoDiv .DeleteReports .DelteDoctDiv{
  display: flex;
  align-items: center;
  gap: 20px;
}
.DeleteInfoDiv .DeleteReports .DelteDoctDiv svg{
  cursor: pointer;
}
.DeleteInfoDiv .DeleteReports .DelteDoctDiv .DeletThumnil{
  position: relative;
  background: #00000080;
}
.DeleteInfoDiv .DeleteReports .DelteDoctDiv .DeletThumnil::after{
  content: " ";
  position: absolute;
  background: #00000080;
  width: 100%;
  height: 100%;
  left: 0;
}
.DeleteInfoDiv .DeleteReports .DelteDoctDiv .DeletThumnil img{
  object-fit: cover;
  border: 1px solid var(--black-grey);
}
.DeleteInfoDiv .DeleteReports .DelteDoctDiv .DeletThumnil a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF80;
}
.DeleteInfoDiv .ReportBottom p{
  margin: 0;
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
.DeleteInfoDiv .ReportBottom p span{
  color: var(--blue-text);
}


/* DeleteInformationItem Ended */


/* Feedback Started */

.FeedBackitem .FeedbackInnerDiv{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.FeedBackitem .FeedbackInnerDiv .feedbackCard{
  border: 1px solid var(--lightgrey);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 24px;
  background: var(--whitebg);
}
.FeedBackitem .FeedbackInnerDiv .feedbackCard .FeedBackTopItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.FeedBackitem .FeedbackInnerDiv .feedbackCard .FeedBackUser{
  display: flex;
  align-items: center;
  gap: 8px;
}
.FeedBackitem .FeedbackInnerDiv .feedbackCard .FeedBackUser img{
  border: 0.67px solid var(--blue-text);
  border-radius: 50%;
  object-fit: cover;
}
.FeedBackitem .FeedbackInnerDiv .feedbackCard .FeedBackUser .feedbackhead h4{
  margin: 0;
  color: var(--black-text);
  font-size: 19px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
}
.FeedBackitem .FeedbackInnerDiv .feedbackCard .FeedBackUser .feedbackhead p{
  margin: 0;
  color: var(--notibg);
  font-size: 13px;
  font-weight: 700;
  line-height: 120%;
  font-family: var(--satoshi-font);
}
.FeedBackitem .FeedbackInnerDiv .feedbackCard .FeedBackUser .feedbackhead p img{
  border: none !important;
  
}
.FeedBackitem .FeedbackInnerDiv .feedbackCard .FeedBackTopItem button{
  padding: 0;
  border: none !important;
  line-height: 0;
  background: transparent !important;
  color: var(--black-bg);
}
.FeedBackTopItem .FeedBackUser .feedbackhead h4{
  margin: 0;
  color: var(--black-text);
  font-size: 19px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
}
.FeedBackTopItem .FeedBackUser .feedbackhead p{
  margin: 0;
  color: var(--black-text);
  font-size: 19px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
  display: flex;
  align-items: center;
  gap: 4px;
}
.feedbackCard .FeedbackContent{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.feedbackCard .FeedbackContent .FeedDated{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedbackCard .FeedbackContent .FeedDated h6{
  margin: 0;
  color: var(--black-text);
  font-weight: 500;
  font-family: var(--grotesk-font);
  font-size: 16px;
  line-height: 120%;
}
.feedbackCard .FeedbackContent .FeedDated p{
  margin: 0;
  color: var(--black-text);
  font-weight: 500;
  font-family: var(--grotesk-font);
  font-size: 16px;
  line-height: 120%;
  display: flex;
  align-items: center;
  gap: 4px;
}
.feedbackCard .FeedbackContent .FeedbackPara{
  margin: 0;
  color: var(--black-text);
  font-weight: 400;
  font-family: var(--satoshi-font);
  font-size: 18px;
  line-height: 120%;
  display: flex;
  align-items: center;
  gap: 4px;
}
.FeedMore{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.FeedMore button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 10px 16px;
  border-radius: 28px;
  background: var(--black-bg) !important;
  color: var(--white-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
  border: 1px solid var(--black-bg) !important;
}
.FeedMore button:hover{
  background: transparent !important;
  color: var(--black-text);
}

/* Feedback Ended */



.SettingModal .modal-dialog-centered{
  justify-content: center;
}
.SettingModal .modal-content{
  min-width: 847px;
  border-radius: 28px !important;
  border: 1px solid var(--profileborder) !important;
  padding: 40px !important;
  position: relative;
}
.SettingModal .modal-content .modal-body{
  padding: 0px !important;
}
.SettingModal .modal-content .modal-body .SetBussinesDiv form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.SettingModal .modal-content .modal-body .SetBussinesDiv form .SetFormBtn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.SettingModal .modal-content .modal-body .SetBussinesDiv form .SetFormBtn button{
  background: var(--black-bg) !important;
  padding: 4px !important;
  line-height: 0 !important;
  border: 1px solid var(--black-bg) !important;
  border-radius: 28px;
  padding: 16px 32px !important;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 23px;
  line-height: 120%;
  font-family: var(--grotesk-font);
  color: var(--white-text) !important;
}
.SettingModal .modal-content .modal-body .SetBussinesDiv form .SetFormBtn button:hover{
  background: transparent !important;
  color: var(--black-text) !important;
}
.SettingModal .ModalCrossBtn{
  position: absolute;
  top: 25px;
  right: 25px;
}
.SettingModal .ModalCrossBtn button{
  background: var(--black-bg) !important;
  padding: 4px !important;
  line-height: 0 !important;
  border: none !important;
}
.SettingModal .ModalCrossBtn button svg{
  color: var(--whitebg);
}



.SettingModal .modal-content .modal-body .AddressSettingDiv , .SettingModal .modal-content .modal-body .SetServicesDiv{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.SettingModal .modal-content .modal-body .AddressSettingDiv h2 , .SettingModal .modal-content .modal-body .SetServicesDiv h2{
  margin: 0;
  font-family: var(--grotesk-font);
  font-size: 33px;
  line-height: 120%;
  color: var(--black-text);
}
.SettingModal .modal-content .modal-body .AddressSettingDiv h2 span , .SettingModal .modal-content .modal-body .SetServicesDiv h2 span{
  color: var(--black-grey-Text);
}
.SettingModal .modal-content .modal-body .AddressSettingDiv .AdressInner, .SettingModal .modal-content .modal-body .SetServicesDiv .SetServicesInner{
  border: 1px solid #5D412F26;
  padding: 40px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.SettingModal .modal-content .modal-body .AddressSettingDiv .AdressInner h6{
  margin: 0;
  font-size: 23px;
  font-weight: 500;
  line-height: 120%;
  color: var(--black-text);
  font-family: var(--grotesk-font);
}
.SettingModal .modal-content .modal-body .AddressSettingDiv .AdressInner form{
  display: flex;
  flex-direction: column;
  gap: 32px;
}