.WiseHeadDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.WiseHeadDiv h4{
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: -0.02em;
    color: #302F2E;
    font-family: var(--grotesk-font);
    margin: 0;
}
.DoctWiseSeclt{
    display: flex;
    align-items: center;
    gap: 25px;
}
.DoctWiseSeclt .form-select{
    background-color: transparent;
    border: 1px solid #37223CB2;
    border-radius: 36px;
    padding: 10px 24px;
    position: relative;
    font-family: 'ClashGrotesk-Variable';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    opacity: 70%;
    height: 48px;
}
.DoctWiseSeclt .form-select:focus{
    border-color: #37223CB2 !important;
}



.DoctWiseableDiv{
    width: 100%;
    background: #FFFFFF;
    padding: 24px;
    box-shadow: 4px 4px 18px -5px #55413414;
    border-radius: 26px;
    display: block;
    overflow-x: auto;
}
.DoctWiseableDiv thead tr , .DoctWiseableDiv tbody tr{
    width: 100%;
    display: grid;
    grid-template-columns: 60px 560px 200px 200px 200px;
    align-items: flex-start;
    padding: 20px 0px;
    border-bottom: 1px solid #5D412F26;
}
.DoctWiseableDiv tbody tr:last-child{
    border-bottom: none;
}
.DoctWiseableDiv thead tr th {
    opacity: 70%;
    font-family: 'Satoshi-Variable';
}

.DoctWiseableDiv tbody tr td{
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    font-family: 'Satoshi-Variable';
}
.DoctWiseableDiv tbody tr td span{
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #747473;
    font-family: 'Satoshi-Variable';
}
.TBLDIV{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.TBLDIV h4{
    font-family: 'Satoshi-Variable';
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.TBLDIV p{
    font-family: 'Satoshi-Variable';
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.6px;
    letter-spacing: -0.03em;
    color: var(--black-text);
    opacity: 60%;
}




