.Footersec{
    background-color: var(--footbg);
    padding: 0px 50px 25px 50px;
    position: relative;
}
.Footersec::after{
    position: absolute;
    content: " ";
    background: var(--background-image)no-repeat;
    background-size: 100% 100%;
    width: 80px;
    height: 80px;
    top: -35px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.FootTopData{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 70px 0px;

}
.leftFooter img{
    width: 100%;
    max-width: 120px;
}
.RytFooter {
    display: flex;
    justify-content: end;
    gap: 50px;
}

.FtDiv{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.FtDiv h5{
    font-family: var(--grotesk-font);
    color: var(--black-text);
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: 0.02em;

}
.FtLinks{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.FtLinks a{
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    font-family: var(--satoshi-font);
    color: var(--black-text);
}
.FtLinks a:hover{
    color: var(--chilli-red);
    transform: scale(1.1);
}

.Footer_Bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Bootom_Foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

}
.Bootom_Foot h4{
    font-family: var(--satoshi-font);
    color: var(--black-text);
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    margin: 0;

}
.Bootom_Foot p{
    font-family: var(--satoshi-font);
    color: var(--black-text);
    font-size: 13px;
    font-weight: 400;
    line-height: 18.6px;
    letter-spacing: -0.03em;
    margin: 0;
    text-align: center;
}