/* Payments Menthods Started  */
.PaymentsMethodsSec{
    padding: 100px 0px;
}
.PaymetsData{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.PaymentsDivde {
    display: flex;
    justify-content: space-between;
}
.PaymentsDivde .LeftPay {
   width: 100%;
}
.PaymentsDivde .LeftPay .PaymentList {
    display: flex;
    flex-direction: column;
    max-width: 630px;
    width: 100%;
}
.PaymentsDivde .LeftPay .PaymentList .PaymentItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    border-bottom: 1px solid #f0f0f0;
    min-height: 76px;
}
.PaymentsDivde .LeftPay .PaymentList .PaymentItem:last-child {
    border-bottom: none;
}
.PaymentsDivde .LeftPay .PaymentList .PaymentItem .PaymentInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}
.PaymentsDivde .LeftPay .PaymentList .PaymentItem .PaymentInfo h6{
    font-size: 19px;
    font-weight: 500;
    line-height: 120%;
    font-family: var(--grotesk-font);
    margin: 0;
    color: var(--black-text);
}
.PaymentsDivde .RightPay {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 100%;
    max-width: 518px;
}
/* Payments Menthods Ended  */


/* ManageBillingSec Started  */
.ManageBillingSec {
    padding: 100px 0px;
}
/* ManageBillingSec Ended  */