.Hours_List {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.TopHoursTitle,
.DaysRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 80px;
  grid-gap: 10px;
  align-items: center;
}
.DaysRow {
  min-height: 45px;
  align-items: flex-start;
}
.TopHoursTitle p {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  opacity: 70%;
  margin: 0;
}
.time-slot {
  display: flex;
  align-items: center;
  gap: 6px;
}
.day_checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.day_checkbox label {
  font-size: 16px;
  font-weight: 700;
  line-height: 21.6px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  font-family: var(--satoshi-font);
}
.time-slot input[type="text"] {
  width: 40px;
  height: 32px;
  text-align: center;
  border: 0.5px solid #37223cb2;
  border-radius: 4px;
  background: transparent;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  font-family: var(--satoshi-font);
  opacity: 80%;
}
.TimeRadioGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}
.TimeRadioGroup label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.8px;
  letter-spacing: -0.02em;
  color: #37223c;
}
.TimeRadioGroup input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #37223c;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.3s ease;
}
.TimeRadioGroup input[type="radio"]:checked {
  border-width: 3px;
  border-color: var(--chilli-red);
  background: linear-gradient(
    139.66deg,
    rgba(253, 189, 116, 0.5) 18.09%,
    rgba(253, 189, 116, 0.1) 86.04%
  );
}
.TimeRadioGroup input[type="radio"]:checked + label {
  color: var(--chilli-red) !important;
}
.TimeRadioGroup input[type="radio"]:hover {
  border-color: var(--chilli-red);
}
.from-section,
.to-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.actions-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.action-buttons button {
  color: var(--chilli-red);
  background: transparent;
  border: none;
  padding: 0;
}
