.header {
    /* background: var(--mainBg); */
    padding: 10px 80px;
    transition: all 0.5s;
    z-index: 997;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(90deg, rgba(253, 189, 116, 0) 0%, #FDBD74 50%, rgba(253, 189, 116, 0) 100%);
    border-image-slice: 1; 
}
.header .logo {
    padding: 0px;
}
.header .logo img {
    width: 100%;
    max-width: 80px;
}
.header .btn-getstarted,
.header .btn-getstarted:focus {
    color: var(--chilli-red);
    font-family: 'ClashGrotesk-Variable';
    font-size: 18px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.02em;
    text-align: center;
    border: 1px solid var(--chilli-red);
    padding: 10px 24px;
    border-radius: 50px;
}

.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
    color: #fff;
    background: var(--chilli-red);
}


/* Profile div */

.HeaderProfDiv{
    display: flex;
    align-items: center;
    gap: 10px;
}
.NavUL{
    margin: 0;
    padding: 0;
}
.NavUL .nav-item .nav-profile{
    gap: 12px;
}
.nav-profile img{
    width: 100%;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    border: 1.5px solid #CB822F80;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.nav-profile p , .nav-profile span{
    font-family: var(--satoshi-font);
    font-size: 13px;
    font-weight: 700;
    line-height: 15.6px;
    letter-spacing: -0.03em;
    color: var(--black-text);
    margin: 0;
}
.nav-profile span{
    font-size: 25px;
}
.profileUl{
    width: 100%;
    min-width: 240px !important;
    padding-bottom: 0 !important;
    top: 8px !important;
    background: #FEF8F4 !important;
    box-shadow: 0px 0px 20px -12px #5541347a !important;
    width: 100%;
    border: 2px solid !important;
    border-image-source: linear-gradient(90deg, rgba(253, 189, 116, 0) 0%, #FDBD74 50%, rgba(253, 189, 116, 0) 100%) !important;
    border-image-slice: 1 !important;
    border-radius: 12px !important;
}
.dropdown-menu-arrow {
    position: relative;
}
.dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #FEF8F4;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
}
.profileUl li:last-child a:hover{
    border-radius: 0px 0px 12px 12px;
}
.profileUl .dropdown-header {
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
}
.profileUl .dropdown-header h6 , .profileUl .dropdown-header span {
    font-family: var(--satoshi-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 15.6px;
    letter-spacing: -0.03em;
    color: var(--black-text);
    margin: 0;
}
.profileUl .dropdown-header span{
    font-size: 12px;
    font-weight: 400;
}
.profileUl .dropdown-divider{
    margin: 0;
}
.profileUl .dropdown-item {
    padding: 10px 15px;
    transition: 0.3s;
}
.profileUl .dropdown-item span{
    font-size: 14px;
    font-family: var(--satoshi-font);
    font-weight: 500;
    line-height: 15.6px;
    letter-spacing: -0.03em;
    color: var(--black-text);
    margin: 0;
}
  
.profileUl .dropdown-item i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
}
.profileUl .dropdown-item:hover {
    background-color: var(--chilli-red);

}
.profileUl .dropdown-item:hover span , .profileUl .dropdown-item:hover i {
    color: #FFFFFF;
}



@media (max-width: 1200px) {

    /* .header .logo {
        order: 1;
    } */

    .header .btn-getstarted {
        order: 2;
    }
    .header .navmenu {
        order: 3;
    }
}
/* .scrolled .header {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
    background: var(--mainBg);
} */

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Navmenu - Desktop */

@media (min-width: 1200px) {
    .navmenu {
        padding: 0;
    }

    .navmenu ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navmenu li {
        position: relative;
    }

    .navmenu a,
    .navmenu a:focus {
        font-family: 'ClashGrotesk-Variable';
        color: var(--black-text);
        padding: 18px 15px;
        font-size: 16px;
        font-family: var(--grotesk-font);
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        transition: 0.3s;
    }

    .navmenu li:last-child a {
        padding-right: 0;
    }

    .navmenu li:hover>a,
    .navmenu .active,
    .navmenu .active:focus {
        color: var(--chilli-red);
        transition: 0.3s;
    }

    /* .navmenu .dropdown ul {
        margin: 0;
        padding: 10px 0;
        background: var(--nav-dropdown-background-color);
        display: block;
        position: absolute;
        visibility: hidden;
        left: 14px;
        top: 130%;
        opacity: 0;
        transition: 0.3s;
        border-radius: 0;
        z-index: 99;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navmenu .dropdown ul li {
        min-width: 200px;
    }

    .navmenu .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        color: var(--nav-dropdown-color);
    }

    .navmenu .dropdown ul a i {
        font-size: 12px;
    }

    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul li:hover>a {
        background-color: var(--nav-dropdown-hover-color);
    }

    .navmenu .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navmenu .dropdown .dropdown ul {
        top: 0;
        left: -90%;
        visibility: hidden;
    }

    .navmenu .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: -100%;
        visibility: visible;
    } */
}

/* Navmenu - Mobile */

@media (max-width: 1199px) {

.mobile-nav-toggle {
    color: var(--black-text);
    font-size: 28px;
    line-height: 0;
    cursor: pointer;
    transition: color 0.3s;
}
.navmenu {
    padding: 0;
    z-index: 9997;
}
.navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var( --mainBg);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.navmenu a,
.navmenu a:focus {
    color: var(--black-text);
    padding: 10px 20px;
    font-family: var(--grotesk-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
}

.navmenu a i,
.navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: color-mix(in srgb, var(--accent-color), white 90%);
    color: var(--chilli-red);
}

.navmenu a i:hover,
.navmenu a:focus i:hover {
    background-color: color-mix(in srgb, var(--accent-color), white 90%);
    color: var(--chilli-red);
}

.navmenu a:hover,
.navmenu .active,
.navmenu .active:focus {
    color: var(--chilli-red);
}

.navmenu .active i,
.navmenu .active:focus i {
    transform: rotate(180deg);
}

/* .navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: var(--nav-dropdown-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    transition: all 0.5s ease-in-out;
}

.navmenu .dropdown ul ul {
    background-color: rgba(33, 37, 41, 0.1);
}

.navmenu .dropdown>.dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
} */

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 30px;
    right: 35px;
    margin-right: 0;
    z-index: 9999;
}

.mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
}

.mobile-nav-active .navmenu>ul {
    display: block;
}
}

@media (max-width: 991px) {

    .header .btn-getstarted {
        margin-right: 50px;
    }

}