.AddDoctorSec{
    padding: 100px 0px;
}

.AddTopDoct{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AddTopDoct h2{
    font-family: 'ClashGrotesk-Variable';
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
    margin: 0;
}
.addoct{
    display: flex;
    align-items: center;
    gap: 10px;
}
.addoct a{
    background: var(--chilli-red);
    color: #fff;
    padding: 12px 24px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--chilli-red);
    gap: 6px;
    width: 100%;
}
.addoct a i{
    font-size: 18px;
}
.addoct a:hover{
    background: transparent;
    color: var(--chilli-red);
}


.DoctcardItems{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.DoctrCard{
    width: 100%;
    max-width: 306px;
    box-shadow: 4px 4px 18px -5px #55413414;
    border-radius: 24px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    align-items: center;
    background: #FFFFFF;
}
.DoctrCard img{
    height: 80px;
}
.drnmetext h6{
    font-family: 'ClashGrotesk-Variable';
    font-size: 19px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    text-align: center;
    margin: 0;
    color: var(--black-text);
}
.drnmetext p{
    font-family: 'Satoshi-Variable';
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    opacity: 70%;
    margin: 0;
}
.DoctrCard .dutybtn{
    background: #8AC1B133;
    border-radius: 8px;
    padding: 8px;
    font-family: 'Satoshi-Variable';
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--lightgreen);
}
.DoctrCard a:hover{
    transform: scale(1.1);
}
.OffDuty{
    background: #302F2E26 !important;
    color: var(--black-text) !important;
}