.CookieMain {
  position: fixed;
  left: 80px;
  bottom: 130px;
  z-index: 9999;
}
.CookieSec {
  background: #ffffff;
  box-shadow: 0 2px 70px 6px rgba(0, 28, 65, 0.15);
  border-radius: 24px;
  max-width: 343px;
  padding: 16px;
  z-index: 22;
}
.CookieInner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.TopCokieInner {
  color: #000;
  font-family: var(--satoshi-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.3px;
}
.BottomCokieInner {
  color: #000;
  font-family: var(--satoshi-font);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.39px;
}
.CookieBotm {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 10px;
  gap: 8px;
}

.CookieImg {
  position: absolute;
  bottom: -250px;
  left: 60px;
  z-index: 25;
  pointer-events: none;
}

.CookieImg2 {
  position: absolute;
  bottom: -150px;
  left: 45px;
  z-index: -20;
}

.CloseButton {
  cursor: pointer;
}
