/* Sign Up Page Started */

.MainSignUpSec {
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/SignUpBg.png")
    no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 100px 0px 100px 0px;
}

.BuildEveryone {
  width: 100%;
  max-width: 467px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 80px;
}
.BuildEveryone .SignBuildText h2 {
  font-family: var(--grotesk-font);
  color: var(--black-text);
  font-weight: 500;
  font-size: clamp(2.5rem, 5vw + 1rem, 3.5625rem);
  line-height: 120%;
  letter-spacing: -2px;
  margin: 0;
}
.BuildEveryone .BuildCloud {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.BuildEveryone .BuildCloud .CloudItems {
  display: flex;
  gap: 8px;
}
.BuildEveryone .BuildCloud .CloudItems .CloudIcon span svg {
  font-size: 20px;
  color: var(--blue-text);
}
.BuildEveryone .BuildCloud .CloudItems .CloudText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.BuildEveryone .BuildCloud .CloudItems .CloudText h4 {
  font-family: var(--satoshi-font);
  color: var(--black-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  margin: 0;
}
.BuildEveryone .BuildCloud .CloudItems .CloudText p {
  font-family: var(--satoshi-font);
  color: var(--black-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  margin: 0;
}

.SignUpFormDiv {
  background-color: var(--whitebg);
  box-shadow: 0px 10px 20px 0px #47382729;
  border-radius: 28px;
  padding: 40px;
  width: 100%;
  max-width: 563px;
  margin-left: auto;
  margin-right: 0;
}
.SignUpFormDiv form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.SignUpFormDiv form .TopSignUp {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.SignUpFormDiv form .TopSignUp .SignFormItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.SignInput input,
.SignPassInput input {
  width: 100%;
  height: 100%;
  padding: 10px 24px;
  min-height: 60px;
  border: 1px solid var(--greyborder) !important;
  color: var(--lightblack);
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--satoshi-font);
  background-color: transparent;
  outline: var(--black-text);
  border-radius: 16px;
}
.SignInput input::placeholder,
.SignPassInput input::placeholder {
  opacity: 60%;
}
.SignPassInput {
  position: relative;
}
.SignPassInput button {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  background: transparent !important;
  border: none;
  padding: 0;
  z-index: 2;
}

/* Toggle */
.SignUpFormDiv form .business-type-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.SignUpFormDiv form .business-type-container p {
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--black-text);
  margin: 0;
}
.SignUpFormDiv form .business-type-container .button-group ul {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.SignUpFormDiv form .business-type-container .button-group .business-button {
  padding: 0px 20px;
  border: 0.5px solid var(--black-text);
  border-radius: 28px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--satoshi-font);
  color: var(--bluecolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  min-height: 48px;
}
.SignUpFormDiv
  form
  .business-type-container
  .button-group
  .business-button:hover {
  color: var(--white-text);
  border-color: var(--black-text);
  background: var(--black-text);
}
.SignUpFormDiv
  form
  .business-type-container
  .button-group
  .business-button.selected {
  color: var(--white-text);
  border-color: var(--black-text);
  background: var(--black-text);
  font-weight: 700;
}
.SignUpFormDiv form .Sign_check {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.SignUpFormDiv form .Sign_check .form-check {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.SignUpFormDiv form .Sign_check .form-check label {
  font-family: var(--satoshi-font);
  font-size: 18px;
  font-weight: 120%;
  color: var(--black-text);
}
.SignUpFormDiv form .Sign_check .form-check label .policylink {
  color: var(--blue-text);
}

.Signbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.Signbtn h6 {
  color: var(--black-text);
  font-weight: 500;
  font-size: 19px;
  line-height: 120%;
  font-family: var(--grotesk-font);
  margin: 0;
}
.Signbtn h6 a {
  color: var(--blue-text);
}

/* Sign Up Page Ended */

/* CompleteSignUpSec Started  */

.CompleteSignUpSec {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 100vh;
}
.LeftCompleteSign {
  background-image: url("https://d2il6osz49gpup.cloudfront.net/Images/SignInBg.png");
  background-size: 100% 100%;
  object-position: center;
  min-height: 100vh;
}

.RightCompleteSign {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ComplteSignInner {
  width: 100%;
  max-width: 630px;
  padding: 40px;
}
.ComplteSignInner form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ComplteSignInner .CompleteText h2 {
  font-size: 33px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-family: var(--grotesk-font);
  color: var(--black-text);
  text-align: center;
  margin: 0;
}
.ComplteSignInner .CompleteText h2 span {
  color: var(--black-grey);
}
.ComplteSignInner form .CompletSignInpt {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.ComplteSignInner form .CompletSignInpt h6 {
  font-size: 23px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-family: var(--grotesk-font);
  color: var(--black-text);
  margin: 0;
}
.CompletSignInpt .inputDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.CompletSignInpt .inputDiv .pasdiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.CompletSignInpt .inputDiv .pasdiv p {
  padding: 0px 16px;
  opacity: 50%;
  color: var(--pureblack);
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-family: var(--satoshi-font);
}

.Errors {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0px 16px;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  font-family: var(--satoshi-font);
  color: var(--delete);
  margin-top: 6px;
}

/* CompleteSignUpSec Ended */

/* Sign In Started  */

.SignInSec {
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/SignUpBg.png")
    no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.RightSignIn {
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  flex-direction: column;
  background: var(--whitebg);
}

.SignIninner {
  padding: 60px 32px;
  width: 100%;
  max-width: 630px;
  border-radius: 32px;
}
.SignIninner form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.SignIninner .TopSignInner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.SignIninner .TopSignInner h2,
.SignIninner .ForgetHead h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.02em;
  font-family: var(--grotesk-font);
  color: var(--black-text);
  text-align: center;
  margin: 0;
}
.SignIninner .TopSignInner h2 span,
.SignIninner .ForgetHead h2 span {
  /* color: var(--black-grey); */
}
.forgtbtn {
  text-align: end;
}
.forgtbtn a {
  font-size: 19px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--black-text);
  font-family: var(--grotesk-font);
}
.forgtbtn a:hover {
  color: var(--black-grey);
}

.SignIninner .ForgetHead {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 24px;
}
.SignIninner .ForgetHead p {
  margin: 0;
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
}
.verifyInput {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.verifyInput input {
  width: 60px;
  height: 80px;
  background: transparent;
  border: 1px solid var(--greyborder);
  border-radius: 12px;
  text-align: center;
  font-family: var(--grotesk-font);
  font-size: 19px;
  font-weight: 500;
  line-height: 120%;
  color: var(--black-text);
}

/* Floating Label Styles */
.floating-input {
  position: relative;
  margin-bottom: 0;
}
.floating-input input {
  transition: border-color 0.2s;
}
.floating-input label {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-text);
  font-size: 18px;
  font-family: var(--satoshi-font);
  opacity: 60%;
  font-weight: 400;
  pointer-events: none;
  background: transparent;
  transition:
    top 0.2s,
    font-size 0.2s,
    color 0.2s,
    background 0.2s,
    padding 0.2s;
  padding: 0 4px;
}

.floating-input.focused input,
.floating-input input:focus {
  border-color: var(--blue-text) !important;
}

.floating-input.focused label,
.floating-input input:focus + label {
  top: 2px;
  font-size: 15px;
  font-weight: 700;
  color: var(--blue-text);
  background: var(--whitebg);
  padding: 0 4px;
  opacity: 100%;
}

.floating-input input:not(:placeholder-shown):not(:focus) + label,
.floating-input.focused label {
  top: 2px;
  font-size: 15px;
  font-weight: 700;
  color: var(--blue-text);
  background: var(--whitebg);
  padding: 0 4px;
}
/* Sign In Ended */

/* SignError Started  */
.SignError {
  width: 100%;
  min-height: 85px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px 10px;
  border-radius: 0px 0px 20px 20px;
}
.SignError.errofoundbg {
  background: var(--foungbg);
}
.SignError.oppsbg {
  background: var(--opsbg);
}
.SignError.CongratsBg {
  background: var(--greenbg);
}
.SignError .ErroItemDiv {
  position: relative;
}
.SignError .ErroItemDiv .errortopbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 8px;
  position: relative;
}
.SignError .ErroItemDiv .errortopbar .Errortexted {
  display: flex;
  align-items: center;
  gap: 8px;
}
.SignError .ErroItemDiv .errortopbar .Errortexted h6 {
  margin: 0;
  font-weight: 500;
  font-family: var(--grotesk-font);
  font-size: 19px;
  line-height: 120%;
  color: var(--black-text);
}
.SignError .ErroItemDiv .errortopbar p {
  margin: 0;
  font-weight: 400;
  font-family: var(--satoshi-font);
  font-size: 18px;
  line-height: 120%;
  color: var(--black-text);
}
.SignError .ErroItemDiv button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  background: transparent !important;
  border: none !important;
}
.SignError .ErroItemDiv button svg {
  color: var(--black-bg);
}

/* SignError Ended */

@media (min-width: 390px) and (max-width: 479px) {
  .SignInSec {
    padding: 24px;
  }
  .RightSignIn {
    border-radius: 30px;
  }
  .SignIninner {
    max-width: 630px;
    padding: 60px 32px;
    border-radius: 50px;
  }
  .SignIninner .TopSignInner h2 {
    font-size: 40px;
    line-height: 120%;
    margin: 0 0 40px;
  }
}