.TaskSection{
    padding: 80px 0px;
}
.TaskData{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.Tasktitle {
    display: flex;
    align-items: center;
    gap: 8px;
}
.Tasktitle h2{
    font-family: var(--grotesk-font);
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    color: var(--black-text);
}
.Tasktitle p{
    background: var(--lightblue);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 46px;
    padding: 12px 16px;
    gap: 10px;
    border-radius: 16px;
    font-family: var(--satoshi-font);
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: var(--skytext);
}
.taskOverviewDiv{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.TaskCreateBtn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.TaskCreateBtn a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-height: 60px;
    min-width: 160px;
    border-radius: 28px;
    border: 1px solid var(--black-bg);
    background: var(--black-bg) !important;
    padding: 16px 32px;
    font-family: var(--grotesk-font);
    font-weight: 500;
    font-size: 23px;
    line-height: 120%;
    color: var(--white-text);
    &:hover{
        background: transparent !important;
        color: var(--black-text);

    }
}


/* Create Task Started  */

.task-create-section{
    padding: 80px 0px;
    
}
.task-create-section .TaskCreateData{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.TaskCreateData .CreateTaskDiv{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.TaskCreateData .CreateTaskDiv h2{
    margin: 0;
    font-family: var(--grotesk-font);
    font-weight: 500;       
    font-size: 40px;
    line-height: 120%;
    color: var(--black-text);
}
.TaskCreateData .CreateTaskDiv .CreateTaskItems , .TaskCreateData .TaskPatientDiv{
    border: 1px solid var(--lightgrey);
    border-radius: 24px;
    padding: 16px 17px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.TaskCreateData .CreateTaskDiv .CreateTaskItems p , .TaskCreateData .TaskPatientDiv .CreateTaskSelect p , .TaskCreateData .CreateTaskDiv .CreateTaskItems .TaskTimingPriority p , .TaskCreateData .TaskPatientDiv .Patientsearch h6{
    margin: 0;
    font-family: var(--grotesk-font);
    font-weight: 500;       
    font-size: 19px;
    line-height: 120%;
    color: var(--black-text);
}
.errorinput{
    padding: 0px 16px;
    opacity: 60%;
    font-family: var(--satoshi-font);
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    color: var(--black-text);
}
.TaskCreateData .CreateTaskDiv .CreateTaskItems .TaskTimingPriority{
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    grid-gap: 24px;
    align-items: center;
}
.TaskCreateData .TaskPatientDiv .Patientsearch{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.TaskCreateData .TaskPatientDiv .CreateTaskSelect{
    display: grid;
    align-items: center;
    gap: 50px;
    grid-template-columns: auto 1fr;
}
.TaskUploadDiv{
    border-radius: 20px;
    padding: 16px 24px;
    border: 1px dashed var(--lightgrey);
    position: relative;
    min-height: 150px;

}




.TaskCreateftBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Create Task Ended  */