.ChatAppData{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ChatName{
    text-align: center;
}
.ChatName h5{
    font-family: var(--grotesk-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    color: var( --black-text);
    margin: 0;
}
.ChatApp_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 795px;
  width: 374px;
  border-radius: 24px;
  background: #D041221A;
}
.Chatmessages {
  padding: 20px;
  overflow-y: auto;
  flex-grow: 1;
}
.Chatmessages .other-message {
    background: #FFF2E3;
    border-radius: 16px 16px 16px 0px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 256px;
    float: left;
}
.Chatmessages .you-message {
    background: #FBDDBA;
    border-radius: 16px 16px 0px 16px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 256px;
    float: right;
}
.Chatmessages .message {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
}
.Chatmessages .message h6 {
    font-family: var(--satoshi-font);
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--chilli-red);
    margin: 0;
}
.Chatmessages .message p {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.Chatmessages .you-message p{
    opacity: 80%;
}
.Chatmessages .message p.time{
    opacity: 50%;
    color: #37223C;
    font-size: 11px;
    font-weight: 700;
    line-height: 13.2px;
}
.ChatAppBootom{
    background: #D0412233;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 20px;
    justify-content: center;
    position: relative;
}
.Addicon p {
   line-height: unset;
}
.Addicon p i {
   font-size: 26px;
   color: var(--black-text);
}
.AddinputDiv {
    position: absolute;
    left: 15px;
    transform: translateY(-135%);
    transition: transform 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    display: flex;
    flex-direction: column;
    gap: 8px;   
}
.AddinputDiv.show{
    transition: transform 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.Addp-input{
    position: relative;
    overflow: hidden;
    height: 45px;
    width: 100%;
    max-width: 150px;
    background: #FBDDBA;
    box-shadow: 4px 4px 18px -5px #55413414;
    border-radius: 5px;
}
.Addp-input input{
    opacity: 0;
    position: relative;
    height: 100%;
    width: 100%; 
}
.uplinner{
    position: absolute;
    top: 0;
    display: flex;
    gap: 5px;
    padding: 10px;
    width: 100%;
    align-items: center;
}
.uplinner i{
    font-size: 20px;
    color: var(--chilli-red);
}
.uplinner p{
    font-size: 13px;
    font-weight: 700;
    line-height: 15.6px;
    letter-spacing: -0.03em;
    color: var(--black-text);
    opacity: 60%;
    margin: 0;
}
.chat-input {
    width: 100%;
    max-width: 245px;
}
.chat-input input{
    border-radius: 8px;
    background: #FFFFFF;
    padding: 14px 8px;
    height: 45px;
    border: none;
    width: 100%;
    outline: none;
}
.ChatAppBootom button{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: var(--chilli-red);
    border: none;
    color: #FFFFFF;
}
.ChatAppBootom button:hover{
    transform: scale(1.1);
}
.mostly_scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: var(--chilli-red); 
}
/* Add a thumb (scrolling handle) */
.mostly_scrollbar::-webkit-scrollbar-thumb {
    background: var(--black-text); 
    border-radius: 10px; 
}
.EndBtn p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 14px 24px;
    border-radius: 24px;
    border: 1px solid #D04122;
    background: #FFFFFF;
    color: #D04122;
    font-family: var(--grotesk-font);
    font-size: 19px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
}
.EndBtn p i{
    font-size: 22px;
}
.EndBtn p:hover{
    background: var(--chilli-red);
    color: #FFFFFF;
}


