.AddInventorySec{
    padding: 100px 0px;
}
.AddInventorydata{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.TopAdinvtHead h3{
    font-family: var(--grotesk-font);
    font-size: 33px;
    font-weight: 500;
    line-height: 39.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.TopAdinvtHead h3 span{
    color: var(--chilli-red);
}
.AddInventoryBox{
    border: 1px solid #5D412F26;
    background: #FEEEDC1A;
    padding: 40px;
    border-radius: 28px;
}
.AddInventoryBox Form{
    display: flex;
    flex-direction: column;
    gap: 35px;
}