/* HeroSection */
.HeroSection{
    padding: 100px 0px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.HeroSection::after{
    position: absolute;
    content: " ";
    background: var(--background-image)no-repeat;
    background-size: 100% 100%;
    bottom: -115px;
    width: 100%;
    height: 627px;
    z-index: -1;
    animation: waveEffect 5s infinite cubic-bezier(0.42, 0, 0.58, 1);

}
@keyframes waveEffect {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(5px, -10px);
    }
    50% {
        transform: translate(-5px, 5px);
    }
    75% {
        transform: translate(-10px, -5px);
    }
    100% {
        transform: translate(0, 0);
    }
}
.HeroData{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    z-index: 1;
}
.LeftHeroDiv{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.herotext h1{
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    overflow: hidden;
    white-space: nowrap;
    animation: type 1.5s steps(90) 1.5s 1 normal both, cursor 1s step-end infinite;
    position: relative;
    margin: 0;
}
.herotext .first {
    animation: type 1.5s steps(90) 0s 1 normal both, cursor 1s step-end infinite;
}
.herotext .second {
    animation: type 1.5s steps(90) 1.5s 1 normal both, cursor 1s step-end infinite; /* Delay for the second h1 */
}
@keyframes type {
    from {
        width: 0;
    }
    
    to {
        width: 100%;
    }
}
.LeftHeroDiv h1 span{
    color: var(--chilli-red);
}
.heroPara{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.paraitem p{
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: var(--satoshi-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.paraitem p img{
    height: 20px;
}
.HeroBtn{
    display: flex;
    align-items: center;
    gap: 25px;
    padding-top: 40px;
}
.RytHeroDiv img{
    width: 100%;
}

/* PracticeSection */

.PracticeSection{
    padding: 100px 0px 0px 0px;
}
.SecHeading h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.SecHeading h2 span{
   color: var(--chilli-red);
}
.Practice_Box_Data{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 22px;
    padding: 20px 0px;
}
.PracBox{
    background: #FEF8F4;
    box-shadow: 4px 4px 18px -5px #55413414;
    width: 100%;
    max-width: 305px;
    border-radius: 38px;
    padding: 28px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
/* .PracBox:hover{
    transform: scale(1.1);
} */
.PracBox img{
    height: 64px;
}
.PracBox h4{
    font-family: var(--grotesk-font);
    font-size: 26px;
    font-weight: 500;
    line-height: 30.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
    padding-top: 15px;
}
.PracBox p{
    font-family: var(--satoshi-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0;
    opacity: 80%;
}

/* FocusSection */

.FocusSection{
    padding: 100px 0px ; 
}
.foctext p{
    width: 100%;
    max-width: 422px;
    margin: 0 auto;
    text-align: center;
    color: var(--black-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
}

.Focus_data{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    padding: 50px 0px;

}
.FocusItem{
    background: linear-gradient(360deg, #FAE0D0 43.04%, rgba(250, 224, 208, 0.4) 100%);
    border: 0.5px solid #D0412280;
    width: 100%;
    max-width: 415px;
    border-radius: 28px;
    min-height: 309px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
}
.purplecard{
    background: linear-gradient(360deg, #F4E7E1 43.04%, rgba(244, 231, 225, 0.4) 100%);
    border: 0.5px solid #8E88D280
}
.browncard{
    background: linear-gradient(360deg, #FDE6CC 43.04%, rgba(253, 230, 204, 0.4) 100%);
    border: 0.5px solid #FDBD7480;
}
.greencard{
    background: linear-gradient(360deg, #F3EDDE 43.04%, rgba(243, 237, 222, 0.4) 100%);
    border: 0.5px solid #8AC1B180;
}
.blckcard{
    background: linear-gradient(360deg, #EDE0D1 43.04%, rgba(237, 224, 209, 0.4) 100%);
    border: 0.5px solid #4E3F2F80;
}
.focusText{
    max-width: 377px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.focusText h4{
    font-family: var(--grotesk-font);
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.focusText p{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0;
    opacity: 80%;
}

/* TrustExpertSec */

.TrustExpertSec{
    padding: 100px 0px;
}
.TrustExpertData{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 50px 0px;
    position: relative;
}
.TrustExpertData::after{
    position: absolute;
    content: " ";
    background: var(--trust-image);
    background-size: 100% 100%;
    height: 280px;
    width: 280px;
    right: -25px;
    top: -220px;
    animation: heartbeat 1.5s infinite ease-in-out;
}
@keyframes heartbeat {
    0%, 100% {
      transform: scale(1); /* Normal size */
    }
    50% {
      transform: scale(1.1); /* Slightly larger size */
    }
  }
.Expertitems{
    background: #FEF8F4;
    box-shadow: 0px 28.93px 63.5px 0px #450E1529;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    width: 100%;
    max-width: 302px;
    padding: 16px;
    height: 100%;
    min-height: 360px;
}
.Expertitems::after{
    position: absolute;
    content: " ";
    background: #FDBD74;
    width: 55px;
    height: 4px;
    top: 0;
}
.purpleitem,.greenitem{
    position: relative;
}
.purpleitem::after{
    background: #8E88D2;
}
.greenitem::after{
    background: #8AC1B1;
}
.expertBio{
    position: absolute;
    display: flex;
    gap: 8px;
    padding: 20px 16px;
    border-radius: 16px 16px 0px 0px;
    background: #FDBD74;
    width: 100%;
    left: 0;
    bottom: 0;
}
.purplebio{
    background: #8E88D2;
}
.purplebio .exprtName h6, .purplebio .exprtName p{
    color: #FEF8F4;
}
.greenbio{
    background: #8AC1B1;
}
.expertBio img{
    height: 50px;
}
.expertPara {
    min-height: 244px;
    display: flex;
    align-items: center;
}
.expertPara p{
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.exprtName{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.exprtName h6{
    font-family: var(--satoshi-font);
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.exprtName p{
    font-size: 13px;
    font-weight: 700;
    line-height: 15.6px;
    letter-spacing: -0.03em;
    color: var(--black-text);
    margin: 0;
    opacity: 70%;
}

/* WhoCareSec */

.WhoCareSec{
    padding: 50px 0px;
}
.lftcare p{
    font-size: 17px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    max-width: 422px;
}
.whocareData{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.rytcare p {
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    opacity: 70%;
}
.carelog{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

/* BettercareSec */
.BettercareSec{
    padding: 100px 0px 200px 0px;
    position: relative;
    z-index: 1;
}
.BettercareSec::after{
    position: absolute;
    content: " ";
    background: var(--better-image)no-repeat;
    background-size: 100% 100%;
    top: 30px;
    width: 100%;
    height: 140px;
    z-index: -1;
}
.BettercareBox{
    width: 100%;
    max-width: 1064px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    background: #FEF8F4;
    box-shadow: 0px 0px 18px -5px #5541341F;
    border-radius: 38px;

}
.lftbetter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.betInner{
    max-width: 422px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.betInner h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.betInner h2 span{
    color: var(--chilli-red);
}
.betInner p{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
}
.lftbetter img{
    width: 100%;
}