.TableDiv{
    box-shadow: 0px 0px 30px 0px #4738271A !important;
    background: var(--whitebg) !important;
    border: 1px solid var(--lightgrey) !important;
    border-radius: 24px !important;
    padding: 24px !important;
    vertical-align: middle !important;
    margin: 0 !important;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
.TableDiv thead tr th , .TableDiv tbody tr td {
   padding: 16px 18px;
   vertical-align: middle;
}
.TableDiv tbody tr:hover{
  background: var(--popupbg) !important;
}
.TableDiv thead tr th {
   color: var(--black-text);
   font-size: 15px;
   font-weight: 700;
   font-family: var(--satoshi-font);
   opacity: 70%;
}
.TableDiv thead tr th , .TableDiv tbody tr td {
    border-bottom: 1px solid var(--lightgrey);
}
.TableDiv tbody tr:last-child td {
    border-bottom: none;
}

.TableDiv tbody tr td p{
    margin: 0px;
    font-family: var(--satoshi-font);
    color: var(--black-text);
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
}
.TableDiv tbody tr td span{
    margin: 0px;
    font-family: var(--satoshi-font);
    color: var(--black-text);
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    opacity: 60%;
}