.CalendarStatusColumns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.ClnderCardItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.ClndercardText {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ClndercardText h6,
.ClndercardText span {
  margin: 0;
  color: var(--black-text);
  font-family: var(--grotesk-font);
  font-weight: 500;
  font-size: 19px;
  line-height: 120%;
}
.ClendrCard {
  border: 1px solid var(--greyborder);
  border-radius: 24px;
  padding: 30px 8px;
  min-height: 742px;
  min-width: 305px;
  background: var(--whitebg);
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.ClendrCard .CalendarCardItem {
  min-height: 150px;
  min-width: 287px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  box-shadow: 0px 0px 8px -5px #55413414;
  border: 1px solid var(--lightgrey);
  background: var(--whitebg);
}
.ClendrCard .CalendarCardItem .ClndrUser {
  display: flex;
  align-items: center;
  gap: 6px;
}
.ClendrCard .CalendarCardItem .ClndrUser .ClndrUserText {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 12px;
}
.ClendrCard .CalendarCardItem .ClndrUser .ClndrUserText h6 {
  color: var(--black-text);
  margin: 0;
  font-weight: 500;
  font-size: 19px;
  line-height: 120%;
}
.ClendrCard .CalendarCardItem .ClndrUser .ClndrUserText p {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--black-grey-Text);
  font-family: var(--satoshi-font);
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
}
.ClnderBtn {
  background: var(--lightblue);
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  font-family: var(--satoshi-font);
  color: var(--skytext);
  border: none;
}
.ClnderBtn span svg {
  font-size: 18px;
}
