.PricingSec{
    position: relative;
}
.PricingSec::after{
    position: absolute;
    content: " ";
    background: var(--background-image)no-repeat;
    background-size: 100% 100%;
    top: 0;
    right: 0;
    width: 100%;
    height: 1091px;

}



/* transparentfees  */
.TransparentsFee{
    padding: 100px 0px;
}
.TransparentHostDiv{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    padding: 50px 0px;
}
.HostPriceDiv{
    max-width: 300px;
    min-height: 244px;
    border: 0.5px solid #4E3F2F4D;
    padding: 40px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    
}
.HostPriceDiv.active{
    max-width: 300px;
    min-height: 412px;
    border: 0.5px solid #FDBD74;
    box-shadow: 4px 4px 18px -5px #55413414;
    padding: 40px 20px;
    border-radius: 20px;
    background: linear-gradient(122.42deg, #FFF0E1 15.22%, #FFF8F1 85.1%);
}
.HostPriceDiv .hostinner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
}
.HostPriceDiv .hostinner h4{
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
    font-family: var(--grotesk-font);
}
.HostPriceDiv .hostinner p{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.02em;
    font-family: var(--satoshi-font);
    color: var(--black-text);
    opacity: 80%;
    margin: 0;
}
.hstinrgd {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.hstinrgd h4{
    font-family: var(--grotesk-font);
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: -0.02em;
    color: var(--chilli-red);
    margin: 0;
}
.hstinrgd p{
    font-family: var(--satoshi-font);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}



/* Hosting_Plan */
.Hosting_Plan{
    background: #FFFFFF;
    box-shadow: 4px 4px 18px -5px #55413414;
    border-radius: 24px;
    padding: 40px 50px;
}
.HostingTableDiv {
    padding: 30px 0px;
}
.HostingTableDiv table {
    width: 100%;
    max-width: 1062px;
    margin: 0 auto;
}
.HostingTableDiv table thead tr , .HostingTableDiv table tbody tr  {
    display: grid;
    grid-template-columns: 630px 216px 216px;
    height: 60px;
    border-bottom: 1px solid #EAEAEA;
}
.HostingTableDiv table tbody tr:last-child {
    border: none;
}
.HostingTableDiv table thead tr th  {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    font-family: var(--satoshi-font);
    color: var(--black-text);
}
.HostingTableDiv table thead tr th:nth-of-type(1)  {
    background: #BBBBBB14;
    padding: 0px 24px;
}
.HostingTableDiv table thead tr th:nth-of-type(2)  {
    background: #8AC1B133;
    justify-content: center;
}
.HostingTableDiv table thead tr th:nth-of-type(3)  {
    background: #8E88D233;
    justify-content: center;
}
.HostingTableDiv table thead tr th , .HostingTableDiv table tbody tr td {
    display: flex;
    align-items: center;
}
.HostingTableDiv table tbody tr td {
    font-family: var(--satoshi-font);
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.HostingTableDiv table tbody tr td:nth-of-type(1) {
    opacity: 80%;
    padding: 0px 24px;
}
.HostingTableDiv table tbody tr td:nth-of-type(2) {
    background: #8AC1B10D;
    justify-content: center;
    text-align: center;
    padding: 0px 24px;
}
.HostingTableDiv table tbody tr td:nth-of-type(3) {
    background: #8E88D20D;
    justify-content: center;
    text-align: center;
    padding: 0px 24px;
}

/* Key_Features_Sec */

.Key_Features_Sec{
    padding: 100px 0px 0px 0px;
    width: 100%;
    max-width: 846px;
    margin: 0 auto;
}
.KeyHeading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.KeyHeading p{
    width: 100%;
    max-width: 658px;
    font-family: var(--satoshi-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
    text-align: center;
}
.FeatureData{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 80px 0px;
}
.fethed {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 24px;
    border-radius: 6px;
}
.grn{
    background: #8AC1B114;
}
.ltblu{
    background: #8E88D214;
}
.ltgry{
    background: #FDBD741A;
}
.ltred{
    background: #D0412214;
}

.fethed h4{
    font-family: var(--satoshi-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.fetiner p{
    font-family: var(--satoshi-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid #EAEAEA;
    padding: 12px 24px;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    height: 60px;
}
.fetiner p:last-child{
    border: none;
}



/* Price_Calc_Div */

.Price_Calc_Div{
    padding: 100px 0px;
}
.PriceBoxDiv{
    box-shadow: 4px 4px 18px -5px #55413414;
    background: #FFFFFF;
    padding: 28px;
    border-radius: 24px;
    display: grid;
    grid-template-columns: auto 370px;
}
.lftprice {
    padding: 50px;
}
.Price_RangeDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Price_RangeDiv .pstp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Price_RangeDiv .pstp h5{
    font-family: var(--grotesk-font);
    font-size: 21px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    margin: 0;
    color: #000000;
}
.Price_RangeDiv .pstp span , .mulspan span{
    border: 1px solid #37223CB2;
    border-radius: 36px;
    padding: 8px 10px;
    font-family: var(--satoshi-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--chilli-red);
    width: 100%;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Price_RangeDiv input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #302F2E; 
    outline: none;
}
.Price_RangeDiv input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFEFE;
    border: 3px solid var(--chilli-red);
    cursor: pointer;
    box-shadow: 4px 4px 18px -5px #55413433;
}
.Price_RangeDiv input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFEFE;
    border: 3px solid var(--chilli-red);
    cursor: pointer;
    box-shadow: 4px 4px 18px -5px #55413433;
}
.MultifactorDiv{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px 0px 20px 0px;
}
.Price_Option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Price_Option .multiinput{
    display: flex;
    align-items: center;
    gap: 12px;
}
.Price_Option .multiinput input[type="checkbox"] {
    width: 16px;
    height: 16px;
    appearance: none; 
    background-color: #FFFEFE; 
    border: 1px solid #000; 
    position: relative;
    cursor: pointer;
}

.Price_Option .multiinput input[type="checkbox"]:checked {
    background-color: var(--chilli-red);
    border-color: var(--chilli-red);
}

.Price_Option .multiinput input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 4px;
    width: 7px;
    height: 9px;
    border: solid #FFFEFE;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}

.Price_Option .multiinput input[type="checkbox"]:checked::after {
    display: block; 
}


.Price_Option .multiinput h5{
    font-family: var(--grotesk-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.Price_Option p{
    font-family: var(--satoshi-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 60%;
    text-align: end;
    margin: 0;
}
.mulspan{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Rytprice{
    background: #FFF2E3;
    box-shadow: 4px 4px 18px #55413414 , inset -4px -4px -18px #55413414;
    height: 100%;
    padding: 16px;
    border-radius: 24px;
    width: 100%;
    max-width: 283px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.PriceInner{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
} 
.PriceText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2;
}
.PriceText h2 {
    margin: 0;
}
.PriceText h2 span{
    font-family: var(--grotesk-font);
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
    background: linear-gradient(110.64deg, #D04122 14.7%, #FDBD74 61.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0;
}
.PriceText h5{
    font-family: var(--grotesk-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.PriceText p{
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    opacity: 70%;
    margin: 0;
}
.RedBtn a{
    background: var(--chilli-red);
    padding: 14px 24px;
    border-radius: 28px;
    color: #FFFEFE;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;

}
  
 
  
 










/* NeedHelpDiv */

.NeedHelpDiv{
    padding: 200px 0px;
    position: relative;
}
.Needhelpitem{
    background-color: #FDBD74;
    padding: 32px 48px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 217px;
    justify-content: space-between;
    position: relative;
}
.Needhelpitem::after{
    position: absolute;
    content: " ";
    background: var(--pricehelp-bg)no-repeat;
    background-size: 100% 100%;
    right: 0;
    bottom: 0;
    width: 450px;
    height: 299px;
}
.helpText {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.helpText h3{
    font-family: var(--grotesk-font);
    font-size: 33px;
    font-weight: 500;
    line-height: 39.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.helpText p{
    font-family: var(--satoshi-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.helpbtn button{
    display: flex;
    justify-content: center;
    gap: 6px;
    background-color: var( --chilli-red);
    border: none;
    border-radius: 28px;
    padding: 14px 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    font-family: var(--grotesk-font);
    color:#FFFEFE;
}
.helpbtn button img{
    height: 20px;
}
.helpbtn button:hover{
    opacity: 0.8;
}

