@font-face {
  font-family: 'ClashGrotesk-Variable';
  src: url('/font/ClashGrotesk-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi-Variable';
  src: url('/font/Satoshi-Variable.ttf') format('truetype');
  src: url('/font/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --grotesk-font: 'ClashGrotesk-Variable';
  --satoshi-font: 'Satoshi-Variable';
  --mainBg: #fef8f4;
  --homebg: #fff2e3;
  --chilli-red: #d04122;
  --black-text: #302f2e;
  --purple: #8e88d2;
  --lightgreen: #8ac1b1;
  --frowndark: #d09b5e;
  --green: #60b257;
  --greenlight: #97c254;
  --yellow: #e3ca57;
  --orange: #f1963f;
  --red: #eb3223;
  --footbg: #e8e8d9;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--mainBg) !important;
}
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fef8f4; /* or add it to the track */
}

/* Add a thumb */
::-webkit-scrollbar-thumb {
  background: #d04122;
}
h1,
h2 {
  font-family: var(--grotesk-font);
}
p {
  font-family: var(--satoshi-font);
}
a {
  text-decoration: none !important;
  transition: 0.5s;
  font-family: 'ClashGrotesk-Variable';
  font-size: 16px;
  font-weight: 500;
  line-height: 22.8px;
  letter-spacing: 0.02em;
}
ul li {
  list-style-type: none;
}
.form-select:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}
.form-control:focus {
  background-color: transparent !important;
  border-color: #37223cb2 !important;
  box-shadow: none !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='date'] {
  color: transparent; /* Initially hide the text */
}

input[type='date']:focus {
  color: black; /* Show selected date when focused */
}

input[type='date']:valid {
  color: black; /* Show selected date after user selects it */
}

input[type='date']::-webkit-datetime-edit {
  color: transparent; /* Hide the placeholder on Chrome and Webkit browsers */
}

input[type='date']:focus::-webkit-datetime-edit,
input[type='date']:valid::-webkit-datetime-edit {
  color: black; /* Show the selected date */
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.HomeMain {
  background: var(--homebg);
}
.Fillbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--chilli-red);
  border: 1px solid var(--chilli-red);
  border-radius: 28px;
  padding: 14px 32px;
  font-size: 21px;
  font-weight: 500;
  line-height: 27.6px;
  letter-spacing: -0.02em;
  font-family: var(--grotesk-font);
  color: #ffffff;
}
.Fillbtn i {
  color: #ffffff;
  font-size: 21px;
  font-weight: 500;
}
.Fillbtn:hover {
  color: var(--chilli-red);
  background: transparent;
}
.Fillbtn:hover i {
  color: var(--chilli-red);
}
.Sbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px 32px;
  font-size: 21px;
  font-weight: 500;
  line-height: 27.6px;
  letter-spacing: -0.02em;
  font-family: var(--grotesk-font);
  color: var(--chilli-red);
}
.Sbtn i {
  font-size: 21px;
  font-weight: 500;
}
.MainDash {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.form-floating textarea {
  background: transparent;
}
.form-floating textarea:focus {
  background: transparent;
  border: 1px solid var(--chilli-red) !important;
}

/* .See all Btn  */
.SeeAllDiv {
  text-align: center;
}
.SeeAllDiv a {
  border: 1px solid var(--chilli-red);
  color: var(--chilli-red);
  border-radius: 28px;
  padding: 14px 24px;
  font-size: 19px;
  font-weight: 500;
  line-height: 22.8px;
  letter-spacing: -0.02em;
}
.SeeAllDiv a:hover {
  background-color: var(--chilli-red);
  color: #f8e3de;
}
/* .See all Btn  */

.DashBoardTopDiv {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.dashvisible a {
  font-family: var(--grotesk-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 22.8px;
  letter-spacing: -0.02em;
  color: var(--chilli-red);
  display: flex;
  align-items: center;
  gap: 6px;
}

/* TopHeading started  */
.Heading {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.leftHead span {
  color: var(--chilli-red);
  font-family: 'Satoshi-Variable';
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
}
.leftHead h2 {
  font-size: 40px;
  font-weight: 500;
  color: var(--black-text);
  line-height: 38px;
  letter-spacing: -0.02em;
}
.RytNotify a {
  background: #d041221a;
  font-family: 'Satoshi-Variable';
  border-radius: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  letter-spacing: -0.02em;
  color: var(--chilli-red);
  text-decoration: none;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.DashHeading h5 {
  font-family: 'ClashGrotesk-Variable';
  font-size: 23px;
  font-weight: 500;
  line-height: 27.6px;
  letter-spacing: -0.02em;
  color: var(--black-text);
}
.DashHeading h5 span {
  color: var(--chilli-red);
}

/* topHeading ended */

/* Signup form  */

.SignFormDiv {
  background-color: var(--mainBg);
  box-shadow: 0px 10px 20px 0px #47382729;
  border-radius: 28px;
  padding: 50px;
  width: 100%;
  max-width: 630px;
  float: inline-end;
  margin: 0 auto;
}
.SignFormDiv form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.FormInner {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Sign_check {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 0px;
}
.Sign_check .check-input {
  width: 20px;
  height: 20px;
  border: 1px solid #37223c;
  border-radius: 5px;
  background: transparent;
}
.Sign_check label {
  font-family: var(--satoshi-font);
  color: #37223c;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.6px;
  letter-spacing: -0.02em;
}
.Sign_check label span {
  color: var(--chilli-red);
}
.sinbtn {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.sinbtn h6 {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.8px;
  letter-spacing: -0.02em;
  font-family: var(--grotesk-font);
}
.sinbtn a {
  color: var(--chilli-red);
}
.sinbtn a:hover {
  transform: scale(1.1);
}
/* Signup form  */

/* OverviewBox started  */

.overviewDiv {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.OverviewTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.OverviewTop h5 {
  font-family: 'ClashGrotesk-Variable';
  font-size: 23px;
  font-weight: 500;
  line-height: 27.6px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  margin: 0;
}
.overviewitem {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.overbox {
  width: 100%;
  max-width: 305px;
  min-height: 105px;
  box-shadow: 4px 4px 18px -5px #55413414;
  background: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 24px;
}
.overicon {
  width: 100%;
  max-width: 64px;
  min-height: 64px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overicon img {
  width: 100%;
  max-width: 32px;
  max-height: 32px;
}
.chillibg {
  background-color: #d0412226;
}
.purple {
  background: #8e88d226;
}
.cambrageblue {
  background: #8ac1b126;
}
.fawndark {
  background: #fdbd7426;
}
.overText h6 {
  font-family: 'Satoshi-Variable';
  color: var(--black-text);
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  opacity: 60%;
}
.overText h6 span {
  font-weight: 400;
}
.overText h4 {
  font-family: 'ClashGrotesk-Variable';
  font-size: 28px;
  font-weight: 500;
  line-height: 33.6px;
  letter-spacing: -0.02em;
}
.ciltext {
  color: var(--chilli-red);
}
.purpletext {
  color: var(--purple);
}
.greentext {
  color: var(--lightgreen);
}
.frowntext {
  color: var(--frowndark);
}

/* OverviewBox ended  */

/* Add image css  */
.add-logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.upload-placeholder {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    139.66deg,
    rgba(253, 189, 116, 0.15) 18.09%,
    rgba(253, 189, 116, 0.05) 86.04%
  );
  transition: border-color 0.3s ease;
  border: 1px solid var(--chilli-red);
}
.preview-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--chilli-red);
}
.icon {
  width: 24px;
  height: 24px;
}
.add-logo-container h5 {
  font-family: var(--grotesk-font);
  font-size: 21px;
  font-weight: 500;
  line-height: 27.6px;
  letter-spacing: -0.02em;
  margin: 0;
}
/* Add image css  */

/* DashBoard Table  start */

.MainTableDiv {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.Appointtable,
.MangeInvttable,
.Prceduretable,
.ChatStatemtTableDiv {
  width: 100%;
  background: #ffffff;
  padding: 24px;
  box-shadow: 4px 4px 18px -5px #55413414;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  overflow-x: auto;
}
.Appointtable thead tr,
.Appointtable tbody tr {
  width: 100%;
  display: grid;
  grid-template-columns: 60px 189px 205px 113px 121px 154px 189px 189px;
  align-items: flex-start;
  padding: 24px 0px;
  border-bottom: 1px solid #5d412f26;
}
.MangeInvttable thead tr,
.MangeInvttable tbody tr {
  width: 100%;
  display: grid;
  grid-template-columns: 32px 115px 115px 100px 100px 100px 115px 115px 115px 100px 115px 100px;
  align-items: flex-start;
  padding: 24px 0px;
  border-bottom: 1px solid #5d412f26;
}
.Prceduretable thead tr,
.Prceduretable tbody tr {
  width: 100%;
  display: grid;
  grid-template-columns: 32px 195px 195px 80px 195px 180px 195px 150px;
  align-items: flex-start;
  padding: 24px 0px;
  border-bottom: 1px solid #5d412f26;
}
.Appointtable tbody tr:last-child,
.MangeInvttable tbody tr:last-child,
.Prceduretable tbody tr:last-child {
  border-bottom: none;
}
.Appointtable thead tr th,
.MangeInvttable thead tr th,
.Prceduretable thead tr th {
  opacity: 70%;
  font-family: 'Satoshi-Variable';
}
.Appointtable thead tr th:last-child,
.MangeInvttable thead tr th:last-child,
.Prceduretable thead tr th:last-child {
  text-align: center;
}
.Appointtable tbody tr td,
.MangeInvttable tbody tr td,
.Prceduretable tbody tr td {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  font-family: 'Satoshi-Variable';
}
.dogimg {
  text-align: center;
}
.dogimg img {
  width: 100%;
  max-width: 40px;
}
.tblDiv {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.tblDiv h4 {
  font-family: 'Satoshi-Variable';
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--black-text);
}
.tblDiv p {
  font-family: 'Satoshi-Variable';
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.6px;
  letter-spacing: -0.03em;
  color: var(--black-text);
  opacity: 60%;
  display: flex;
  align-items: center;
  gap: 4px;
}
.actionDiv {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.actionDiv Button,
.actionDiv a {
  background: transparent !important;
  border: none;
  line-height: 0px;
  padding: 0px;
}
.actionDiv Button img,
.actionDiv a img {
  width: 40px;
  max-width: 40px;
}
.StatusDiv {
  text-align: center;
}
.StatusDiv a {
  border-radius: 8px;
  padding: 8px;
  font-family: 'Satoshi-Variable';
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
}
.pending {
  background: #fdbd7440;
  color: var(--frowndark);
}
.complete {
  background: #8ac1b133;
  color: var(--lightgreen);
}
.proceicon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.proceicon i {
  font-size: 8px;
  border-radius: 50%;
  color: #34c759;
  margin: 0;
}

/* DashBoard Table  Ended */

/* section Head  */

.SecHead {
  text-align: center;
}
.SecHead h2 {
  font-family: var(--grotesk-font);
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  margin: 0;
}
.SecHead h2 span {
  color: var(--chilli-red);
}

/* section Head  */

/* pagination  */
.PaginationDiv {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  padding: 12px 16px;
}
.PaginationDiv button {
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0px #1018280d;
  border: 1px solid #d04122;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PaginationDiv button i {
  color: var(--chilli-red);
  font-size: 20px;
}

.PaginationDiv button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  border: 1px solid #d0d5dd;
}
.PaginationDiv button[disabled] i {
  color: #d0d5dd;
}

.PaginationDiv span {
  line-height: 40px;
}
.PagiName {
  margin: 0;
  font-family: 'Satoshi-Variable';
  color: #344054;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  gap: 6px;
}
.PagiName span {
  font-weight: 500;
  color: var(--chilli-red);
}
/* pagination  */

/* Graph Details  Started  */
.GraphTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.GraphTop h5 {
  margin: 0;
  font-family: 'ClashGrotesk-Variable';
  font-size: 23px;
  font-weight: 500;
  line-height: 27.6px;
  letter-spacing: -0.02em;
}
.grphSlect select {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'ClashGrotesk-Variable';
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  opacity: 70%;
}
.grphSlect select option {
  color: var(--black-text);
  box-shadow: 4px 4px 18px -5px #55413414;
  background: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.grphSlect select option.active {
  background: #d041221a;
  color: var(--chilli-red);
  font-size: 16px;
  font-weight: 500;
}
.grphSlect select option:checked {
  background: #d041221a;
  color: var(--chilli-red);
  font-size: 16px;
  font-weight: 500;
}
.grphSlect select option:hover {
  background: #d041221a !important;
  color: var(--chilli-red);
  font-size: 16px;
  font-weight: 500;
}
.graphimg img {
  width: 100%;
}
/* Graph Details  Ended  */

/* DashCard Started */

.DashcardText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.DashCardData {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.DashCardDiv {
  width: 100%;
  max-width: 305px;
  /* margin: 0 auto; */
}
.DashcardText h6 {
  font-family: 'ClashGrotesk-Variable';
  font-size: 19px;
  font-weight: 500;
  line-height: 22.8px;
  letter-spacing: -0.02em;
  color: var(--black-text);
}
.fawn {
  color: var(--frowndark) !important;
}
.purpl {
  color: var(--purple) !important;
}
.ltgren {
  color: var(--lightgreen) !important;
}
.chill {
  color: var(--chilli-red) !important;
}
.DashCardItem {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 14px;
  border-radius: 24px;
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
  max-height: 742px;
}
.fawnbg {
  background: #fff2e3;
}
.purplebg {
  background: #8e88d21a;
}
.greenbg {
  background: #8ac1b11a;
}
.chillybg {
  background: #d041221a;
}

.Confcard {
  background: #ffffff;
  box-shadow: 4px 4px 18px -5px #55413414;
  padding: 16px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cardTopInner {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.cardTopInner img {
  height: 60px;
}
.Sideinner h6 {
  font-family: 'ClashGrotesk-Variable';
  font-size: 19px;
  font-weight: 500;
  line-height: 22.8px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  margin: 0;
}
.Sideinner p {
  font-family: 'Satoshi-Variable';
  font-size: 13px;
  font-weight: 700;
  line-height: 15.6px;
  letter-spacing: -0.03em;
  color: var(--black-text);
  opacity: 60%;
  margin: 0;
}
.midinner h4 {
  font-family: 'ClashGrotesk-Variable';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  margin: 0;
}
.midinner p {
  font-family: 'Satoshi-Variable';
  font-size: 13px;
  font-weight: 700;
  line-height: 15.6px;
  letter-spacing: -0.03em;
  color: var(--black-text);
  margin: 0;
  opacity: 60%;
}
.cardbtn button {
  padding: 14px 20px;
  text-decoration: none;
  display: flex;
  font-family: 'ClashGrotesk-Variable';
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.02em;
  border-radius: 12px;
  border: none;
}
.cardbtn button img {
  height: 16px;
}
.btnfown button {
  background: #fff5ea;
  color: var(--frowndark);
}
.btnPurple button {
  background: #eeedf8;
  color: var(--purple);
}
.btngreen button {
  background: #edf6f3;
  color: var(--lightgreen);
}
.btnchilly button {
  background: #f8e3de;
  color: var(--chilli-red);
}

/* DashCard Started */

/* ProfileSec Started  */
.ProfileSec {
  padding: 80px 0px;
}
.Add_Profile_Data {
  display: grid;
  grid-template-columns: 68% 30%;
  grid-gap: 22px;
}
.LeftProfileDiv {
  border: 1px solid #5d412f33;
  padding: 40px;
  border-radius: 18px;
}

/* ProfileSec Ended  */

/* DashModal started */

.modal {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  height: 100% !important;
}
.DashCardModal .modal .modal-dialog,
.ProfileDetailModal .modal .modal-dialog {
  width: 100%;
  max-width: 1064px;
  border-radius: 26px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 4px 4px 18px -5px #55413414;
}

.DashCardModal .modal .modal-content {
  display: grid;
  grid-template-columns: auto 374px;
  grid-gap: 30px;
  border: none;
}
.LeftContent {
  width: 100%;
}
.TopContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #5d412f26;
  padding-bottom: 20px;
}
.lfttop {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.lfttop img {
  height: 60px;
}
.owndt {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.owndt h5,
.owndt h6 {
  font-family: 'ClashGrotesk-Variable';
  font-size: 23px;
  font-weight: 500;
  line-height: 27.6px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  margin: 0;
}
.owndt h6 {
  font-size: 19px;
  line-height: 22.8px;
}
.owndt p {
  font-family: 'Satoshi-Variable';
  font-size: 13px;
  font-weight: 700;
  line-height: 15.6px;
  letter-spacing: -0.03em;
  color: var(--black-text);
  opacity: 60%;
  margin: 0;
}
.owndt p i {
  height: 14px;
}
.ryttop a {
  font-family: 'Satoshi-Variable';
  padding: 8px;
  text-decoration: none;
  background: #247aed26;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #247aed;
  transition: transform 0.3s ease-in-out;
}
.ryttop a:hover {
  transform: scale(2);
}
.MidContent {
  border-bottom: 1px solid #5d412f26;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.MidContent h4 {
  font-family: 'ClashGrotesk-Variable';
  opacity: 70%;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: var(--black-text);
}
.modlbtn {
  display: flex;
  align-items: center;
  gap: 12px;
}
.modlbtn button {
  width: 100%;
  max-width: 107px;
  padding: 10px 16px;
  border-radius: 28px;
  font-family: 'ClashGrotesk-Variable';
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.confirm {
  background: #edf6f3;
  border: 1px solid var(--lightgreen);
  color: var(--lightgreen);
}
.cancel {
  background: #faece9;
  border: 1px solid var(--chilli-red);
  color: var(--chilli-red);
}
.modlbtn button img {
  height: 14px;
}
.ModlMedclRept {
  border-bottom: 1px solid #5d412f26;
  padding: 20px 0px;
}
.TextHeading {
  display: flex;
  align-items: center;
  gap: 10px;
}
.TextHeading h5 {
  font-family: 'ClashGrotesk-Variable';
  font-size: 19px;
  font-weight: 500;
  line-height: 22.8px;
  letter-spacing: -0.02em;
  color: var(--black-text);
}
.TextHeading h5 span {
  color: var(--chilli-red);
}
.MedReport {
  display: flex;
  align-items: center;
  gap: 10px;
}
.MedReport img {
  width: 100%;
  max-width: 100px;
  max-height: 100px;
}
.PresDiv {
  padding: 20px 0px;
}
.emltext {
  font-family: 'Satoshi-Variable';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--black-text);
}
.form-floating {
  width: 100%;
}
.form-floating textarea {
  border: 1px solid #37223cb2;
  font-family: 'Satoshi-Variable';
  min-height: 114px !important;
  width: 100%;
  border-radius: 16px;
  padding: 20px 16px 12px 16px !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: -0.02em;
}
.form-floating label {
  font-family: 'Satoshi-Variable';
  font-size: 15px;
  font-weight: 400;
  line-height: 9.6px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  opacity: 60%;
}

.Upld {
  padding: 0px 0px 20px 0px;
}
.Upld h5 {
  font-family: 'ClashGrotesk-Variable';
  font-size: 19px;
  font-weight: 500;
  line-height: 22.6px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  opacity: 60%;
}
.ModlMainbtn button {
  font-family: 'ClashGrotesk-Variable';
  padding: 14px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 28px;
  background-color: var(--chilli-red);
  color: #ffffff;
  font-size: 23px;
  font-weight: 500;
  line-height: 22.8px;
  letter-spacing: -0.02em;
  width: 100%;
  border: none;
  height: 60px;
}
.opt button {
  opacity: 50%;
  font-size: 23px;
  line-height: 27.6px;
  padding: 16px 32px;
}
.ModlMainbtn button img {
  height: 32px;
}

.RytContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.RytContDetails {
  background: #fef8f4;
  width: 100%;
  border-radius: 24px;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.ownerImg {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ownerImg img {
  height: 60px;
}
.owndetl h4 {
  font-family: 'ClashGrotesk-Variable';
  font-size: 23px;
  font-weight: 500;
  line-height: 27.6px;
  letter-spacing: -0.01em;
  color: var(--black-text);
  margin: 0;
}
.owndetl p {
  font-family: 'Satoshi-Variable';
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  color: var(--black-text);
  margin: 0;
}
.PopOwnerDetail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.popowneritems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #37223c1a;
}
.popowneritems:last-child {
  border-bottom: none;
}
.popowneritems h5 {
  font-family: 'Satoshi-Variable';
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  opacity: 70%;
  margin: 0;
}
.popowneritems h4 {
  font-family: 'Satoshi-Variable';
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  margin: 0;
}
.ModlMainbtn {
  width: 100%;
}

/* DashModal  ended  */

/* input style  */

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #37223c !important;
  border-radius: 4px;
  position: relative;
  outline: none;
  cursor: pointer;
  background-color: #fff !important;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin: 0;
}
input[type='checkbox']:checked {
  background-color: var(--chilli-red) !important;
  border-color: var(--chilli-red) !important;
}
input[type='checkbox']::before {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
}
input[type='checkbox']:checked::before {
  background-color: var(--chilli-red);
}
input[type='checkbox']:checked::after {
  position: absolute;
  top: -2px;
  left: 4px;
  font-size: 13px;
  color: #fff;
}
.form-check-input:focus {
  box-shadow: none !important;
}

/* input style  */

/* serchbar style  */
.Searchbar {
  width: 100%;
  max-width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #37223cb2;
  padding: 2px 12px;
  border-radius: 36px;
  height: 48px;
}
.Searchbar input {
  background-color: transparent;
  border: none;
}
.Searchbar button {
  background: transparent;
  border: none;
}
.Searchbar button i {
  color: var(--black-text);
  font-size: 20px;
}
/* serchbar style  */

/* select Ul  */

.SelectUl {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.SelectUl li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #312943;
  border-radius: 28px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: -0.02em;
  color: #37223c;
  font-family: var(--satoshi-font);
  min-width: 85px;
  min-height: 42px;
  cursor: pointer;
  padding: 0px 20px;
}
.SelectUl li.active {
  background: linear-gradient(
    139.66deg,
    rgba(253, 189, 116, 0.21) 18.09%,
    rgba(253, 189, 116, 0.07) 86.04%
  );
  border: 1px solid var(--chilli-red);
  color: var(--chilli-red);
  font-weight: 700;
}
/* select Ul  */

/* ConsultationModeDiv */

.ConsultationModeDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ConsultationModeDiv p {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  margin: 0;
}
.ConstModeUl ul {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.ConstModeUl ul li {
  border: 0.5px solid #312943;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--satoshi-font);
  height: 48px;
  width: 111px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: -0.02em;
  color: #37223c;
}
.ConstModeUl ul li.active {
  border: 1px solid var(--chilli-red);
  background: linear-gradient(
    139.66deg,
    rgba(253, 189, 116, 0.21) 18.09%,
    rgba(253, 189, 116, 0.07) 86.04%
  );
  color: var(--chilli-red);
  font-weight: 700;
}

/* ConsultationModeDiv */

/* Package Table  */

.PackageHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.PackageHead h3 {
  font-family: var(--grotesk-font);
  font-size: 23px;
  font-weight: 500;
  line-height: 39.6px;
  letter-spacing: -0.02em;
  color: var(--black-text);
  margin: 0;
}
.PackageHead h3 span {
  color: var(--chilli-red);
}
.PackageHead button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background: transparent;
  padding: 0;
  border: none;
  color: var(--chilli-red);
  font-family: var(--grotesk-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 39.6px;
  letter-spacing: -0.02em;
}
.PackageHead button:hover {
  background: transparent;
  padding: 0;
  border: none;
  color: var(--chilli-red);
  font-family: var(--grotesk-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 39.6px;
  letter-spacing: -0.02em;
}
.PackageHead button:active {
  color: var(--chilli-red) !important;
  background-color: transparent !important;
  border: none;
}
.Packgetable {
  width: 100%;
  background: #ffffff;
  padding: 24px;
  box-shadow: 4px 4px 18px -5px #55413414;
  border-radius: 26px;
  display: block;
  overflow-x: auto;
}
.Packgetable {
  width: 100%;
  background: #ffffff;
  padding: 24px;
  box-shadow: 4px 4px 18px -5px #55413414;
  border-radius: 26px;
  display: block;
  overflow-x: auto;
  margin: 0px !important;
}
.Packgetable thead tr,
.Packgetable tbody tr {
  width: 100%;
  display: grid;
  grid-template-columns: 198px 178px 88px 148px 148px 248px 148px;
  align-items: flex-start;
}
.Packgetable thead tr th {
  font-family: var(--satoshi-font);
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  opacity: 70%;
  color: var(--black-text);
}
.Packgetable tbody tr td {
  font-family: var(--satoshi-font);
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--black-text);
}
.Packgetable thead tr th,
.Packgetable tbody tr td {
  padding: 24px 10px;
  height: 100%;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
}
.Packgetable tbody tr:last-child td {
  border: none;
}

.Packgetable thead tr th:last-child {
  justify-content: center;
}
.Packgetable tbody tr td:last-child {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100%;
}
.Packgetable tbody tr td:last-child button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8ac1b126;
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  border: none;
}
.Packgetable tbody tr td:last-child button svg {
  width: 18px;
  height: 18px;
  color: #8ac1b1;
}
.Packgetable tbody tr td:last-child button:last-child {
  background: #d041221a;
}
.Packgetable tbody tr td:last-child button:last-child svg {
  color: #d04122 !important;
}

/* Package Table  */
