.EmergencyAppoitSec{
    padding: 100px 0px;
}
.EmergencyVetData{
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.TopEmergencyVet{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.TopEmergencyVet .EmergencyHeading{
    display: flex;
    align-items: center;
    gap: 16px;
}
.TopEmergencyVet .EmergencyHeading h2{
    margin: 0;
    font-family: var(--grotesk-font);
    color: var(--black-text);
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
}
.TopEmergencyVet .EmergencyHeading span{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--lightblue);
    color: var(--skytext);
    font-family: var(--satoshi-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    padding: 12px 16px;
    border-radius: 16px;
    min-height: 46px;
}





.TopEmergencyVet .Emergencyoverview{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* EmergencyFormDiv Started  */

.EmergencyFormDiv{
    border: 1px solid var(--lightgrey);
    box-shadow: 0px 0px 8px 0px #00000014;
    background: var(--whitebg);
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 40px;
    border-radius: 24px;
}
.EmergencyFormDiv .FormItems{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.EmergencyFormDiv .FormItems h6{
    margin: 0;
    color: var(--black-text);
    font-weight: 500;
    font-size: 19px;
    line-height: 120%;
}
.EmergencyFormDiv .FormItems form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.EmergencyFormDiv .FormItems form .EmerFormBtn{
    display: flex;
    justify-content: flex-end;
}




/* EmergencyFormDiv Ended   */