.FAQ_Accordion{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px;
}
.Faq_accordion_item{
    box-shadow: 0px 5px 16px 0px #080F340F;
    border-radius: 32px !important; 
    /* min-height: 132px; */
    height: 100%;
}
.FaQ_Header{
    font-family: var(--grotesk-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    min-height: 132px;
    display: flex;
}
.FaQ_Header button{
    font-family: var(--grotesk-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    color: var(--black-text) !important;
}
.Faq_button{
    border-radius: 32px !important; 
    outline: none !important;
}
.accordion-button:focus {
    box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    box-shadow: none !important;
}
.Faq_accordion_item:has(.accordion-button:not(.collapsed)) {
    border: 2px solid var(--chilli-red) !important;
    box-shadow: 0px 6px 16px 0px #FF4B2430;
}
.FaQ_Header:has(.accordion-button:not(.collapsed)) {
    min-height: unset;
}

.accordion-button::after {
    background: var(--dynamic-bg-img) !important;
    background-size: 100% 100% !important;
    width: 50px !important;
    height: 50px !important;
}
.accordion-button:not(.collapsed)::after {
    background: var(--dynamic-bg-img-hover) !important;
    background-size: 100% 100% !important;
    width: 50px !important;
    height: 50px !important;
    transform: rotate(-0deg) !important;
}

.FAQ_Accordion .accordion-body p{
    font-family: var(--satoshi-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}