.DevlpSignUpSec{

    background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
   var(--background-image)no-repeat; 
    background-size: cover; 
    height: 100%;
    min-height: 100vh;
}
.DevlpSignupData{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}

.DevSignUpText{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.DevSignUpText h1{
    font-family: var( --grotesk-font);
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.DevSignUpText h1 span{
    color: #FDBD74;
}

.SignFormDiv{
    background-color: var(--mainBg);
    box-shadow: 0px 10px 20px 0px #47382729;
    border-radius: 28px;
    padding: 50px;
    width: 100%;
    max-width: 630px;
    float: inline-end;
    margin: 0 auto;
}