.doctor-dashboard-Sec{
    padding: 80px 0px;
}

.DoctorDashboardData{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

/* .TopDoctorDashboard Started  */
.TopDoctorDashboard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.TopDoctorDashboard .LeftDash{
    display: flex;
    align-items: center;
    gap: 14px;
}
.TopDoctorDashboard .LeftDash img{
    border-radius: 50%;
    border: 1px solid var(--blue-text);
}
.TopDoctorDashboard .LeftDash .DoctorName{
    display: flex;
    flex-direction: column;
}
.TopDoctorDashboard .LeftDash .DoctorName p{
    margin: 0;
    color: var(--black-grey-Text);
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
}
.TopDoctorDashboard .LeftDash .DoctorName h2{
    color: var(--black-text);
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    margin: 0;
}
.TopDoctorDashboard .RightDash{
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 160px;
}
.TopDoctorDashboard .RightDash p{
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    color: var(--notibg);
    margin: 0;
}
.TopDoctorDashboard .RightDash .custom-toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.TopDoctorDashboard .RightDash .custom-toggle-container .custom-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}
.TopDoctorDashboard .RightDash .custom-toggle-container .custom-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.TopDoctorDashboard .RightDash .custom-toggle-container .custom-switch .slider {
  position: absolute;
  cursor: pointer;
  background-color: var(--greybg);
  border-radius: 34px;
  transition: 0.4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.TopDoctorDashboard .RightDash .custom-toggle-container .custom-switch .slider::before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--whitebg);
  border-radius: 50%;
  transition: 0.4s;
}
.TopDoctorDashboard .RightDash .custom-toggle-container .custom-switch input:checked + .slider {
  background-color: var(--blue-text);
}
.TopDoctorDashboard .RightDash .custom-toggle-container .custom-switch input:checked + .slider::before {
  transform: translateX(22px);
}
.TopDoctorDashboard .RightDash .custom-toggle-container .status-text {
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  font-family: var(--satoshi-font);
}
.TopDoctorDashboard .RightDash .custom-toggle-container .status-text.available {
  color: var(--blue-text);
}
.TopDoctorDashboard .RightDash .custom-toggle-container .status-text.not-available {
  color: var(--greybg);
}

.TopDoctorDashboard .RightDash a{
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    font-family: var(--satoshi-font);
    color: var(--black-text);
    transition: all 0.3s ease;
}
.TopDoctorDashboard .RightDash a svg{ 
    font-size: 24px;
}
.TopDoctorDashboard .RightDash a:hover{ 
    color: var(--blue-text);
}
/* .TopDoctorDashboard Ended  */

