.doctor-dashboard-Sec{
    padding: 80px 0px;
}

.DoctorDashboardData{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

/* .TopDoctorDashboard Started  */
.TopDoctorDashboard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.TopDoctorDashboard .LeftDash{
    display: flex;
    align-items: center;
    gap: 14px;
}
.TopDoctorDashboard .LeftDash img{
    border-radius: 50%;
    border: 1px solid var(--blue-text);
}
.TopDoctorDashboard .LeftDash .DoctorName{
    display: flex;
    flex-direction: column;
}
.TopDoctorDashboard .LeftDash .DoctorName p{
    margin: 0;
    color: var(--black-grey-Text);
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
}
.TopDoctorDashboard .LeftDash .DoctorName h2{
    color: var(--black-text);
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    margin: 0;
}
.TopDoctorDashboard .RightDash{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 160px;
}
.TopDoctorDashboard .RightDash p{
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    color: var(--notibg);
    margin: 0;
}
.TopDoctorDashboard .RightDash .custom-toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.TopDoctorDashboard .RightDash .custom-toggle-container .custom-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}
.TopDoctorDashboard .RightDash .custom-toggle-container .custom-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.TopDoctorDashboard .RightDash .custom-toggle-container .custom-switch .slider {
  position: absolute;
  cursor: pointer;
  background-color: var(--greybg);
  border-radius: 34px;
  transition: 0.4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.TopDoctorDashboard .RightDash .custom-toggle-container .custom-switch .slider::before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--whitebg);
  border-radius: 50%;
  transition: 0.4s;
}
.TopDoctorDashboard .RightDash .custom-toggle-container .custom-switch input:checked + .slider {
  background-color: var(--blue-text);
}
.TopDoctorDashboard .RightDash .custom-toggle-container .custom-switch input:checked + .slider::before {
  transform: translateX(22px);
}
.TopDoctorDashboard .RightDash .custom-toggle-container .status-text {
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  font-family: var(--satoshi-font);
}
.TopDoctorDashboard .RightDash .custom-toggle-container .status-text.available {
  color: var(--blue-text);
}
.TopDoctorDashboard .RightDash .custom-toggle-container .status-text.not-available {
  color: var(--greybg);
}

.TopDoctorDashboard .RightDash a{
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    font-family: var(--satoshi-font);
    color: var(--black-text);
    transition: all 0.3s ease;
}
.TopDoctorDashboard .RightDash a svg{ 
    font-size: 24px;
}
.TopDoctorDashboard .RightDash a:hover{ 
    color: var(--blue-text);
}
/* .TopDoctorDashboard Ended  */







/* DoctorAvailabilty Started  */

.DoctorAvailabilty{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.DoctorAvailabilty h2{
  margin: 0;
  color: var(--black-text);
  font-family: var(--grotesk-font);
  font-weight: 500;
  font-size: 33px;
  line-height: 120%;
}
.AvailabityDivDoctor{
  border: 1px solid var(--profileborder);
  padding: 40px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.AvailabityDivDoctor .AvltyFor{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AvailabityDivDoctor .AvltyFor .avldate{
  display: flex;
  align-items: center;
  gap: 12px;
}
.AvailabityDivDoctor .AvltyFor .avldate h5{
  margin: 0;
  font-weight: 500;
  font-size: 23px;
  line-height: 120%;
  font-family: var(--grotesk-font);
}
/* .AvailabityDivDoctor .AvltyFor .avldate input.AvlDatepicker{
  min-width: 242px;
  max-width: 242px;
  min-height: 37px;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid var(--lightgrey);
  border-radius: 0;
  outline: none;
  color: var(--blue-text);
  font-weight: 500;
  font-size: 23px;
  line-height: 120%;
  font-family: var(--grotesk-font);
}
.AvailabityDivDoctor .AvltyFor .avldate input.AvlDatepicker:focus{
  border-color: var(--lightgrey);
} */
.AvailabityDivDoctor .AvltyFor .Avlswitch{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.AvailabityDivDoctor .AvltyFor .Avlswitch p{
  color: var(--notibg);
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  margin: 0;
  font-family: var(--satoshi-font);
}
.AvailabityDivDoctor .AvltyFor .Avlswitch .custom-toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.AvailabityDivDoctor .AvltyFor .Avlswitch .custom-toggle-container .custom-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}
.AvailabityDivDoctor .AvltyFor .Avlswitch .custom-toggle-container .custom-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.AvailabityDivDoctor .AvltyFor .Avlswitch .custom-toggle-container .custom-switch .slider {
  position: absolute;
  cursor: pointer;
  background-color: var(--greybg);
  border-radius: 34px;
  transition: 0.4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.AvailabityDivDoctor .AvltyFor .Avlswitch .custom-toggle-container .custom-switch .slider::before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--whitebg);
  border-radius: 50%;
  transition: 0.4s;
}
.AvailabityDivDoctor .AvltyFor .Avlswitch .custom-toggle-container .custom-switch input:checked + .slider {
  background-color: var(--blue-text);
}
.AvailabityDivDoctor .AvltyFor .Avlswitch .custom-toggle-container .custom-switch input:checked + .slider::before {
  transform: translateX(22px);
}
.AvailabityDivDoctor .AvltyFor .Avlswitch .custom-toggle-container .status-text {
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  font-family: var(--satoshi-font);
}
.AvailabityDivDoctor .AvltyFor .Avlswitch .custom-toggle-container .status-text.available {
  color: var(--blue-text);
}
.AvailabityDivDoctor .AvltyFor .Avlswitch .custom-toggle-container .status-text.not-available {
  color: var(--greybg);
}
.AvailabityDivDoctor .appointselect{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AvailabityDivDoctor .appointselect .lft h6{
  margin: 0;
  font-weight: 500;
  font-size: 23px;
  line-height: 120%;
  font-family: var(--grotesk-font);
}
.AvailabityDivDoctor .appointselect .lft p{
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-family: var(--satoshi-font);
}
.AvailabityDivDoctor .appointselect .ryt .dropdown{
  border: 1px solid var(--greyborder);
  padding: 10px 24px;
  border-radius: 36px;
}
.AvailDateSlotDiv{
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.AvailDateSlotDiv .left-calendar , .AvailDateSlotDiv .right-slots {
  display: flex;
  flex-direction: column;
  gap: 16px;
}



/* .AvailDateSlotDiv .left-calendar {
  min-width: 330px;
}
.AvailDateSlotDiv .left-calendar .react-calendar{
  min-width: 330px;
  box-shadow: 0px 0px 8px 0px #55413414 !important;
  border-radius: 24px !important;
  border: 1px solid var(--lightgrey) !important;
  min-height: 358px !important;
  padding: 10px !important;

}
.AvailDateSlotDiv .left-calendar .react-calendar__navigation{
  margin: 0 !important;
}
.AvailDateSlotDiv .left-calendar  .react-calendar__navigation button:enabled:hover, .AvailDateSlotDiv .left-calendar  .react-calendar__navigation button:enabled:focus {
  background-color: transparent !important;
}
.AvailDateSlotDiv .left-calendar .react-calendar__navigation button:disabled {
  background-color: transparent !important;
}
.AvailDateSlotDiv .left-calendar .react-calendar__navigation button{
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-weight: 700;
  font-size: 13px;
  margin: 0;
}
.AvailDateSlotDiv .left-calendar .react-calendar__month-view__weekdays__weekday{
  color: var(--greyborder);
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  font-family: var(--satoshi-font);
}
.AvailDateSlotDiv .left-calendar .react-calendar__month-view__weekdays__weekday abbr[title]{
  text-decoration: none !important;
}
.AvailDateSlotDiv .left-calendar .react-calendar__month-view__days{
  gap: 24px !important;
  padding: 0.5em !important;
}
.AvailDateSlotDiv .left-calendar .react-calendar__month-view__days button{
  padding: 0 !important;
  width: fit-content !important;
  background: transparent !important;
  margin: 0 !important;
  flex: none !important;
  padding: 0.5em !important;
  border-radius: 50% !important;
  color: var(--black-text) !important;
  width: 33px !important;
  height: 33px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.AvailDateSlotDiv .left-calendar .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus , .AvailDateSlotDiv .left-calendar .react-calendar__tile--active {
  background: var(--light-blue) !important;
} */




.AvailDateSlotDiv .left-calendar .SlotInfo , .AvailDateSlotDiv .right-slots .SlotInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.AvailDateSlotDiv .left-calendar .SlotInfo h6 , .AvailDateSlotDiv .right-slots .SlotInfo h6{
  margin: 0;
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}
.AvailDateSlotDiv .right-slots .slot-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px;
}
.AvailDateSlotDiv .right-slots .slot-grid button{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 103px;
  min-height: 48px;
  border: 1px solid var(--notibg);
  border-radius: 28px;
  background: var(--whitebg);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--black-text);
  font-family: var(--satoshi-font);
  padding: 0 !important;
}
.AvailDateSlotDiv .right-slots .slot-grid button.unavailable  {
  color: var(--greytext);
  border: 1px solid var(--greyborder);
}
.AvailDateSlotDiv .right-slots .slot-grid button.selected {
  /* background: var(--blue-text); */
  background: rgb(228, 14, 14);
  color: var(--white-text);
  border: 1px solid var(--blue-text);
}



.AvailabityDivDoctor .updateBtn{
  padding: 16px 32px;
  border-radius: 28px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-width: 300px;
  max-width: fit-content;
  margin: 0 auto;
  background: var(--black-bg);
  color: var(--white-text);
  border: 1px solid var(--black-bg);
  font-family: var(--grotesk-font);
  font-size: 23px;
  font-weight: 500;
  line-height: 120%;
}
.AvailabityDivDoctor .updateBtn:hover{
  background: transparent;
  color: var(--black-text);
}



/* DoctorAvailabilty Ended  */
.slot-gridd {
  display: flex;
 align-items: center;
 justify-content: space-between;
  gap: 8px;
  padding: 10px;

border: 2px solid #EAEAEA

}

.kk{
  display: flex;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
}