.AppintmentSection{
    padding: 100px 0px;
}
.AssmtReportDiv{
    padding: 30px 0px;
    border-bottom: 1px solid #5D412F26;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.score {
    display: flex;
    align-items: center;
    gap: 12px;
}
ol{
    list-style-type: none;
}
.scrDiv{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.scroli{
    display: flex;
    align-items: center;
    gap: 12px;
}
.scrDiv h6{
    background: #D0D0D026;
    padding: 6px 0px;
    margin: 0;
    text-align: center;
    font-family: 'Satoshi-Variable';
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    border-radius: 4px;
    color: var(--green);
}

.scroli input[type="radio"] {
    all: unset;
    display: grid;
    place-content: center;
    box-sizing: border-box;
    inline-size: 40px;
    block-size: 40px;
    border-radius: 8px;
}
.scroli li input[type="radio"]{
    background-color: var(--green);
}
.scrDiv:nth-of-type(2) .scroli li input[type="radio"] {
    background-color: var(--greenlight);
}
.scrDiv:nth-of-type(3) .scroli li input[type="radio"] {
    background-color: var(--yellow);
}
.scrDiv:nth-of-type(4) .scroli li input[type="radio"] {
    background-color: var(--orange);
}
.scrDiv:nth-of-type(5) .scroli li input[type="radio"] {
    background-color: var(--red);
}
.scrDiv:nth-of-type(2) h6 {
   color: var(--greenlight);
}
.scrDiv:nth-of-type(3) h6 {
   color: var(--yellow);
}
.scrDiv:nth-of-type(4) h6 {
   color: var(--orange);
}
.scrDiv:nth-of-type(5) h6 {
   color: var(--red);
}
.scroli input[type="radio"]::before {
    content: attr(data-text);
}
.scroli input[type="radio"]:focus {
    box-shadow: 0 0 5px 0 rgb(255 255 100 / 1);
}
.scroli input[type="radio"]:checked {
    transform: scale(1.1);
    color: #fff;
}
  