.DashboardSection{
    padding: 100px 0px;
}


/* DashGraphDiv start */

.TableHeading h5{
    font-family: 'ClashGrotesk-Variable';
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.TableHeading h5 span{
    color: var(--chilli-red);
}
.DashGraphDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}









/* DashGraphDiv end */