.DownlodeSec{
    padding: 80px 0px;
    position: relative;
    min-height: 100vh;
    z-index: 1;
    display: flex;
}
.DownlodeSec::after{
    content: " ";
    position: absolute;
    background: var(--background-image)no-repeat;
    background-size: 100% 100%;
    width: 910px;
    height: 1035px;
    right: 0;
    top: 0;
    z-index: -1;
}
.DownlodeSec::before{
    content: " ";
    position: absolute;
    background:var(--background-img)no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -2;
}
.Downlode_Data{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100%;
    justify-content: center;
}
.downlodetext {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.downlodetext h1{
    font-family: var(--grotesk-font);
    font-size: 54px;
    font-weight: 500;
    line-height: 58.4px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.downlodetext h1 span{
    color: var(--chilli-red);
}
.downlodetext p{
    font-size: 18px;
    font-weight: 400;
    line-height: 23.6px;
    letter-spacing: -0.02em;
    color: #000000;
    max-width: 407px;
}
.downlodeReview {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reviewItems{
    display: flex;
    position: relative;
    flex-direction: column;
}
.reviewItems::after{
    position: absolute;
    content: " ";
    background:var(--background-wave)no-repeat;
    background-size: 100% 100%;
    left: -72px;
    top: 0px;
    width: 70px;
    height: 60px;
}
.reviewItems h6{
    font-family: var(--grotesk-font);
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #D09B5E;
    margin: 0;
}
.reviewItems p{
    font-family: var(--grotesk-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 24.6px;
    letter-spacing: -0.02em;
    color: #595958;
    margin: 0;
}




/* Pet Toolkit */

.PetToolkitSec{
    padding: 100px 0px;
}
.pettoolkithead .SecHead{
    text-align: left !important;
}
.ToolkitKeyData{
    display: flex;
    gap: 100px;
    justify-content: end;
    animation: scroll 20s linear infinite;
    padding: 100px 0px;
}
@keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
.ToolKitKeyItems{
    position: relative;
}
.keyinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
}
.keyinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.keyinner h6{
    font-family: var(--satoshi-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 21.8px;
    letter-spacing: -0.02em;
    color: #595958;
    margin: 0;
    text-align: center;

}



/* PawsPraisesSec */

.PawsPraisesSec{
    padding: 100px 0px 50px 0px;
}
.PawsPrasData{
    padding: 100px 0px;
}
.BrownDiv img , .PurpleDiv img , .GreenDiv img{
    width: 100%;
}
.BrownDiv, .PurpleDiv  , .GreenDiv {
    position: relative;
}
.BrownDiv::after{
    position: absolute;
    content: " ";
    background: var(--background-Paws)no-repeat;
    background-size: 100% 100%;
    left: 185px;
    top: -25px;
    width: 137px;
    height: 132px;
    animation: rotate-image 5s linear infinite;
}
.PurpleDiv::after{
    position: absolute;
    content: " ";
    background: var(--background-Paws2)no-repeat;
    background-size: 100% 100%;
    top: -10px;
    right: 155px;
    width: 107px;
    height: 107px;
    animation: rotate-image 5s linear infinite;
}
.GreenDiv::after{
    position: absolute;
    content: " ";
    background: var(--background-Paws3)no-repeat;
    background-size: 100% 100%;
    left: 160px;
    bottom: -22px;
    width: 108px;
    height: 108px;
    animation: rotate-image 5s linear infinite;
}
@keyframes rotate-image {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(180deg)
    }
}


/* GlimpseSec */
.GlimpseSec{
    position: relative;
    padding: 80px 0px 200px 0px;
}
.GlimpseSec::after{
    position: absolute;
    content: " ";
    background: var(--background-glimpseafter)no-repeat;
    background-size: 100% 100%;
    top: 0px;
    left: 0;
    width: 100%;
    height: 977px;
    z-index: -1;
}


/* PetAppSec */

.PetAppSec{
    position: relative;
    padding: 0px 0px 200px 0px;
}
.PetAppSec::after{
    position: absolute;
    content: " ";
    background: var(--background-petlines)no-repeat;
    background-size: 100% 100%;
    top: 50px;
    left: 0;
    width: 100%;
    height: 140px;
    z-index: -1;
}

.PetAppData{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.LftpetApp {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.PetAppText h2{
    font-family: var(--grotesk-font);
    font-size: 54px;
    font-weight: 500;
    line-height: 58.4px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.PetAppText h2 span{
    color: var(--chilli-red);
}
.PetAppText p{
    font-size: 18px;
    font-weight: 400;
    line-height: 23.6px;
    letter-spacing: -0.02em;
    color: #000000;
    max-width: 407px;
}
.PetAppBtn{
    display: flex;
    align-items: center;
    gap: 20px;
}
.PetAppBtn a{
    border: 1px solid var(--chilli-red);
    width: 190px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    gap: 8px;
}
.PetAppBtn a span{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.PetAppBtn a span p{
    margin: 0;
    font-size: 10px;
    font-weight: 500;
    line-height: 8px;
    letter-spacing: -0.03em;
    color: #595958;
}
.PetAppBtn a span h6{
    margin: 0;
    font-family: var(--satoshi-font);
    font-size: 16.09px;
    font-weight: 500;
    line-height: 20.51px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}

.PetAppBtn a:hover{
    background: var(--chilli-red);
}
.PetAppBtn a:hover img{
    filter: invert(1);
}
.PetAppBtn a:hover span p , .PetAppBtn a:hover span h6 {
    color: #fff;
}