.CheckInSec {
  padding: 100px 0px;
}
.CheckInData {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.TopCheckIn {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.CheckInHead {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.CheckInName {
  width: 100%;
}
.CheckInName h2 {
  font-family: var(--grotesk-font);
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -0.02em;
  margin: 0;
}
.CheckInName h2 span {
  color: var(--chilli-red);
}
.CheckInBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: end;
}
.CheckToken button {
  background: var(--chilli-red);
  border: 1px solid var(--chilli-red);
  padding: 14px 24px;
  border-radius: 28px;
  width: 203px;
  height: 48px;
  line-height: 0px;
  color: #fffefe;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}
.CheckInBoxed {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.CheckInBoxed h6 {
  font-family: var(--grotesk-font);
  font-size: 23px;
  font-weight: 500;
  line-height: 27.6px;
  letter-spacing: -0.02em;
  color: #302f2e;
}
.CheckInOverview {
  display: grid;
  grid-template-columns: auto auto;
}
.CheckInOverview .Boxsed {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.CheckInServing {
  background: #8e88d2;
  padding: 24px 20px;
  width: 305px;
  height: 228px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: 4px 4px 18px -5px #55413414;
}
.ServingText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ServingText h6 {
  font-family: var(--grotesk-font);
  font-size: 19px;
  font-weight: 400;
  line-height: 22.8px;
  letter-spacing: -0.02em;
  color: #fef8f4;
  margin: 0;
}
.ServingText h2 {
  font-family: var(--grotesk-font);
  font-size: 64px;
  font-weight: 500;
  line-height: 76.8px;
  letter-spacing: -0.02em;
  color: #fef8f4;
  margin: 0;
}
.ServPrevBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ServPrevBtn a {
  border: 1px solid #fffefe;
  padding: 10px 16px;
  border-radius: 28px;
  font-family: var(--grotesk-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: 0.02em;
  color: #fffefe;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-width: 128px;
}
.ServPrevBtn a.active {
  background: #fdbd74;
  border: 1px solid #fdbd74;
  color: #595958;
}
.ServPrevBtn a svg {
  color: #fffefe;
  font-weight: 600;
  font-size: 18px;
}
.ServPrevBtn a.active svg {
  color: #595958;
  font-weight: 600;
  font-size: 18px;
}

/* CheckInModalSec */

.CheckInModal .modal-dialog {
  width: 100%;
  max-width: 1064px !important;
}
.CheckInModal .modal-content {
  background: var(--mainBg);
  box-shadow: 4px 4px 18px -5px #55413414;
  width: 100%;
  padding: 20px 20px;
  border-radius: 40px;
}
.CheckInModal .modal-content .modal-header {
  justify-content: center;
  border: none;
}
.CheckInModal .modal-content .modal-header h3 {
  font-size: 33px;
  font-weight: 500;
  line-height: 39.6px;
  letter-spacing: -0.02em;
  font-family: var(--grotesk-font);
  color: var(--black-text);
}
.CheckInModal .modal-content .modal-header h3 span {
  color: var(--chilli-red);
}
.CheckInModal .modal-content .modal-body {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.CheckInModal .modal-content .modal-body .CheckInBg {
  border: 1px solid #5d412f26;
  border-radius: 28px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.CheckInModal .modal-content .modal-body .CheckInBg h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 21.6px;
  letter-spacing: -0.02em;
  font-family: var(--grotesk-font);
  color: var(--black-text);
  margin: 0;
}

.CheckInModal .modal-content .modal-body .PetTypeDiv {
  display: flex;
  flex-direction: column;
}
.CheckInModal .modal-content .modal-body .PetTypeDiv p {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  letter-spacing: -0.02em;
  color: var(--black-text);
}

.onrdtl {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.onrdtltype {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: end;
  gap: 20px;
}
.error-text {
  font-size: 13px;
  font-weight: 300;
  line-height: 16.8px;
  letter-spacing: -0.02em;
  color: red;
}
