.assmtsec{
    padding: 20px 0px;
}
.accmthead h6{
    font-family: 'ClashGrotesk-Variable';
    font-size: 19px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;    
    color: var(--black-text);
}
.accmthead h6 span {
    color: var(--chilli-red);
}
.assmttable {
    width: 100%;
    border-collapse: collapse;
}
.assmttable thead tr th {
    border-bottom: 1px solid #5D412F26;
}
.assmttable tbody tr td:first-child {
    width: 60%;
    border-bottom: 1px solid #5D412F26;
}
.assmttable tbody tr td:last-child {
    width: 40%;
    border-bottom: 1px solid #5D412F26;
}
.assmttable th, .assmttable td {
    padding: 10px;
}

.assmttable thead tr th {
    font-family: 'Satoshi-Variable';
    color: var(--chilli-red);
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
}
.assmttable tbody tr td h5 {
    font-family: 'Satoshi-Variable';
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    display: inline-block;

}
.assmttable tbody tr td span {
    font-family: 'Satoshi-Variable';
    color: var(--chilli-red);
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    margin-right: 8px;
}
.assmttable tbody tr td p {
    font-family: 'Satoshi-Variable';
    color: var(--black-text);
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
    opacity: 70%;
}
.assmttable tbody tr td p.details {
    padding-left: 28px;
}

.assmtpagination{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    background: #E4E7EC33;
    border-top: 1px solid #E4E7EC;
    padding: 12px 16px;
}
.assmtpagination button {
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px 0px #1018280D;
    border: 1px solid #D04122;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.assmtpagination button i {
    color: var(--chilli-red);
    font-size: 20px;
}
  
.assmtpagination button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
    border: 1px solid #D0D5DD;
}
.assmtpagination button[disabled] i {
    color: #D0D5DD;
}
  
.assmtpagination span {
    line-height: 40px;
}
.PaginationName {
    margin: 0;
    font-family: 'Satoshi-Variable';
    color: #344054;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
}
.PaginationName span {
    font-weight: 500;
    color: var(--chilli-red);
}
  


  
 
  