.RoundTabsSec{
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}
.RoundTabs {
  border: none;
  gap: 15px;
}
.RoundTabs .nav-link {
  background: none;
  border: 1px solid var(--black-bg);
  border-radius: 28px;
  color: var(--notibg);
  font-weight: 700;
  font-size: 15px;
  min-height: 48px;
  padding: 12px 20px;
  margin-right: 0;
  transition: color 0.2s;
  position: relative;
  line-height: 120%;
  font-family: var(--satoshi-font);
  /* underline animation base */
}

/* Remove default focus outline */
.RoundTabs .nav-link:focus {
  box-shadow: none;
}

/* Active tab underline animation */
.RoundTabs .nav-link.active {
  color: var(--blue-text);
  border: 1px solid var(--blue-text);
  background: var(--light-blue);

}
.RoundTabs .nav-link.active::after {
  transform: scaleX(1);
}
/* Inactive tab hover effect and underline animation */
.RoundTabs .nav-link:not(.active):hover {
  color: var(--blue-text);
  border: 1px solid var(--blue-text);
  background: var(--light-blue);
}
.RoundTabs .nav-link:not(.active):hover::after {
  transform: scaleX(1);
}
.RoundTabsSec ul li button span.tab-count-badge{
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--delete);
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  font-family: var(--satoshi-font);
  border-radius: 50%;
  color: var(--white-text);
  margin-left: 5px;
}

.RoundTabsSec .SearchBar{
    position: absolute;
    top: 0;
    right: 0;
}
.RoundTabsSec .SearchBar input{
    border-radius: 36px;
    padding: 10px 24px;
    border: 1px solid var(--pinkborder);
    background: var(--whitebg);
    color: var(--black-text);
    font-weight: 400;
    font-size: 15px;
    font-family: var(--satoshi-font);
}
.RoundTabsSec .SearchBar input::placeholder{
    color: var(--lightblack);
    opacity: 60%;
}
