.header {
    padding: 10px 0px;
    transition: all 0.5s;
    background: var(--whitebg);
    z-index: 997;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #7D7D7D 50%, rgba(255, 255, 255, 0) 100%);
    border-image-slice: 1;
}
.header .logo {
  padding: 0px;
}

.header .logo img {
  width: 100%;
  max-width: 80px;
}

/* ========================== */
/* === PROFILE DROPDOWN === */
/* ========================== */

.UserInfoHeader{
    display: flex;
    align-items: center;
    gap: 24px;
}
.UserInfoHeader .Notify{
    width: 24px;
    height: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.UserInfoHeader .Notify svg{
    font-size: 18px;
    color: var(--notibg);
}
.UserInfoHeader .Notify .count{
    position: absolute;
    top: 0;
    right: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid var(--whitebg);
    background: var(--notibg);
}

.HeaderProfDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.NavUL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.NavUL .nav-item .nav-profile {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  cursor: pointer;
}
.nav-profile .user {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1.5px solid var(--blue-text);
  border-radius: 50%;
}
.nav-profile .user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.NavUL .nav-profile .userHostDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.NavUL .nav-profile .userHostDiv .userName{
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.NavUL .nav-profile .userHostDiv .userName p{
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-size: 13px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}
.NavUL .nav-profile .userHostDiv .Tier{
  color: var(--blue-text);
  font-family: var(--satoshi-font);
  font-size: 13px;
  font-weight: 700;
  line-height: 120%;
  border: 0.75px solid var(--blue-text);
  padding: 4px 8px;
  border-radius: 8px;
  margin: 0;
  text-align: center;
  background: var(--light-blue);
}

.profileUl {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px !important;
    padding: 16px 0;
    background: var(--whitebg);
    border: 1px solid var(--lightgrey);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 8px 0px #00000014;
    transform: translateY(20px);
    transition: all 0.3s ease;
    z-index: 999;
    list-style-type: none;
}
.profileUl .ProfDiv {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.profileUl .ProfDiv a{
  min-height: 40px;
  display: grid;
  align-items: center;
  grid-template-columns: 22px auto;
  padding-left: 25px;
  gap: 12px;
  color: var(--black-text);
  font-family: var(--grotesk-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}
.profileUl .ProfDiv a svg{
  font-size: 21px;
}
.profileUl .ProfDiv a:hover{
  background: var(--lightblue);
  color: var( --blue-text);
}

.NavUL .nav-item:hover > .profileUl {
    opacity: 1;
    visibility: visible;
    transform: translateY(5px);
}

.dropdown-menu-arrow {
  position: relative;
}


.profileUl li:last-child a:hover {
  border-radius: 0px 0px 12px 12px;
}

.profileUl .dropdown-header {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.profileUl .dropdown-header h6,
.profileUl .dropdown-header span {
  font-family: var(--satoshi-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 15.6px;
  letter-spacing: -0.03em;
  color: var(--black-text);
  margin: 0;
}

.profileUl .dropdown-header span {
  font-size: 12px;
  font-weight: 400;
}

.profileUl .dropdown-divider {
  margin: 0;
}

.profileUl .dropdown-item {
  padding: 10px 15px;
  transition: 0.3s;
}

.profileUl .dropdown-item span {
  font-size: 14px;
  font-family: var(--satoshi-font);
  font-weight: 500;
  line-height: 15.6px;
  letter-spacing: -0.03em;
  color: var(--black-text);
  margin: 0;
}

.profileUl .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.profileUl .dropdown-item:hover {
  background-color: var(--blue-text);
}

.profileUl .dropdown-item:hover span,
.profileUl .dropdown-item:hover i {
  color: #FFFFFF;
}

/* ========================== */
/* === NAVIGATION MENU === */
/* ========================== */

@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    font-family: var(--grotesk-font);
    color: var(--black-text);
    padding: 18px 15px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu li:hover > a,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--blue-text);
    transition: 0.3s;
  }

  .navmenu li ul.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    padding: 10px 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    z-index: 999;
  }

  .navmenu li:hover > ul.dropdown {
    display: block;
  }

  .navmenu ul.dropdown li {
    position: relative;
  }

  .navmenu ul.dropdown li a,
  .navmenu ul.dropdown li a.dropdown-toggle {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    color: var(--black-text);
  }
  .navmenu ul.dropdown li a.dropdown-toggle {
    display: block;
  }

  .navmenu ul.dropdown ul.dropdown {
    top: 0;
    left: 100%;
    margin-left: 1px;
    display: none;
    position: absolute;
  }

  .navmenu ul.dropdown li:hover > ul.dropdown {
    display: block;
  }


  
  .navmenu li ul.dropdown {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    padding: 10px 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 999;
  }

  .navmenu li:hover > ul.dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .navmenu li ul.dropdown li a {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    color: var(--black-text);
    white-space: nowrap;
  }

  .navmenu li ul.dropdown li a:hover {
    background: #f5f5f5;
    color: var(--blue-text);
  }

  .navmenu li ul.dropdown ul.dropdown {
    left: 100%;
    top: 0;
    margin-left: 1px;
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
  }

  .navmenu li ul.dropdown li:hover > ul.dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }



}



@media (max-width: 1199px) {

  .mobile-nav-toggle {
    color: var(--black-text);
    font-size: 28px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    border-radius: 6px;
    background-color: var(--mainBg);
    overflow-y: auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--black-text);
    padding: 10px 20px;
    font-family: var(--grotesk-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: color-mix(in srgb, var(--accent-color), white 90%);
    color: var(--blue-text);
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--blue-text);
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    transform: rotate(180deg);
  }

  .navmenu li ul.dropdown {
    display: none;
    flex-direction: column;
    background-color: #f9f9f9;
    border-left: 2px solid var(--blue-text);
    margin: 5px 0 5px 10px;
    padding-left: 10px;
  }

  .navmenu li.active > ul.dropdown {
    display: block;
  }

  .navmenu li ul.dropdown li a {
    padding: 8px 10px;
    font-size: 15px;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 30px;
    right: 35px;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
  }

  .mobile-nav-active .navmenu > ul {
    display: block;
  }
}



@media (max-width: 991px) {
  .header .btn-getstarted {
    margin-right: 50px;
  }
}



