.header {
  padding: 10px 0px;
  background: var(--whitebg);
  position: fixed;
  width: 100%;
  z-index: 997;
  border-bottom: 2px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #7d7d7d 50%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
  max-height: 100px;
}
.header .logo {
  padding: 0px;
  width: 80px;
  height: 80px;
}

.header .logo img {
  width: 100%;
  height: auto;
}

.public-header-mobile-menu {
  background: #fff;
  z-index: 999;
  display: flex;
  gap: 17px;
  flex-direction: column;
  position: fixed;
  top: 100%;
  left: 0;
  width: 100vw;
  padding: 30px 48px;
  overflow: auto;
}
.mobile-menu-item a {
  color: var(--notibg);
  font-family: var(--grotesk-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.32px;
}
.mobile-menu-item a:hover {
  color: var(--black-bg);
}
.mobile-menu-item .active,
.mobile-menu-item .active:focus {
  color: var(--blue-text);
  transition: 0.3s;
}
.mobile-menu-item-sperator {
  height: 1px;
  background: var(--lightgrey);
  width: 100%;
  margin-top: 17px;
}

.private-header-mobile-menu {
  background: #fff;
  z-index: 999;
  display: flex;
  gap: 24px;
  flex-direction: column;
  position: fixed;
  top: 100%;
  left: 0;
  width: 100vw;
  padding: 30px 48px;
  overflow: auto;
}
.verified-mobile-menu-item-label {
  color: var(--notibg);
  font-family: var(--grotesk-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.32px;
}
.verified-mobile-submenu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 0px;
  margin-top: 8px;
  border-radius: 8px;
  background: var(--yc-updated-white, #fff);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
}
.verified-mobile-submenu-item a {
  color: var(--notibg);
  font-family: var(--grotesk-font);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.32px;
  padding: 0px 20px;
}
.verified-mobile-menu-item .active,
.verified-mobile-menu-item .active:focus {
  color: var(--blue-text);
  transition: 0.3s;
}
.verified-mobile-menu-item-sperator {
  height: 1px;
  background: var(--lightgrey);
  opacity: 0.4;
  border-radius: 200px;
  width: 100%;
  margin-top: 4px;
}
.verified-profile-mobile-section {
  display: flex;
  align-items: center;
  gap: 8px;
}
.verified-profile-mobile-section .title {
  color: var(--black-bg);
  max-width: 180px;
}
.verified-mobile-submenu .danger a {
  color: var(--error-color) !important;
}
@media screen and (min-width: 1024px) {
  .header {
    position: relative;
  }
}

/* ========================== */
/* === PROFILE DROPDOWN === */
/* ========================== */

.UserInfoHeader {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 1024px) {
  .UserInfoHeader {
    gap: 12px;
  }
}
.UserInfoHeader .Notify {
  width: 24px;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.UserInfoHeader .Notify svg {
  font-size: 18px;
  color: var(--notibg);
}
.UserInfoHeader .Notify .count {
  position: absolute;
  top: 0;
  right: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--whitebg);
  background: var(--notibg);
}

.HeaderProfDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.NavUL {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.NavUL .nav-item .nav-profile {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  cursor: pointer;
}
.nav-profile .user {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  border: 1.5px solid var(--blue-text);
  border-radius: 50%;
}
.nav-profile .user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.NavUL .nav-profile .userHostDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.NavUL .nav-profile .userHostDiv .userName {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.NavUL .nav-profile .userHostDiv .userName p {
  color: var(--black-text);
  font-family: var(--satoshi-font);
  font-size: 13px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  max-width: 142px;
}
.NavUL .nav-profile .userHostDiv .Tier {
  color: var(--blue-text);
  font-family: var(--satoshi-font);
  font-size: 13px;
  font-weight: 700;
  line-height: 120%;
  border: 0.75px solid var(--blue-text);
  padding: 4px 8px;
  border-radius: 8px;
  margin: 0;
  text-align: center;
  background: var(--light-blue);
}

.profileUl {
  min-width: 200px !important;
  padding: 16px 0;
  background: var(--whitebg);
  border: 1px solid var(--lightgrey);
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 8px 0px #00000014;
  transform: translateY(20px);
  transition: all 0.3s ease;
  z-index: 999;
  list-style-type: none;
}
.verified-profile-desktop {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 140%;
  left: 0px;
}
.unverified-profile-mobile {
  position: absolute;
  top: 125%;
  left: -150px;
}
.unverified-profile-desktop {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 165%;
  left: -100px;
  transform: translateY(20px);
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .unverified-profile-desktop {
    display: none;
  }
  .verified-userinfo {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .unverified-profile-mobile {
    display: none;
  }
}
.profileUl .ProfDiv {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.profileUl .ProfDiv a {
  min-height: 40px;
  display: grid;
  align-items: center;
  grid-template-columns: 22px auto;
  padding-left: 25px;
  gap: 12px;
  color: var(--black-text);
  font-family: var(--grotesk-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}
.profileUl .ProfDiv a svg {
  font-size: 21px;
}
.profileUl .ProfDiv a:hover {
  background: var(--lightblue);
  color: var(--blue-text);
}

.NavUL .nav-item:hover > .unverified-profile-desktop {
  opacity: 1;
  visibility: visible;
  transform: translateY(5px);
}

.NavUL .nav-item:hover > .verified-profile-desktop {
  opacity: 1;
  visibility: visible;
  transform: translateY(5px);
}

.dropdown-menu-arrow {
  position: relative;
}

.profileUl li:last-child a:hover {
  border-radius: 0px 0px 12px 12px;
}

.profileUl .dropdown-header {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.profileUl .dropdown-header h6,
.profileUl .dropdown-header span {
  font-family: var(--satoshi-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 15.6px;
  letter-spacing: -0.03em;
  color: var(--black-text);
  margin: 0;
}

.profileUl .dropdown-header span {
  font-size: 12px;
  font-weight: 400;
}

.profileUl .dropdown-divider {
  margin: 0;
}

.profileUl .dropdown-item {
  padding: 10px 15px;
  transition: 0.3s;
}

.profileUl .dropdown-item span {
  font-size: 14px;
  font-family: var(--satoshi-font);
  font-weight: 500;
  line-height: 15.6px;
  letter-spacing: -0.03em;
  color: var(--black-text);
  margin: 0;
}

.profileUl .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.profileUl .dropdown-item:hover {
  background-color: var(--blue-text);
}

.profileUl .dropdown-item:hover span,
.profileUl .dropdown-item:hover i {
  color: #ffffff;
}

.HeaderSign {
  padding: 14px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 28px;
  min-height: 48px;
  background: var(--black-bg);
  border: 1px solid var(--black-bg);
  color: var(--white-text);
  font-family: var(--grotesk-font);
  font-weight: 500;
  font-size: 19px;
  line-height: 120%;
  transition: 0.5s ease;
}
.HeaderSign:hover {
  background: var(--black-hover);
}

.HeaderSign-mobile {
  padding: 14px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 28px;
  min-height: 48px;
  background: var(--black-bg);
  border: 1px solid var(--black-bg);
  color: var(--white-text);
  font-family: var(--grotesk-font);
  font-weight: 500;
  font-size: 19px;
  line-height: 120%;
  margin-top: 23px;
  transition: 0.5s ease;
}
.HeaderSign-mobile:hover {
  background: var(--black-hover);
}

/* ========================== */
/* === NAVIGATION MENU === */
/* ========================== */
.menu-toggle {
  cursor: pointer;
  border: 1px solid var(--black-bg);
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.hamburger-icon {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.hamburger-icon span {
  background-color: black;
  transform-origin: center;
  height: 2px;
  border-radius: 2px;
  width: 15px;
}

@media screen and (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }
}

.navmenu {
  padding: 0;
}

.navmenu ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navmenu li {
  position: relative;
  font-family: var(--grotesk-font);
}

.navmenu a,
.navmenu a:focus {
  color: var(--notibg);
  padding: 18px 15px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.navmenu a i,
.navmenu a:focus i {
  font-size: 12px;
  margin-left: 5px;
  transition: 0.3s;
}

.navmenu li:hover > a,
.navmenu .active,
.navmenu .active:focus {
  color: var(--blue-text);
  transition: 0.3s;
}

.navmenu ul.dropdown li {
  position: relative;
}

.navmenu ul.dropdown li a,
.navmenu ul.dropdown li a.dropdown-toggle {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  color: var(--black-text);
}
.navmenu ul.dropdown li a.dropdown-toggle {
  display: block;
}

.navmenu ul.dropdown ul.dropdown {
  top: 0;
  left: 100%;
  margin-left: 1px;
  display: none;
  position: absolute;
}

.navmenu ul.dropdown li:hover > ul.dropdown {
  display: block;
}

.navmenu li ul.dropdown {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  padding: 10px 0;
  background: var(--whitebg);
  border: 1px solid var(--lightgrey);
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 8px 0px #00000014;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 999;
}

.navmenu li:hover > ul.dropdown {
  opacity: 1;
  display: block;
  visibility: visible;
  transform: translateY(0);
}

.navmenu li ul.dropdown li a {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  font-family: var(--satoshi-font);
  color: var(--notibg);
  white-space: nowrap;
  justify-content: center;
}

.navmenu li ul.dropdown li a:hover {
  background: var(--lightblue);
  color: var(--blue-text);
}
.navmenu li ul.dropdown li:last-child a:hover {
  border-radius: 0px 0px 8px 8px;
}

.navmenu li ul.dropdown ul.dropdown {
  left: 100%;
  top: 0;
  margin-left: 1px;
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.navmenu li ul.dropdown li:hover > ul.dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@media (max-width: 1024px) {
  .navmenu {
    display: none;
  }
  .HeaderSign {
    display: none;
  }
}
