.SignInSec{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.leftSignIn{
    background: var(--background-image)no-repeat;
    background-size: 100% 100%;
    height: 100%;
}
.RightSignIn{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.SignIninner{
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 40px;
}
.SignIninner h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
    font-family: var(--grotesk-font);
    color: var(--black-text);
}
.SignIninner h2 span{
    color: var( --chilli-red);
}
.SignIninner Form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.forgtbtn{
    text-align: end;
}
.forgtbtn a{
    font-size: 16px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    color: var( --chilli-red);
    font-family: var(--grotesk-font);
    
}

/* forget passsword  */

.signhed{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.signhed p{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: #000000;

}

.verifyInput{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.verifyInput input{
    width: 70px;
    height: 80px;
    background: transparent;
    border: 1px solid #37223CB2;
    border-radius: 12px;
    text-align: center;
}