

.SignUpSec{
    background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--dynamic-bg-image) no-repeat;
    background-size: cover; 
    height: 100%;
    min-height: 100vh;
}
.SignupData{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}
.SignUpText{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.SignUpText h1{
    font-family: var( --grotesk-font);
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.SignUpText h1 span{
    color: #FDBD74;
}
.SignUpText p{
    font-family: var(--satoshi-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: #FFFFFFCC;
}

.Headingtext h2{
    font-family: var( --grotesk-font);
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.Headingtext h2 span{
    color: var(--chilli-red);
}
.signup__field {
    position: relative;
    z-index: 1;
}
.signup__input {
    width: 100%;
    height: 100%;
    padding: 10px 24px ;
    border-radius:36px;
    min-height: 55px;
    border: 1px solid #37223CB2;
    color: var(--black-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    font-family: var(--satoshi-font);
    background-color: transparent;
    outline: var(--chilli-red);
    position: relative;
    z-index: 1;
}


.signup__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    transition: all 0.3s ease;
    color: var(--black-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    opacity: 60%;
    font-family: var(--satoshi-font);
    
}
.signup__input:focus + .signup__label,
.signup__input:valid + .signup__label {
    top: 0;
    font-size: 16px;
    color: var(--chilli-red);
    background:  var(--mainBg);
    font-family: var(--satoshi-font);
    font-weight: 400;
    opacity: 100%;
    z-index: 2;
    padding: 2px 5px;
}
.signup__input:focus ,
.signup__input:valid  {
    border: 1px solid var(--chilli-red);
}
.pasdiv{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.pasdiv p{
    font-family: var(--satoshi-font);
    font-size: 13px;
    font-weight: 700;
    line-height: 15.6px;
    letter-spacing: -0.03em;
    opacity: 50%;
    color: #000000;
    margin: 0;
    padding: 0px 20px;
    position: relative;
    top: -10px;
}
.passfield a{
    position: absolute;
    right: 30px;
    top: 30%;
    z-index: 2;
}
.passfield a img{
    max-width: 20px;
}
.passfield a:hover img{
    transform: scale(1.1);
}
.business-type-container p{
    font-family: var(--satoshi-font);
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #37223C;
}
.business-type-container .button-group ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.business-type-container .button-group .business-button {
    padding: 10px 20px;
    border: 0.5px solid #312943;
    border-radius: 28px; 
    background-color: transparent; 
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--satoshi-font);
    color: #37223C;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: -0.02em;
}
.business-type-container .button-group .business-button:hover {
    border-color: var(--chilli-red) ;
}
.business-type-container .button-group .business-button.selected {
    color: var(--chilli-red);
    border-color: var(--chilli-red);
    background: linear-gradient(139.66deg, rgba(253, 189, 116, 0.21) 18.09%, rgba(253, 189, 116, 0.07) 86.04%);
    font-weight: 700;
}


  