.SignUpSec{
    background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--dynamic-bg-image) no-repeat;
    background-size: cover; 
    height: 100%;
    min-height: 100vh;
}
.SignupData{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}
.SignUpText{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.SignUpText h1{
    font-family: var( --grotesk-font);
    font-size: 48px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: var(--whitecolor);
}
.SignUpText h1 span{
    color: var(--fawncolor);
}
.SignUpText p{
    font-family: var(--satoshi-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--whitetcolor80);
}
.SignUpFormDiv {
    background-color: var(--mainBg);
    box-shadow: 0px 10px 20px 0px #47382729;
    border-radius: 28px;
    padding: 50px;
    width: 100%;
    max-width: 630px;
    margin-left: auto; 
    margin-right: 0;
}
.SignUpFormDiv form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.SignUpFormDiv form .TopSignUp{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.SignUpFormDiv form .TopSignUp .SignFormItems{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.Headingtext h2{
    font-family: var( --grotesk-font);
    font-size: 40px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.Headingtext h2 span{
    color: var(--chilli-red);
}
.signup__field {
    position: relative;
    z-index: 1;
}
.signup__input {
    width: 100%;
    height: 100%;
    padding: 10px 24px ;
    border-radius:36px;
    min-height: 55px;
    border: 1px solid #37223CB2;
    color: var(--black-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    font-family: var(--satoshi-font);
    background-color: transparent;
    outline: var(--chilli-red);
    position: relative;
    z-index: 1;
}
.signup__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    transition: all 0.3s ease;
    color: var(--black-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    opacity: 60%;
    font-family: var(--satoshi-font); 
}
.signup__input:focus + .signup__label,
.signup__input:valid + .signup__label {
    top: 0;
    font-size: 16px;
    color: var(--chilli-red);
    background:  var(--mainBg);
    font-family: var(--satoshi-font);
    font-weight: 400;
    opacity: 100%;
    z-index: 2;
    padding: 2px 5px;
}
.signup__input:focus ,
.signup__input:valid  {
    border: 1px solid var(--chilli-red);
}
.pasdiv{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.pasdiv p{
    font-family: var(--satoshi-font);
    font-size: 13px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.03em;
    opacity: 50%;
    color: #000000;
    margin: 0;
    padding: 0px 16px;
}
.passfield a{
    position: absolute;
    right: 30px;
    top: 30%;
    z-index: 2;
}
.passfield a img{
    max-width: 20px;
}
.passfield a:hover img{
    transform: scale(1.1);
}


.business-type-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.business-type-container p{
    font-family: var(--satoshi-font);
    font-size: 15px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: var(--bluecolor);
    margin: 0;
}
.business-type-container .button-group ul {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.business-type-container .button-group .business-button {
    padding: 0px 20px;
    border: 0.5px solid var(--bluecolor);
    border-radius: 28px; 
    background-color: transparent; 
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--satoshi-font);
    color: var(--bluecolor);
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.02em;
    min-height: 48px;

}
.business-type-container .button-group .business-button:hover {
    border-color: var(--chilli-red) ;
    color: var(--chilli-red);
}
.business-type-container .button-group .business-button.selected {
    color: var(--chilli-red);
    border-color: var(--chilli-red);
    background: var(--fawanGradient);
    font-weight: 700;
}
.Sign_check {
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 0px 16px;
}
.Sign_check .form-check{
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.Sign_check .form-check label p{
    font-family: var(--satoshi-font);
    color: var(--bluecolor);
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.02em;
    margin: 0;
}
.Sign_check .form-check label p span{
    color: var(--chilli-red);
}


  