.primary-button,
.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  font-family: var(--grotesk-font);
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.46px;
  transition: all 0.3s ease;
  padding: 16px 32px;
}
.primary-button {
  background: var(--black-bg);
  color: var(--white-text);
  border: 1px solid var(--black-bg);
}
.secondary-button {
  background: var(--whitebg);
  color: var(--black-text);
  border: 1px solid var(--black-text);
}

.primary-button:hover {
  background: var(--black-hover);
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.32);
}
.secondary-button:hover {
  background: var(--whitebg);
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.32);
}

@media screen and (max-width: 768px) {
  .primary-button,
  .secondary-button {
    padding: 12px 24px;
    font-size: 19px;
  }
}
