.DoctGendr {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;
}
.DoctGendr p{
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  letter-spacing: -0.02em;
  color: #302f2e;
  margin: 0;
}
.PersonalInfoData{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.PersonalInfoData .PersonlInfoDiv{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.PersonalInfoData .PersonlInfoDiv .perInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.PersonalInfoData .PersonlInfoDiv .perInfo h6 , .PersonalInfoData .doctadressdiv h6 , .ProfileDetailsData h6{
    font-family: var(--grotesk-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 120%;
    color: var(--black-text);
    margin: 0;
}
.PersonalInfoData .DivideLine{
    border-bottom: 1px solid var(--popupbg);
    padding: 8px 0px;
}
.PersonalInfoData .doctadressdiv{
   display: flex;
   flex-direction: column;
   gap: 16px;
}


/* ProfileDetailsData Started  */

.ProfileDetailsData{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.FormTexediv textarea{
    min-height: 133px;
    padding: 20px 24px;
    border: 1px solid var(--black-bg);
    border-radius: 36px;
}
.FormTexediv .textarealabl label{
   left: 15px;
   font-weight: 400;
   font-size: 18px;
   line-height: 120%;
   font-family: var(--satoshi-font);
}
/* ProfileDetailsData Ended   */



/* Profile Details Started  */


.AddProfileDetailSec{
    padding: 80px;
}
.AddProfileDetailSec .AddProfileDetailData{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.BackBtn{
    background: var(--black-bg);
    width: fit-content;
    border: 1px solid var(--black-bg);
    padding: 14px 24px;
    min-height: 48px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    font-size: 19px;
    line-height: 120%;
    font-family: var(--grotesk-font);
    color: var(--white-text);
    &:hover{
        background: var(--black-hover);
    }
}
.AddProfileDetailSec .AddProfileDetailData .ProfileDetails{
    display: flex;
    align-items: center;
    gap: 20px;
}
.AddProfileDetailSec .AddProfileDetailData .ProfileDetails .LeftProp{
    display: flex;
    align-items: center;
    gap: 25px;
}
.AddProfileDetailSec .AddProfileDetailData .ProfileDetails .LeftProp img{
    object-fit: cover;
    border: 1px solid var(--blue-text);
    border-radius: 50%;
}
.AddProfileDetailSec .AddProfileDetailData .ProfileDetails .LeftProp .proptext h4{
    margin: 0;
    color: var(--purple-text);
    font-family: var(--grotesk-font);
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
}
.AddProfileDetailSec .AddProfileDetailData .ProfileDetails .LeftProp .proptext p , .detail-card .card-header h5{
    margin: 0;
    color: var(--black-text);
    font-family: var(--grotesk-font);
    font-weight: 500;
    font-size: 19px;
    line-height: 120%;
}
.AddProfileDetailSec .AddProfileDetailData .ProfileDetails .RytProp p{
    background: var( --greenbg);
    padding: 12px 16px;
    border-radius: 16px;
    min-height: 46px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--satoshi-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
}


.detail-card , .OrganistRecord{
    border: 1px solid var(--lightgrey);
    background: #FFFFFF;
    border-radius: 24px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.detail-card .card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.detail-card .card-header h5{
    margin: 0;
    font-size: 19px;
    line-height: 120%;
    font-weight: 500;
    font-family: var(--grotesk-font);
    color: var(--black-text);
}
.detail-card .card-header button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 16px;
    border-radius: 28px;
    min-height: 43px;
    margin: 0;
    color: var(--black-text);
    font-family: var(--grotesk-font);
    font-weight: 500;
    font-size: 19px;
    line-height: 120%;
    text-decoration: none;
    &:hover{
        background: var(--black-bg);
        color: var(--white-text);
    }
}

.detail-card .card-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px 24px;
}
.detail-card .Profbody{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px 24px;
}
.detail-card .card-body .detail-row , .detail-card .Profbody .detail-row{
    display: grid;
    grid-template-columns: 112px auto;
    align-items: center;
    gap: 12px;
    min-height: 32px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--lightgrey);
}
.detail-card .Profbody .detail-row{
    grid-template-columns: 227px auto;
}
.detail-card .card-body .detail-row:nth-last-of-type(1) , .detail-card .card-body .detail-row:nth-last-of-type(2) {
    border-bottom: none;
}
.detail-card .Profbody .detail-row:last-child , .OrganistRecord .detail-row:last-child{
    border-bottom: none;
}
.detail-card .card-body .detail-row h6 , .detail-card .Profbody .detail-row h6 , .OrganistRecord .detail-row h6{
    color: var(--black-grey);
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    font-family: var(--satoshi-font);
    margin: 0;
    text-transform: capitalize;
}
.detail-card .card-body .detail-row p , .detail-card .Profbody .detail-row p , .OrganistRecord .detail-row p{
   color: var(--notibg);
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    font-family: var(--satoshi-font);
    margin: 0;
}
.detail-card .card-body .detail-row input , .detail-card .Profbody .detail-row input{
    border: none;
    color: var(--notibg);
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    font-family: var(--satoshi-font);
}
.OrganistRecord h5{
    font-family: var(--grotesk-font);
    font-weight: 500;
    font-size: 23px;
    line-height: 120%;
    color: var(--black-text);
    margin: 0;
}
.OrganistRecord .detail-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 32px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--lightgrey);
}
.members-dropdown button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent !important;
    border: none;
    min-height: 39px;
    font-size: 23px;
    font-weight: 500;
    line-height: 120%;
    font-family: var(--grotesk-font);
    color: var(--black-text) !important;
}
.members-dropdown .custom-dropdown-menu{
    width: 100%;
    background: var(--whitebg);
    border-radius: 24px;
    border: 1px solid var(--lightgrey);
    padding: 20px;
}
.members-dropdown .custom-dropdown-menu .member-item {
   display: flex;
   align-items: center;
   gap: 10px;
   min-height: 60px;
   border-bottom: 1px solid var(--lightgrey);
   background-color: transparent !important;
   outline: none !important;
   margin-bottom: 12px;
}
.members-dropdown .custom-dropdown-menu .member-item:last-child{
   border-bottom: none;
}
.members-dropdown .custom-dropdown-menu .member-item img{
   border-radius: 50%;
   object-fit: cover;
   border: 1px solid var(--blue-text);
}
.members-dropdown .custom-dropdown-menu .member-item h6{
   margin: 0;
   font-weight: 700;
   font-size: 15px;
   line-height: 120%;
   color: var(--notibg);
   font-family: var(--satoshi-font);
}
.members-dropdown .custom-dropdown-menu .member-item p{
   font-family: var(--satoshi-font);
   margin: 0;
   font-weight: 700;
   font-size: 13px;
   line-height: 120%;
   color: var(--greyborder);

}


/* Profile Details Ended   */