.SelectedInpt select{
    width: 100%;
    height: 100%;
    min-height: 55px;
    padding: 10px 24px;
    border-radius: 36px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    font-family: var(--satoshi-font);
    background-color: transparent;
    outline: var(--chilli-red);
    position: relative;
    border: 1px solid #37223CB2;
    color: #3129437a;
    appearance: none;
    -webkit-appearance: none; 
    background-image: var(--background-image); 
    background-repeat: no-repeat;
    background-position: right 20px center; 
    background-size: 28px; 
}
.SelectedInpt select:focus {
    border-color: var(--chilli-red) !important;
}
