.DevlpSignInSec{
    background: var(--background-image)no-repeat; 
    background-size: cover; 
    height: 100%;
    min-height: 100vh;
}
.DevlpSignInData{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    height: 100%;
    min-height: 100vh;
}

.forgtdiv{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.forgtdiv a{
    padding-left: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    font-family: var(--grotesk-font);
    color: var(--chilli-red);
}
