.ClinicVisibleSec{
    padding: 80px 0px 100px 0px;
}

.visibletext p{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    max-width: 812px;
}

.ClicVisibleData{
    display: grid;
    grid-template-columns: 68% 30%;
    grid-gap: 22px;
}
.LeftvisibleDiv{
    background: #FFFFFF;
    box-shadow: 4px 4px 18px -5px #55413414;
    border-radius: 24px;
    padding: 40px;
}
.clicprofdiv{
    border-bottom: 1px solid #5D412F26;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px 20px 20px 20px;
}
.clicprofdiv img{
    width: 100px;
    height: 100px;
    border: 3.75px solid #CB822F80;
    border-radius: 50%;
}
.ClVDiv{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.clpfname {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.clpfname h4{
    font-family: var(--grotesk-font);
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.loct, .opencl{
    display: flex;
    align-items: center;
    gap: 12px;
}
.loct span{
    font-family: var(--grotesk-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #090A0A;
}
.loct span:first-child i{
    color: var(--chilli-red);
}
.loct span:last-child i{
    color: #FFB323;
}
.opencl span{
    background: var(--lightgreen);
    border-radius: 20px;
    padding: 4px 12px;
    color: #FFFFFF;
    font-family: var(--satoshi-font);
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
}
.opencl p{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}

.EmergencyDrDiv{
    padding: 20px 0px;
    border-bottom: 1px solid #37223C1A;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.Pfcheck{
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--grotesk-font);
    font-size: 17px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.Pfcheck.selected input[type="checkbox"]{
    border: 1px solid var(--chilli-red);
}
.Pfcheck.selected {
    color: var(--chilli-red);
}

.Sercontrol{
    display: flex;
    flex-direction: column;
}
.VisibleServiceDiv {
    padding: 0px 0px 50px 0px;
}
.ClServDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.ClServDiv h5{
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    font-family: var(--grotesk-font);
    color: var(--black-text);
    margin: 0;
}
.ClServDiv button{
    font-family: var(--grotesk-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: -0.02em;
    color: var(--chilli-red);
    border: none;
    background: transparent;
}

.VisibleServiceDiv ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.VisibleServiceDiv ul li{
    color: var(--black-text);
    font-family: var(--satoshi-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    border-bottom: 1px solid #37223C1A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
}
.VisibleServiceDiv ul li:last-child{
    border: none;
}
.VisibleServiceDiv ul li.selected{
    color: var(--chilli-red);
    font-weight: 700;
}
.VisibleServiceDiv ul li label{
    display: flex;
    align-items: center;
    gap: 10px;
}
.VisibleServiceDiv ul li.selected input[type="checkbox"]{
    border: 1px solid var(--chilli-red);
}
.department-info p{
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    letter-spacing: -0.02em;
    margin: 0;
    cursor: pointer;
}


/* RytvisibleDiv  */

.RytvisibleDiv{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.clinicContDetail{
    border: 1px solid #5D412F33;
    border-radius: 28px;
    padding: 24px 24px 26px 24px;
}

.clinicContDetail h5{
    font-family: var(--grotesk-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    border-bottom: 1px solid #5D412F26;
    color: var(--black-text);
    padding-bottom: 8px;
}
.Cont-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 15px 0px;
}
.Cont-info a{
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: var(--satoshi-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    transition: all 0.3s ease-out;
}
.Cont-info i{
    color: var(--chilli-red);
    font-size: 22px;
}
.Cont-info a:hover{
    color: var(--chilli-red);
    font-weight: 600;
}
