.AssessmentManagementSec{
    padding: 100px 0px;
}
.AssMantTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.AssMantTop button{
    font-size: 19px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    color: var(--chilli-red);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: transparent;
    border: none;
    padding: 14px 24px;
}
.AssMantTop button img{
    width: 20px;
    height: 20px;
}

.AstManageCardModal .modal .modal-dialog {
    width: 100%;
    max-width: 1064px;
    border-radius: 26px;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 4px 4px 18px -5px #55413414;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.AstManageCardModal .modal .modal-content{
    border: none;
}

.AssessmentCatalogueDiv{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}
.AssessmentCatalogueDiv h3{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}

.AsstmntTableDiv{
    width: 100%;
    background: #FFFFFF;
    padding: 24px;
    box-shadow: 4px 4px 18px #55413414 , inset 4px 4px 18px #55413414;
    border-radius: 26px;
    display: block;
    overflow-x: auto;
  }
  .Asstmnttable thead tr , .Asstmnttable tbody tr{
    width: 100%;
    display: grid;
    grid-template-columns: 60px 200px 160px 300px 200px;
    align-items: flex-start;
    padding: 24px 0px;
    border-bottom: 1px solid #5D412F26;
  }
  .Asstmnttable tbody tr td:first-child{
    text-align: center;
  }
  .Asstmnttable tbody tr:last-child{
    border-bottom: none;
  }
  .Asstmnttable thead tr th {
   opacity: 70%;
   font-family: 'Satoshi-Variable';
  }
  
  .Asstmnttable tbody tr td{
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    font-family: 'Satoshi-Variable';
  }

  
.AstCatalgBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}  
.AstCatalgBtn a{
    border: 1px solid var(--chilli-red);
    background: var(--chilli-red);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 28px;
    width: 334px;
    height: 60px;
    font-size: 21px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    transition: all 0.3s ease;
}
.AstCatalgBtn a:hover{
    background: transparent;
    color: var(--chilli-red);
}

.AstCatalgBtn a:first-child{
    background: transparent;
    color: var(--chilli-red);
}
.AstCatalgBtn a:first-child:hover{
    background: var(--chilli-red);
    color: #FFFFFF;
}

.AllAssesmentDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}