.ArticleSec {
    padding: 100px 0px;
}
.Articles_Data{
    display: grid;
    grid-template-columns: 60% auto;
    grid-gap: 20px;
}
.ArticleBg{
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.ArticleBg::after{
    content: "";
    background-color: color-mix(in srgb,  #000000a6, transparent 30%);
    position: absolute;
    inset: 0;
}
.ArticleBg img{
    width: 100%;
    max-height: 495px;
    transition: 0.3s;
}
.ArticleBg:hover img{
    transform: scale(1.1);
}
.artinner{
    position: absolute;
    left: 35px;
    bottom: 35px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.artinner .tp , .artinner .bp{
    display: flex;
    align-items: center;
    gap: 8px;
}
.artinner .tp h6{
    font-size: 13px;
    font-weight: 700;
    line-height: 15.6px;
    letter-spacing: -0.03em;
    color: #FFFEFE;
    font-family: var(--satoshi-font);
    margin: 0;
}
.artinner .tp span{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #FDBD74;
}
.artinner h3{
    font-family: var(--grotesk-font);
    font-size: 33px;
    font-weight: 500;
    line-height: 39.6px;
    letter-spacing: -0.02em;
    color: #FFFEFE;
    margin: 0;
}
.artinner .bp p{
    font-family: var(--satoshi-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
    color: #FFFFFF;
    margin: 0;
}
.artinner .bp span{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #FFFFFF;
}
.ArticleInfo {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 50px 0px 20px 0px;
    border-bottom: 1px solid #6C7880;
}
.artinfoinner {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.artinfoinner h4{
    font-family: var(--grotesk-font);
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.artinfoinner p , .artinfoinner ul li{
    font-family: var(--satoshi-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    letter-spacing: -0.02em;
    color: #302F2E;
    margin: 0;
}
.artinfoinner ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.artinfoinner ul li{
    list-style-type: disc;
}
.artinfoinner img{
   max-width: 100%;
}
.ArticleShare{
    background-color: #8AC1B1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
    height: 70px;
}
.ArticleShare h6{
    font-family: var(--grotesk-font);
    font-size: 19px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: 0;
}
.blLinkgrn {
    display: flex;
    align-items: center;
    gap: 20px;
}
.blLinkgrn a{
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.blLinkgrn a svg{
    font-size: 25px;
    color: #8AC1B1;
}




/* Ryt  */

.RytArticle{
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
}
.blgdr{
    background: #FDBD74;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px;
    max-width: 341px;
    width: 100%;
}
.bldrinfo {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.bldrinfo img{
    max-width: 100px;
    max-height: 100px;
}
.bldrtext{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.bldrtext h6{
    font-family: var(--grotesk-font);
    font-size: 19px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    color: #302F2E;
    margin: 0;
}
.bldrtext p{
    font-family: var(--satoshi-font);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.blgdr p{
    font-family: var(--satoshi-font);
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.ShareCommunity{
    width: 100%;
    max-width: 341px;
    background: #8E88D2;
    border-radius: 12px;
    min-height: 99px;
    padding: 20px;
}
.ShareCommunity h6{
    font-family: var(--grotesk-font);
    font-size: 19px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.blLink {
    display: flex;
    align-items: center;
    gap: 20px;
}
.blLink a{
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.blLink a svg{
    font-size: 25px;
    color: #8E88D2;
}

.InArticle{
    max-width: 341px;
}
.inarticleInner{
    display: flex;
    flex-direction: column;
}
.InArticle a {
    font-family: var(--satoshi-font);
    height: 42px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    padding-left: 15px;
    border-left: 4px solid transparent;
}
.InArticle a.active {
    color: var(--chilli-red);
    font-weight: 500;
    border-left: 4px solid var(--chilli-red);
}
.explorTopic{
    width: 100%;
    max-width: 305px;
}
.explorTopic h4 , .InArticle h4{
   font-family: var(--grotesk-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.explorDiv{
    border: 1px solid #00000033;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 12px;
    padding: 40px 24px;
    max-width: 305px;
    height: min-content;
}
.typtext{
    display: grid;
    grid-template-columns: 25px auto;
    grid-gap: 15px;
    border-bottom: 1px solid #00000033;
    padding-bottom: 12px;
}
.typtext img{
    max-width: 24px;
    max-height: 24px;
}
.typtext h6{
    font-family: var(--satoshi-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.typeinfo{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px 0px 10px 45px;
}
.typeinfo a{
    font-family: var(--satoshi-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    opacity: 80%;
}
.typeinfo a:hover{
    font-family: var(--satoshi-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--chilli-red);
}


/* RelatesArticle */

.RelatesArticle{
    padding: 50px 0px 100px 0px;
}

.RelatesArticle h4{
    font-family: var(--grotesk-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}