.BlogPageSec{
    padding: 80px 0px 100px 0px;
}
.PawnDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 30px 0px;
}
.PawnDiv h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.Mbtn button{
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 28px;
    background: var(--chilli-red);
    color: #FFFEFE;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-family: var(--grotesk-font);    
    border: 1px solid transparent;
}
.Mbtn button svg{
    font-size: 22px;
}
.Mbtn button:hover{
    color: var(--chilli-red);
    background: transparent;
    border: 1px solid var(--chilli-red);
}
.BlogPicData{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.Blogpic{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.Blogpic::after{
    content: "";
    background-color: color-mix(in srgb,  #000000a6, transparent 30%);
    position: absolute;
    inset: 0;
}
.Blogpic img{
    object-fit: cover;
    transition: 0.3s;
}
.Blogpic:hover img{
    transform: scale(1.1);
}
.bloginner{
    position: absolute;
    left: 35px;
    bottom: 35px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 567px;
}
.bloginner h3{
    font-family: var(--grotesk-font);
    font-size: 27px;
    font-weight: 500;
    line-height: 34.6px;
    letter-spacing: -0.02em;
    color: #FFFEFE;
    margin: 0;
}
.bloginner p{
    font-family: var(--satoshi-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: #ffffffb0;
    margin: 0;
}
.blogPicRyt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.topExplore{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 30px 0px;
    align-items: center;
}
.topExplore h4{
    font-size: 32px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: -0.02em;
    color: var(--chilli-red);
    margin: 0;
}
.ExploreData{
    display: grid;
    grid-template-columns: 305px auto;
    grid-gap: 22px;
}
.ExploreCardData{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.explCard{
    width: 100%;
    max-width: 305px;
    box-shadow: 6.28px 6.28px 28.28px -7.86px #55413414;
    background: #FFFFFF;
    max-height: 465px;
    border-radius: 12px;
}
.ReltartPic1{
    overflow: hidden;
    max-height: 225px;
    border-radius: 12px;
}
.ReltartPic1 img{
    width: 100%;
    transition: 0.3s;
}
.explCard:hover .ReltartPic1 img{
    transform: scale(1.1);
}
.RelateInner1{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 20px 15px 10px 15px;
    border-bottom: 0.5px solid #00000023;
    padding-bottom: 10px;
}
.Reltdate1{
    display: flex;
    align-items: center;
    gap: 35px;
    position: relative;
}
.Reltdate1 h6{
    font-family: var(--satoshi-font);
    font-size: 13px;
    font-weight: 700;
    line-height: 15.6px;
    letter-spacing: -0.03em;
    color: var(--chilli-red);
    margin: 0;
}
.Reltdate1 span{
    position: relative;
}
.Reltdate1 span::after{
    position: absolute;
    content: " ";
    background-color: #DEDEDE;
    width: 20px;
    height: 2px;
}
.Reltdate1 p{
    font-family: var(--satoshi-font);
    font-size: 13px;
    font-weight: 700;
    line-height: 15.6px;
    letter-spacing: -0.03em;
    color: var(--black-text);
    opacity: 30%;
    margin: 0;
}
.RelateInner1 h5{
    font-family: var( --grotesk-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
    min-height: 85px;
}
.expelp{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}
.elpexlor{
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.elpexlor img{
   border-radius: 50%;
   object-fit: cover;
}
.elpexlor h6 , .expelp p{
    font-size: 13px;
    font-weight: 700;
    line-height: 15.6px;
    letter-spacing: -0.03em;
    color: var(--black-text);
    font-family: var(--satoshi-font);
    margin: 0;
}
.expelp p{
    opacity: 50%;
}