.WeeklyappontSec{
    background: #FFFFFF;
    box-shadow: 6.28px 6.28px 28.28px -7.86px #00000014;
    border-radius: 12px;
    width: 100%;
    padding: 20px;
}
.WeeklyHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 22px;
}
.WeeklyHead h5{
    font-family: var(--grotesk-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.WeeklyHead h5 span{
    color: #302F2E80;
    font-size: 18px;
}
.WeeklyHead h4{
    font-family: var(--grotesk-font);
    font-size: 29.85px;
    font-weight: 500;
    line-height: 35.82px;
    letter-spacing: -0.02em;
    color: var(--black-text);

}