.DeapartmentDashSection{
    padding: 100px 0px;
}
.SpecilistData{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
/* SpecilistTopDiv Started  */
.SpecilistTopDiv {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.SpecilistTopDiv .SpeciltHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.SpecilistTopDiv .SpeciltHead h2{
    font-size: 40px;
    line-height: 120%;
    color: var(--black-text);
    font-family: var(--grotesk-font);
    margin: 0;
}
.SpeclistOverviewDiv{
    display: flex;
    flex-direction: column;
}

/* Overview Started  */
.OverViewDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.OverViewDiv h5{
   margin: 0;
}
.OverViewDiv .clnderSlect button{
    padding: 0px;
    border: none;
    background: transparent !important;
    color: var( --notibg) !important;
    padding: 10px 16px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
}

.OverViewDiv .clnderSlect .custom-status-dropdown {
  border-radius: 0px !important;
  background: transparent !important;
  color: var(--black-text) !important;
  font-size: 15px !important;
  font-family: var(--satoshi-font) !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
  font-weight: 700 !important;
  opacity: 60%;
}
.OverViewDiv .clnderSlect .custom-status-dropdown:focus, 
.OverViewDiv .clnderSlect .custom-status-dropdown:active {
  border-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}
.OverViewDiv .clnderSlect .dropdown-menu {
    box-shadow: 0px 0px 30px 0px #4738271A;
    background: var(--whitebg);
    border: 1px solid var(--lightgrey);
    border-radius: 12px;
    padding: 0;
}
.OverViewDiv .clnderSlect .dropdown-item {
  font-size: 15px;
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 2px;
  transition: background 0.15s, color 0.15s;
}
.OverViewDiv .clnderSlect .dropdown-item.active,
.OverViewDiv .clnderSlect .dropdown-item:active,
.OverViewDiv .clnderSlect .dropdown-item:hover {
  background: var(--black-bg);
  color: var(--white-text);
}

/* Overview Ended  */

/* SpecilistTopDiv Ended  */




/* AddSpecialitiesSec Page Started  */

.AddSpecialitiesSec{
    padding: 100px 0px;
}
.DepartMantAddData{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.DepartInputDiv{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.DepartFormTexediv textarea{
    min-height: 133px;
    padding: 20px 24px;
    border: 1px solid var(--greyborder);
    border-radius: 16px;
}
.DepartFormTexediv textarea:focus{
    border: 1px solid var(--blue-text) !important;
}
.DepartFormTexediv .textarealabl label{
   left: 15px;
   font-weight: 400;
   font-size: 18px;
   line-height: 120%;
   font-family: var(--satoshi-font);
}

/* Services Dropdown Started  */


.DepartServices .services_dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.DepartServices .ServHeadr{
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    height: 100%;
    padding: 10px 24px;
    border-radius: 36px;
    min-height: 55px;
    border: 1px solid #37223CB2;
}
.DepartServices .ServHeadr span{
    color: var(--black-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    font-family: var(--satoshi-font);
}
.DepartServices .ServHeadr.open {
    border: 1px solid var(--black-text);
}
.DepartServices .ServHeadr.open .arrow {
    color: var(--chilli-red);
}
.DepartServices .ServDropcontent {
    border-radius: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px 0px #0000000F;
}
.DepartServices .ServDropcontent .serchbtn{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    border-bottom: 1px solid var(--black-text);
    padding: 0px 20px;
}
.DepartServices .ServDropcontent .serchbtn i{
    color: var(--chilli-red);
    font-size: 20px;
}
.DepartServices .ServDropcontent .search-input {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border: none;
    outline: none;
    margin: 0;
}
.DepartServices .ServDropcontent .services-list {
    padding: 20px 0px;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.DepartServices .ServDropcontent .service-item label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 42px;
}
.DepartServices .ServDropcontent .service-item label p{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
}

.DepartServices .ServDropcontent .service-item.selected {
    background: var(--slectedbg);
}
.DepartServices .ServDropcontent .service-item.selected label p {
    font-weight: 700;
}

/* Services  */






/* AddSpecialitiesSec Page Ended  */