.DepartServices {
    width: 100%;
}
.DepartServices .services_dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.DepartServices .services_dropdown .services-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.DepartServices .services_dropdown .services-header h6{
    color: var(--black-text);
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    font-family: var(--satoshi-font);
}
.DepartServices .services_dropdown .services-header .select-all-container{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.DepartServices .services_dropdown .services-header .select-all-container input{
    border-radius: 50%;
}
.DepartServices .services_dropdown .services-header .select-all-container label{
    color: var(--black-text);
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    font-family: var(--grotesk-font);
}
.DepartServices .services_dropdown .services-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.DepartServices .services_dropdown .services-list .service-item{
    min-height: 44px;
    border-bottom: 1px solid var(--lightgrey);
    display: flex;
    align-items: center;
}
.DepartServices .services_dropdown .services-list .service-item:last-child{
    border: none;
}
.DepartServices .services_dropdown .services-list .service-item label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
}
.DepartServices .services_dropdown .services-list .service-item label p {
    color: var(--black-text);
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    font-family: var(--satoshi-font);
}
.DepartServices .services_dropdown .services-list .service-item.selected label p {
   font-weight: 700;
}
