.ClinicVisibleSec{
    padding: 80px 0px 100px 0px;
}
.ClinicVisiblityData{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.TopClinicProf{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.TopClinicProf .clincprofText{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.TopClinicProf .clincprofText p{
    width: 100%;
    max-width: 812px;
    color: var(--black-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
}
.TopClinicProf .ClinicVisiblBtn a{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 14px 24px;
    justify-content: center;
    font-size: 19px;
    font-weight: 500;
    font-family: var(--grotesk-font);
    color: var(--black-text);
}
.TopClinicProf .ClinicVisiblBtn a:hover{
    color: var(--blue-text);
}
.TopClinicProf .ClinicVisiblBtn a svg{
    font-size: 22px;
}





.ClicVisibleData{
    display: grid;
    grid-template-columns: 68% 30%;
    grid-gap: 22px;
}
.LeftvisibleDiv{
    box-shadow: 0px 0px 8px 0px #47382714;
    background: var(--whitebg);
    border: 1px solid var(--lightgrey);
    border-radius: 24px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 110px;
}
.LeftvisibleDiv .TopVisibleItems{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.CommonBtn a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 14px 24px;
    border-radius: 28px;
    border: 1.5px solid var(--black-bg);
    background: transparent !important;
    color: var(--black-text);
    font-size: 19px;
    font-weight: 500;
    line-height: 120%;
}
.CommonBtn a svg{
    font-size: 19px;
}
.CommonBtn a:hover{
    background: var(--black-bg) !important;
    color: var(--white-text);
}

.clicprofdiv{
    border-bottom: 1px solid #5D412F26;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px 20px 20px 20px;
}
.clicprofdiv img{
    width: 100px;
    height: 100px;
    border: 3.75px solid var(--greyborder);
    border-radius: 50%;
}
.ClVDiv{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.clpfname {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.clpfname .texted{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.clpfname h4{
    font-family: var(--grotesk-font);
    font-size: 28px;
    font-weight: 500;
    line-height: 120%;
    color: var(--black-text);
    margin: 0;
}
.clpfname p{
    font-family: var(--grotesk-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    color: var(--notibg);
    margin: 0;
}
.loct, .opencl{
    display: flex;
    align-items: center;
    gap: 12px;
}
.loct span{
    font-family: var(--grotesk-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    color: var(--black-text);
    display: flex;
    align-items: center;
    gap: 4px;
}
.loct span svg{
    color: var(--notibg);
}

.opencl span{
    background: var(--lightgreen);
    border-radius: 20px;
    padding: 4px 12px;
    color: var(--white-text);
    font-family: var(--satoshi-font);
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
}
.opencl p{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    color: var(--black-text);
    opacity: 80%;
}

.EmergencyDrDiv{
    padding: 20px 0px;
    border-bottom: 1px solid #37223C1A;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.Pfcheck{
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--grotesk-font);
    font-size: 17px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.Pfcheck.selected input[type="checkbox"]{
    border: 1px solid var(--chilli-red);
}
.Pfcheck.selected {
    color: var(--chilli-red);
}

.Sercontrol{
    display: flex;
    flex-direction: column;
}
.VisibleServiceDiv {
    padding: 0px 0px 50px 0px;
}
.ClServDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.ClServDiv h5{
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    font-family: var(--grotesk-font);
    color: var(--black-text);
    margin: 0;
}
.ClServDiv button{
    font-family: var(--grotesk-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: -0.02em;
    color: var(--chilli-red);
    border: none;
    background: transparent;
}

.VisibleServiceDiv ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.VisibleServiceDiv ul li{
    color: var(--black-text);
    font-family: var(--satoshi-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    border-bottom: 1px solid #37223C1A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
}
.VisibleServiceDiv ul li:last-child{
    border: none;
}
.VisibleServiceDiv ul li.selected{
    color: var(--chilli-red);
    font-weight: 700;
}
.VisibleServiceDiv ul li label{
    display: flex;
    align-items: center;
    gap: 10px;
}
.VisibleServiceDiv ul li.selected input[type="checkbox"]{
    border: 1px solid var(--chilli-red);
}
.department-info p{
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    letter-spacing: -0.02em;
    margin: 0;
    cursor: pointer;
}


/* RytvisibleDiv  */

.RytvisibleDiv{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.clinicContDetail{
    box-shadow: 0px 0px 8px 0px #47382714;
    background: var(--whitebg);
    border: 1px solid var(--lightgrey);
    border-radius: 24px;
    padding: 24px 24px 26px 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.clinicContDetail h5{
    font-family: var(--grotesk-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.02em;
    border-bottom: 1px solid var(--lightgrey);
    color: var(--black-text);
    padding-bottom: 14px;
    margin: 0;
}
.Cont-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px 0px;
}
.Cont-info a{
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: var(--satoshi-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    color: var(--black-text);
    transition: all 0.3s ease-out;
}
.Cont-info svg{
    color: var(--blue-text);
    font-size: 22px;
}
.Cont-info a:hover{
    color: var(--blue-text);
    font-weight: 600;
}
.Cont-info a:hover svg{
    color: var(--black-bg);
}
