/* AboutHeroSec started  */

.AboutHeroSec{
    padding: 80px 0px;
    background: url(/Images/aboutbg.png)no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}
.AboutHeroSec .AbtHeroData{
    display: flex;
    flex-direction: column;
    gap: 250px;
}
.AboutHeroSec .AbtHeroData .abttopHero{
    background: #FFFFFFB2;
    max-width: 1050px;
    margin: 0 auto;
    min-height: 370px;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 24px;
    gap: 28px;
}
.AboutHeroSec .AbtHeroData .abttopHero h2{
    max-width: 951px;
    margin: 0 auto;
    text-align: center;
    margin: 0;
    font-family: var(--grotesk-font);
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: var(--notibg);
}
.AboutHeroSec .AbtHeroData .abttopHero h2 span{
    color: var(--black-text);
}
.AboutHeroSec .AbtHeroData .abttopHero h4{
    max-width: 951px;
    margin: 0 auto;
    text-align: center;
    margin: 0;
    font-family: var(--grotesk-font);
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    color: var(--notibg);
}
.AbutheroBtm{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.AbutheroBtm h2{
    margin: 0;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    font-family: var(--grotesk-font);
}
.AbutheroBtm .abtherocard{
    display: flex;
    gap: 32px;
}
.AbutheroBtm .abtherocard .AbtCardItem{
    max-width: 302px;
    min-height: 324px;
    box-shadow: 0px 28.93px 63.5px 0px #450E1529;
    background: var(--whitebg);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}
.AbutheroBtm .abtherocard .AbtCardItem::after{
    position: absolute;
    content: " ";
    background: var(--black-bg);
    height: 4px;
    left: 0;
    bottom: 0;
    width: 56px;
}
.AbutheroBtm .abtherocard .AbtCardItem .head{
    border-radius: 20px 20px 0px 0px;
    min-height: 58px;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    background: var(--black-bg);
}
.AbutheroBtm .abtherocard .AbtCardItem .head h6{
    margin: 0;
    font-weight: 700;
    font-family: var(--satoshi-font);
    font-size: 15px;
    line-height: 120%;
    color: var(--white-text);
}
.AbutheroBtm .abtherocard .AbtCardItem .body{
    padding: 16px;
    min-height: 214px;
}
.AbutheroBtm .abtherocard .AbtCardItem .body p{
    font-family: var(--satoshi-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--notibg);
    margin: 0;
}






/* AboutHeroSec started  */




/* OurStorySec started  */
.OurStorySec{
    padding: 80px 0px;
    position: relative;
}
.OurStorySec::after{
    position: absolute;
    content: " ";
    bottom: 50px;
    right: 0;
    width: 414px;
    height: 414px;
    background: url(/Images/storybefore.png) no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}
.OurStorySec .StoryData{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 51px;
}
.OurStorySec .StoryData .storyTexted , .OurStorySec .StoryData .storyTexted .ourstorypara{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.OurStorySec .StoryData .storyTexted h2{
    color: var(--pureblack);
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    font-family: var(--grotesk-font);
    margin: 0;
}
.OurStorySec .StoryData .storyTexted .ourstorypara h6{
    color: var(--notibg);
    font-weight: 500;
    font-size: 19px;
    line-height: 120%;
    font-family: var(--grotesk-font);
    margin: 0;
}
/* OurStorySec Ended  */


/* AbtTeamSec Started  */
.AbtTeamSec{
    padding: 80px 0px;
}
.AbtTeamSec .AbtTeamdata{
    display: flex;
    flex-direction: column;
    gap: 52px;
}
.AbtTeamSec .AbtTeamdata .AbtTeamHead{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
.AbtTeamSec .AbtTeamdata .AbtTeamHead h2{
    margin: 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 120%;
    font-family: var(--grotesk-font);
    color: var( --black-text);
}
.AbtTeamSec .AbtTeamdata .AbtTeamHead h2 span{
    color: var( --notibg);
}
.AbtTeamSec .AbtTeamdata .AbtTeamHead h4{
    margin: 0;
    font-size: 28px;
    font-weight: 500;
    line-height: 120%;
    font-family: var(--grotesk-font);
    color: var( --notibg);
}
.AbtTeamSec .AbtTeamdata .AbtTeamHead .para{
    max-width: 736px;
    margin: 0 auto;
}
.AbtTeamSec .AbtTeamdata .AbtTeamHead .para h6{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    font-family: var(--grotesk-font);
    color: var( --notibg);
}
.AbtTeamSec .AbtTeamdata .AbtTeambtm{
    max-width: 524px;
    margin: 0 auto;
    text-align: center;
}
.AbtTeamSec .AbtTeamdata .AbtTeambtm p{
    font-family: var(--satoshi-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: var(--pureblack);
    margin: 0;
}

/* AbtTeamSec Ended  */