/* MainLandingSec */
.MainLandingSec{
    /* padding: 100px 0px; */
    position: relative;
    background: var(--background-image)no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    background: #FFF2E3;
}
.MainLandingSec::after{
    position: absolute;
    content: " ";
    background: var(--background-img)no-repeat;
    background-size: 100% 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
}
.MainLandingHero{
    display: grid;
    grid-template-columns: 50% auto;
    align-items: center;
}
.mainLeftHeroDiv{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 100px 0px 100px 225px;
}
.mainLeftHeroDiv .MainHroText {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.mainLeftHeroDiv .MainHroText h2{
    font-family: var(--grotesk-font);
    font-size: 57px;
    font-weight: 500;
    line-height: 60.4px;
    letter-spacing: -0.02em;
    color: #302F2E;
    margin: 0;
}
.mainLeftHeroDiv .MainHroText h2 span{
    color: var(--chilli-red);
}
.mainLeftHeroDiv .MainHroText p{
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    max-width: 462px;
    color: #000000;
}
.mainLeftHeroDiv .MainHroBtn{
    display: flex;
    align-items: center;
    gap: 50px;
}
.mainLeftHeroDiv .MainHroBtn a{
    border: 1px solid #D04122;
    border-radius: 28px;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    color: var(--chilli-red);
}
.mainLeftHeroDiv .MainHroBtn a:hover{
   background: var(--chilli-red);
   color: #FFFEFE;
}
.mainLeftHeroDiv .MainHroBtn a svg{
  font-size: 22px;
}
.mainLeftHeroDiv .MainHroBtn a:first-child{
   background: var(--chilli-red);
   color: #FFFEFE;
}
.mainLeftHeroDiv .MainHroBtn a:first-child:hover{
    border: 1px solid #D04122;
    color: var(--chilli-red);
    background: transparent;
}


/* MainPracticesSec */
.MainPracticesSec{
    background: linear-gradient(100.03deg, #F2DBBF 18.26%, #FBE9D5 87.57%) !important;
}
.MainPracticesSec .InvtDevBtn a{
    border: 1px solid #72675B !important;
    color: #72675B;
}
.MainPracticesSec .InvtDevBtn a:hover{
    background: var(--chilli-red);
}
.MainPracticesSec .InxtBtn a{
    background: var(--chilli-red) ;
}
.MainPracticesSec .InxtBtn a:hover{
    background: #d04222d5;
}

/* MainPetownerSec */
.MainPetownerSec{
    background: linear-gradient(100.03deg, #FFCD94 18.26%, #FBE8D4 87.57%) !important;
}
.MainPetownerSec .InvtDevBtn a{
    border: 1px solid #72675B !important;
    color: #72675B;
}
.MainPetownerSec .InvtDevBtn a:hover{
    background: var(--chilli-red);
}
.MainPetownerSec .InxtBtn a{
    background: var(--chilli-red) ;
}
.MainPetownerSec .InxtBtn a:hover{
    background: #d04222d5;
}


/* MainLandPricingSec */
.MainLandPricingSec{
    background: linear-gradient(100.03deg, #DDDBF0 18.26%, #F1E8EA 87.57%) !important;
}
.MainLandPricingSec .InvtDevBtn a{
    border: 1px solid #7C79A0  !important;
    color: #7C79A0;
}
.MainLandPricingSec .InvtDevBtn a:hover{
    background: #8E88D2;
}
.MainLandPricingSec .InxtBtn a{
    background: #8E88D2 ;
}
.MainLandPricingSec .InxtBtn a:hover{
    background: #8e88d2ce;
}


/* BuildInnovatorSec */
.BuildInnovatorSec{
    background: linear-gradient(100.03deg, #C3DCD5 18.26%, #E6E9DE 87.57%);
    border-radius: 40px 40px 0px 0px;
    min-height: 861px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -30px;
}

.InnovatorData{
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
    grid-gap: 50px;
    height: 100%;
}

.LeftInnovatr{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.InvtTextDiv{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.IntxtHead{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.IntxtHead h2{
    font-size: 34px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.02em;
    font-family: var(--grotesk-font);
    color: #302F2E;
    margin: 0;
}
.IntxtHead p{
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: #302F2E;
    max-width: 327px;
    margin: 0;
}

.InvtDevBtn a{
    border: 1px solid #477A6B;
    background: transparent;
    padding: 12px 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    color: #477A6B;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    font-family: var(--grotesk-font);
}
.InvtDevBtn a:hover{
    background: #477A6B;
    color: #f5f5f5;
}
.InxtBtn a{
    background: #8AC1B1;
    padding: 12px 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid transparent;
    font-family: var(--grotesk-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 26.6px;
    letter-spacing: -0.02em;
    color: #FFFEFE;
    border-radius: 28px;
}
.InxtBtn a:hover{
    background: #477A6B;
}



.RightInnovatr{
    position: relative;
}
.RightInnovatr img{
    width: 100%;
    position: relative;
}
.RightInnovatr::after {
    position: absolute;
    content: " ";
    background: linear-gradient( color-mix(in srgb, #000, transparent 90%),color-mix(in srgb, #000, transparent 75%)) ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}