.ResourcesSec{
    padding: 100px 0px;
}
.ResourcesData{
    display: flex;
    gap: 80px;
    flex-direction: column;
}
.ResourcesData .ResourcesHead{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.ResourcesData .ResourcesHead .ResourceTexed{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 587px;
}
.ResourcesData .ResourcesHead .ResourceTexed span{
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 120%;
    font-family: var(--satoshi-font);
    color: var(--black-grey-Text);
}
.ResourcesData .ResourcesHead .ResourceTexed h2{
    margin: 0;
    font-size: 40px;
    font-weight: 500;
    line-height: 120%;
    font-family: var(--grotesk-font);
    color: var(--black-text);
}
.ResourcesData .ResourcesHead .ResourceTexed p{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    font-family: var(--satoshi-font);
    color: var(--black-grey-Text);
}
.ResourcesData .ResourcesHead .ResourSearch{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 461px;
    min-height: 48px;
    gap: 8px;
    border: 1px solid var(--pinkborder);
    padding: 10px 24px;
    border-radius: 36px;
}
.ResourcesData .ResourcesHead .ResourSearch .form-control{
    border: none !important;
    outline: none !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    font-family: var(--satoshi-font);
    color: var(--black-text);
}
.ResourcesData .ResourcesHead .ResourSearch .form-control::placeholder{
    opacity: 60%;
}