.ContactUs_Sec{
    padding: 80px 0px;
    background: #FFF2E3;
}
.ContatHeroData{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.leftCont h1{
    font-family: var( --grotesk-font);
    font-size: 57px;
    font-weight: 500;
    line-height: 68.4px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.RytCont{
    background: #FEF8F4;
    box-shadow: 0px 10px 20px 0px #47382729;
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    padding: 64px 40px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.frmhead h3{
    font-family: var( --grotesk-font);
    font-size: 33px;
    font-weight: 500;
    line-height: 39.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.frmhead h3 span{
    color: var(--chilli-red);
}
.EnquiryDiv{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 0px;
}
.radiodiv {
    display: grid;
    grid-template-columns: 20px auto;
    align-items: center;
    gap: 5px;
}
.radiodiv label{
    font-family: var(--grotesk-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    color: #37223C; 
}
.radiodiv input[type="radio"] {
    accent-color: var(--chilli-red);
    margin-right: 5px;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid var(--black-text);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background 0.3s, border-color 0.3s;
}
.radiodiv input[type="radio"]:checked {
    background-color: var(--chilli-red);
    border-color: var(--chilli-red);
}
.radiodiv input[type="radio"]:checked + .radio-label {
    color: var(--chilli-red); 
}
.SubmitDiv{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.SubmitDiv h3{
    font-family: var(--grotesk-font);
    color: var(--black-text);
    font-size: 19px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    margin: 0;
}
.SubmitDiv .radiodiv label{
    font-size: 16px;
    line-height: 18.8px;
    font-weight: 400;
}
.SubmitDiv .radiodiv{
    align-items: flex-start;
}



/* Contact_Info */
.Contact_Info{
    background: var(--background-image)no-repeat;
    background-size: 100% 100%;
    padding: 50px 0px;
}
.ContInfoData{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 50px 0px;
}
.ContName{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--chilli-red);
}
.lftinfo h2{
    font-family: var( --grotesk-font);
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.Rytinfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ContInfoDiv {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.ContInfoDiv h6{
    height: 43px;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    font-family: var(--satoshi-font);
}
.ContInfoDiv h6::after{
    position: absolute;
    content: " ";
    width: 20.25px;
    height: 2.25px;
    background: #000000;
    bottom: 0;
    left: 0;
}
.ContInfoDiv a{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    font-family: var(--satoshi-font);
    transition: all 0.5s ease-in; 
}
.ContInfoDiv a:hover{
    color: var(--chilli-red);
}
.ContInfoDiv p{
    font-size: 18px;
    font-weight: 400;
    line-height: 22.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    font-family: var(--satoshi-font);
    margin: 0;
}