.galleryDiv{
    width: 100%;
}

.GalryTopdetl{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.GalryTopdetl h5{
    font-family: var(--grotesk-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    color: var( --black-text);
}
.GalryTopdetl h5 span{
    color: var(--chilli-red);
}
.GalryTopdetl label{
    position: relative;
    color: var(--chilli-red);
    overflow: hidden;
    font-family: var(--grotesk-font);
    font-size: 21px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
}
.GalryTopdetl input{
    position: absolute;
    opacity: 0;
    
}
.galleryimg-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    padding: 10px 0px;
} 
.galleryimg-grid img{
    width: 100%;
    max-width: 129px;
    min-height: 129px;
} 
.glimage-container{
    position: relative;
}
.delete-button {
    position: absolute;
    top: 0px;
    right: 6px;
    visibility: hidden;
    background: transparent;
    padding: 0;
    border: none;
}
.delete-button i{
    font-size: 20px;
    color: #fff;
    font-weight: 100;
}
.glimage-container:hover .delete-button{
    visibility: visible;
}

.glmore{
    color: var(--chilli-red);
    background: transparent;
    border: none;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    font-family: var(--grotesk-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
}
.glmore:hover{
    transform: scale(1.1);
}