.department-card {
  padding: 32px 24px 24px 24px;
  width: 100%;
}

.department-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.department-title {
  font-size: 23px;
  font-weight: 500;
  line-height: 120%;
  color: var(--black-text);
  font-family: var(--grotesk-font);
  margin: 0;
}

.department-showall {
  background: none;
  border: none;
  color: var(--blue-text);
  font-size: 16px;
  font-weight: 500;
  padding: 10px 16px;
  line-height: 120%;
  cursor: pointer;
  padding: 0;
  font-family: var(--grotesk-font);
  transition: color 0.2s;
}

.department-showall:hover {
  text-decoration: underline;
  color: var(--black-text);
}

.department-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.department-row {
  display: flex;
  align-items: center;
  gap: 12px;
  min-height: 44px;
  padding: 12px 0;
  border-bottom: 1px solid var(--lightgrey);
  cursor: pointer;
  user-select: none;
  position: relative;
}

.department-row:last-child {
  border-bottom: none;
}
/* 
.department-row input[type="checkbox"] {
  appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #bdbdbd;
  border-radius: 6px;
  background: #fff;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: border 0.2s;
  display: grid;
  place-items: center;
}

.department-row input[type="checkbox"]:checked {
  border-color: #1976d2;
  background: #1976d2;
}

.department-row input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.5L4.5 9L11 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center/contain no-repeat;
} */

.department-label {
  color: var(--purple-text);
  font-size: 18px;
  font-weight: 400;
  transition: color 0.2s;
  font-family: var(--satoshi-font);
  line-height: 120%;
}

.department-label.checked {
  color: var(--black-text);
  font-weight: 700;
}

.department-row input[type="checkbox"]:not(:checked) + .department-label {
  color: var(--purple-text);
  font-weight: 400;
}

.department-doctors {
  margin-left: auto;
  color: var(--black-text);
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}

.department-doctors svg {
  font-size: 13px;
  color: var(--black-text);
}
