.RevenueDashBoardSec{
    padding: 100px 0px;
}
.RevnewDashBoardData{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.RevnDashDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.TopRevnew{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.TopRevnew h2{
    font-family: var(--grotesk-font);
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;

}
.RevenueBox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.RevneueBoxItem{
    background: #FFFFFF;
    box-shadow: 4px 4px 18px -5px #55413414;
    padding: 24px 24px 24px 32px;
    border-radius: 24px;
    width: 305px;
    height: 144px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.RevneueBoxItem p{
    font-size: 16px;
    font-weight: 700;
    line-height: 18.6px;
    letter-spacing: -0.02em;
    color: #747473;
    margin: 0;
}
.RevneueBoxItem h3{
    font-family: var(--grotesk-font);
    font-size: 32px;
    font-weight: 500;
    line-height: 39.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.RevneueBoxItem .btmpara{
    display: flex;
    align-items: center;
    gap: 2px;
}
.RevneueBoxItem .btmpara svg{
    width: 16px;
    height: 16px;
}
.RevneueBoxItem .btmpara span{
    font-family: var(--satoshi-font);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    margin: 0;  
}
.RevneueBoxItem .btmpara p{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    margin: 0;  
    color: #747473;
}
.RevneueBoxItem .btmpara .grn{ 
    color: var(--lightgreen);
}
.RevneueBoxItem .btmpara .red{ 
    color: var(--chilli-red);
}

/* Expensive Div  */

.ExpensivDiv , .DepartmentDiv , .InsuredPetDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.topexpensive , .InsuredHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topexpensive h5{
    font-family: var(--grotesk-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 22.6px;
    letter-spacing: -0.02em;
    margin: 0;
    color: var(--black-text);
}


/* Expensive Div  */


/* DepartmentDiv */

.DepartIncomDiv{
    box-shadow: 4px 4px 18px -5px #55413414;
    background: #FFFFFF;
    border-radius: 24px;
    width: 100%;
    min-height: 404px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.departText {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.departText p{
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #595958;
    margin: 0;
}
.departText h5{
    font-family: var(--grotesk-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    margin: 0;
    color: var(--black-text);
}
.DeprtInner{
    display: grid;
    grid-template-areas: 
    "onclogydiv intrmedcndiv Orthopedicsdiv"
    "onclogydiv Gastroenterologydiv Gastroenterologydiv"
    "Cardiologydiv Cardiologydiv Neurologydiv";
    gap: 6px; 
    width: 100%;
    max-width: 580px;
}
.onclogydiv{
    background: linear-gradient(0deg, #FDBD74, #FDBD74),linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    width: 217px;
    height: 232px;
    border-radius: 12px;
    display: flex;
    align-items: end;
    padding: 20px;
    grid-area: onclogydiv;
}
.intrmedcndiv{
    background: linear-gradient(0deg, #fdbd74b0, #fdbd74b0),linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    width: 200px;
    height: 150px;
    border-radius: 12px;
    display: flex;
    align-items: end;
    padding: 20px;
    grid-area: intrmedcndiv;
}
.Orthopedicsdiv{
    background: linear-gradient(0deg, #fdbd7485, #fdbd7485),linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    width: 148px;
    height: 150px;
    border-radius: 12px;
    display: flex;
    align-items: end;
    padding: 20px;
    grid-area: Orthopedicsdiv;
}
.Gastroenterologydiv{
    background: linear-gradient(0deg, #fdbd746e, #fdbd746e),linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    width: 355px;
    height: 73px;
    border-radius: 12px;
    display: flex;
    align-items: end;
    padding: 6px 15px;
    grid-area: Gastroenterologydiv;
}
.Cardiologydiv{
    background: linear-gradient(0deg, #fdbd74de, #fdbd74de),linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    width: 425px;
    height: 114px;
    border-radius: 12px;
    display: flex;
    align-items: end;
    padding: 20px;
    grid-area: Cardiologydiv;
}
.Neurologydiv{
    background: linear-gradient(0deg, #fdbd7450, #fdbd7450),linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    width: 147px;
    height: 114px;
    border-radius: 12px;
    display: flex;
    align-items: end;
    padding: 20px;
    grid-area: Neurologydiv;
}

/* DepartmentDiv */

.InsuredHead h6{
    font-family: var(--grotesk-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 18.8px;
    letter-spacing: -0.02em;
    margin: 0;
    color: var(--black-text);
}




/* SellersDiv */

.SellersDiv{
    background: #FFFFFF;
    box-shadow: 4px 4px 18px -5px #55413414;
    width: 305px;
    height: 340px;
    border-radius: 24px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: center;
}
.sellerProgrss{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sellerProgrss .progress{
    background: none ;
}
.sellerProgrss .progress-bar{
    height: 10px !important;
    margin: 0px !important;
    background-color: var(--lightgreen) !important;
}
.LossProgress .progress-bar{
    background-color: var(--chilli-red) !important;
}
.prgrshead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prgrshead h6{
    font-family: var(--grotesk-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    margin: 0;
    color: var(--black-text);
}

/* SellersDiv */



/* ClientPieChart */

.PetChartData{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.clientPiaChart{
    box-shadow: 4px 4px 18px -5px #55413414;
    background: #FFFFFF;
    border-radius: 24px;
    width: 305px;
    height: 412px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Clienttext{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Clienttext h6{
    font-family: var(--grotesk-font);
    font-size: 19px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    color: #595958;
    margin: 0;
}
.Clienttext h6:last-child{
    color: var(--black-text);
}

.piabtm{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.actv{
    display: flex;
    align-items: center;
    gap: 10px;
}
.actv p{
    display: flex;
    align-items: center;
    font-family: var(--grotesk-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #595958;
    margin: 0;
    gap: 4px;
}
.actv p span.red{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--chilli-red);
}
.actv p span.grn{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FDBD74;
}
.actv h6{
    font-family: var(--grotesk-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.PetVactnedDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.PetVaccant{
    background: #FFFFFF;
    box-shadow: 4px 4px 18px -5px #55413414;
    width: 305px;
    height: 196px;
    border-radius: 24px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.PetNeterd{
    background: #FFFFFF;
    box-shadow: 4px 4px 18px -5px #55413414;
    width: 305px;
    height: 196px;
    border-radius: 24px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.PetVaccant h5 , .PetNeterd h5 {
    font-family: var(--grotesk-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0; 
}



/* ClientPieChart */