.Patients_table {
    padding: 24px 40px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 4px 4px 18px -5px #55413414;
    border-radius: 36px;
}
.Patients_table .table_custom th {
    font-weight: bold;
    color: #302F2E;
    opacity: 70%;
    font-family: var(--satoshi-font);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    

}
.Patients_table .table_custom td {
    vertical-align: middle;
}

.Patients_table .table_custom td:first-child,
.Patients_table .table_custom th:first-child {
    width: 5%;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    font-family: var(--satoshi-font);
}
.Patients_table .table_custom tr {
    border-bottom: 1px solid #EAEAEA !important;
}
.Patients_table .table_custom td {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    font-family: var(--satoshi-font);
    height: 67px;
}
.Patients_table .table_custom td small{
    opacity: 60%;
}

.Patients_table .table_custom td:last-child,
.Patients_table .table_custom th:last-child {
    width: 10%;
}
.Patients_table .table_custom td:last-child {
    display: flex;
    align-items: center;
    gap: 8px;
}
.Patients_table .table_custom td:last-child button {
    background: transparent !important; 
    border: none;
    padding: 0;
}
.Patients_table .table_custom td:last-child button svg {
    color: #747473;
    font-size: 18px;
}

.statusdiv{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background: #F5F5F5;
    border-radius: 8px;
    padding: 8px;
    justify-content: center;
}
.statusdiv span{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
}
.statusdiv p{
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    font-family: var(--satoshi-font);

}
.bg-warning {
    background-color: #ffc107;
}

.bg-success {
    background-color: #28a745;
}

.bg-primary {
    background-color: #007bff;
}

.bg-secondary {
    background-color: #6c757d;
}

.bg-danger {
    background-color: #dc3545;
}