/* .SelectedInpt select{
    width: 100%;
    height: 100%;
    min-height: 60px;
    padding: 10px 24px;
    border-radius: 36px;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    font-family: var(--satoshi-font);
    background-color: transparent;
    outline: var(--black-text);
    position: relative;
    border: 1px solid var(--greyborder);
    color: var(--black-text) 0.5;
    appearance: none;
    -webkit-appearance: none; 
    background-image: var(--background-image); 
    background-repeat: no-repeat !important;
    background-position: right 20px center !important; 
    background-size: 22px !important; 
}
.SelectedInpt select:focus {
    border-color: var(--black-text) !important;
    box-shadow: none;
} */

.SelectedInptDropdown .dropdown button{
    width: 100%;
    height: 100%;
    min-height: 60px;
    padding: 10px 24px;
    border-radius: 36px;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    font-family: var(--satoshi-font);
    background-color: transparent !important;
    outline: var(--black-text) !important;
    position: relative;
    border: 1px solid var(--greyborder);
    color: #31294399 !important;
    appearance: none;
    -webkit-appearance: none; 
    /* background-image: url(/Images/downarrow.png); 
    background-repeat: no-repeat !important;
    background-position: right 20px center !important;  */
    background-size: 22px !important; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SelectedInptDropdown .dropdown button:focus {
    border-color: var(--blue-text) !important;
    box-shadow: none;
} 
.SelectedInptDropdown .custom-dropdown-menu {
    width: 100%;
} 
