/* HomeHeroSection started  */
.HomeHeroSection {
  padding: 80px 0px;
  display: flex;
  align-items: center;
}
.HomeHeroSection .HeroData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.HomeHeroSection .HeroData .LeftHeroDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.LeftHeroDiv .herotext h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  color: var(--black-text);
  font-family: var(--grotesk-font);
  overflow: hidden;
  white-space: nowrap;
  padding: 5px 0px;
  animation:
    type 1.5s steps(90) 1.5s 1 normal both,
    cursor 1s step-end infinite;
  position: relative;
  margin: 0;
}
.LeftHeroDiv .herotext .first {
  animation:
    type 1.5s steps(90) 0s 1 normal both,
    cursor 1s step-end infinite;
}
.LeftHeroDiv .herotext .second {
  animation:
    type 1.5s steps(90) 1.5s 1 normal both,
    cursor 1s step-end infinite; /* Delay for the second h1 */
}
@keyframes type {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.LeftHeroDiv .heroPara {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.LeftHeroDiv .heroPara .paraitem p {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--satoshi-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: var(--black-text);
  margin: 0;
}
.LeftHeroDiv .HeroBtn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 40px;
}
a.Fillbtn {
  background: var(--black-bg);
  border: 1px solid var(--black-bg);
  border-radius: 28px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--white-text);
  transition: all 0.3s ease;
  font-size: 21px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
  min-height: 60px;
  &:hover {
    background: var(--black-hover);
  }
}
a.UnFillbtn {
  background: var(---whitebg);
  color: var(--black-text);
  border: 1px solid var(--black-bg);
  border-radius: 28px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease;
  font-size: 21px;
  font-weight: 500;
  line-height: 120%;
  font-family: var(--grotesk-font);
  &:hover {
    box-shadow: 0px 2px 70px 6px #00000029;
  }
}

@media screen and (max-width: 640px) {
  a.Fillbtn {
    padding: 14px 24px;
  }
  a.UnFillbtn {
    padding: 16px 28px;
  }
}

/* HomeHeroSection Ended  */

/* PracticedSection Started  */

.PracticedSection {
  padding: 80px 0px;
}
.PracticedData {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.PractHeading h2 {
  font-family: var(--grotesk-font);
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  color: var(--black-text);
}
.Practice_Box_Data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px 20px;
  padding: 20px 0px;
}
.PracBox {
  background: var(--whitebg);
  border: 1px solid var(--lightgrey);
  width: 100%;
  max-width: 305px;
  border-radius: 36px;
  min-height: 309px;
  padding: 28px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}
.PracBox h4 {
  font-family: var(--grotesk-font);
  font-size: 26px;
  font-weight: 500;
  line-height: 120%;
  color: var(--black-text);
  margin: 0;
  padding-top: 15px;
}
.PracBox p {
  font-family: var(--satoshi-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: var(--black-text);
  margin: 0;
  opacity: 80%;
}
/* PracticedSection Ended  */

/* FocusSection Started */

.FocusData {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.FocusTexted {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  min-width: 443px;
  margin: 0 auto;
  text-align: center;
}
.FocusTexted h2 {
  font-family: var(--grotesk-font);
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  color: var(--black-text);
  margin: 0;
}
.FocusTexted p {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: var(--black-text);
  margin: 0;
  font-family: var(--satoshi-font);
  max-width: 422px;
}
.Focus_data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 20px;
  padding: 10px 0px;
}
.FocusItem {
  background: var(--whitebg);
  border: 1px solid var(--lightgrey);
  box-shadow: 0px 0px 8px 0px #247aed14;
  width: 100%;
  max-width: 415px;
  border-radius: 28px;
  min-height: 309px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;
}
.focusText {
  max-width: 377px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.focusText h4 {
  font-family: var(--grotesk-font);
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
  color: var(--black-text);
  margin: 0;
}
.focusText p {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: var(--pureblack);
  margin: 0;
  opacity: 80%;
  font-family: var(--satoshi-font);
}
/* FocusSection ended  */

/* TrustExpertSec Started */

.TrustExpertSec {
  padding: 100px 0px 80px 0px;
}
.ExptMaindata {
  display: flex;
  flex-direction: column;
}
.ExprtTexted {
  text-align: center;
}
.ExprtTexted h4 {
  font-weight: 500;
  font-size: 40px;
  font-family: var(--grotesk-font);
  line-height: 120%;
  margin: 0;
  color: var(--black-text);
}
.TrustExpertData {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 50px 0px;
  position: relative;
}
.TrustExpertData::after {
  position: absolute;
  content: " ";
  background: url("https://d2il6osz49gpup.cloudfront.net/Images/TrustAfter.png");
  background-size: 100% 100%;
  height: 300px;
  width: 300px;
  right: -25px;
  top: -220px;
  animation: heartbeat 1.5s infinite ease-in-out;
  z-index: -1;
}
@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1); /* Normal size */
  }
  50% {
    transform: scale(1.1); /* Slightly larger size */
  }
}
.Expertitems {
  background: var(--whitebg);
  box-shadow: 0px 28.93px 63.5px 0px #450e1529;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  width: 100%;
  max-width: 302px;
  padding: 16px;
  height: 100%;
  min-height: 360px;
}
.Expertitems::after {
  position: absolute;
  content: " ";
  background: var(--blue-text);
  width: 55px;
  height: 4px;
  top: 0;
}
.expertBio {
  position: absolute;
  display: flex;
  gap: 8px;
  padding: 20px 16px;
  border-radius: 16px 16px 0px 0px;
  background: var(--blue-text);
  width: 100%;
  left: 0;
  bottom: 0;
}
.expertBio img {
  border-radius: 50%;
}
.expertPara {
  min-height: 244px;
  display: flex;
  align-items: center;
}
.expertPara p {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: var(--black-text);
  font-family: var(--satoshi-font);
  margin: 0;
}
.exprtName {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.exprtName h6 {
  font-family: var(--satoshi-font);
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
  color: var(--white-text);
  margin: 0;
}
.exprtName p {
  font-size: 13px;
  font-weight: 700;
  line-height: 120%;
  color: var(--white-text);
  margin: 0;
  opacity: 70%;
}

/* TrustExpertSec Ended */

/* WhoCareSection Started  */

.WhoCareSection {
  padding: 50px 0px;
}
.whocareData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.whocareData .lftcare {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.whocareData .lftcare h2 {
  font-family: var(--grotesk-font);
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
}
.whocareData .lftcare p {
  font-family: var(--satoshi-font);
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  max-width: 422px;
}
.whocareData .rytcare {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.whocareData .rytcare p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  color: var(--black-text);
  opacity: 70%;
}
.whocareData .rytcare .carelog {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

/* WhoCareSection Ended   */

.BetterCareSec {
  padding: 100px 0px 200px 0px;
}
.BettercareBox {
  width: 100%;
  max-width: 1064px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  background: var(--whitebg);
  box-shadow: 0px 0px 8px 0px #55413414;
  border: 1px solid var(--lightgrey);
  border-radius: 38px;
}
.lftbetter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.betInner {
  max-width: 422px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 52px;
}
.betInner .careText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.betInner h2 {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  font-family: var(--grotesk-font);
  color: var(--black-text);
  line-height: 120%;
}
.betInner p {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--satoshi-font);
  margin: 0;
}
.lftbetter img {
  width: 100%;
}
