.InventoryDetailsSec{
    padding: 100px 0px;
}
.InventoryDetailsdata{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.TopDetailHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.TopDetailHead h3{
    font-family: var(--grotesk-font);
    font-size: 33px;
    font-weight: 500;
    line-height: 39.6px;
    letter-spacing: -0.02em;
    color: var(--black-text);
}
.TopDetailHead h3 span{
    color: var(--chilli-red);
}
.TopDetailHead a{
    border: 1px solid var(--chilli-red);
    color: var(--chilli-red);
    padding: 14px 24px;
    font-size: 19px;
    font-weight: 500;
    line-height: 22.8px;
    letter-spacing: -0.02em;
    font-family: var(--grotesk-font);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 28px;
    transition: 0.3s;
}
.TopDetailHead a:hover{
    color: #f5f5f5;
    background: var(--chilli-red);
}
.InventoryDetailsBox{
    border: 1px solid #5D412F26;
    background: #FEEEDC1A;
    padding: 40px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.detaildivInner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
    border-bottom: 0.5px solid #747473;
}
.detaildivInner:last-child{
    border-bottom: none;
}
.detaildivInner h5{
    font-family: var(--grotesk-font);
    font-size: 23px;
    font-weight: 500;
    line-height: 27.6px;
    letter-spacing: -0.02em;
    margin: 0;
}
.baskdetail{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px;
}
.dtlinr {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.dtlinr p{
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #747473;
    margin: 0;
}
.dtlinr h6{
    font-family: var(--satoshi-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 18.6px;
    letter-spacing: -0.02em;
    margin: 0;
    color: var(--black-text);
}
.detailprogbar{
    display: flex;
    align-items: center;
    gap: 12px;
}
.detailprogbar p{
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    opacity: 70%;
    color: var(--black-text);
    margin: 0;
}
.detailprogbar h6{
    font-family: var(--satoshi-font);
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-text);
    margin: 0;
}
.detailprogbar {
    display: flex;
    align-items: center;
    gap: 12px;
}